<div class="position-relative">
    <form [formGroup]="formAdopt">
        <div class="grid">
            <div class="lg:col-6 col-12">
                <div class="flex flex-column gap-2">
                    <label for="registeredBy">Người nhận nuôi <span class="text-red-500 font-bold">*</span></label>
                    <p-dropdown [options]="users" optionLabel="name" [filter]="true" filterBy="name"
                        filterPlaceholder="Họ và tên" emptyMessage="Không có dữ liệu" id="registeredBy" (onChange)="getStatistical()"
                        [showClear]="true" placeholder="--Chọn--" styleClass="mat-form-field" formControlName="registeredBy">
                        <ng-template let-user pTemplate="item">
                            <div class="flex align-items-center">
                                <div>{{ user.name }} - {{ user.email }} - {{user.phoneNumber}}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div [hidden]="formAdopt.controls['registeredBy'].valid || !formAdopt.controls['registeredBy'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng chọn người nhận nuôi
                </div>
            </div>
            <div class="lg:col-6 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet">Thú cưng <span class="text-red-500 font-bold">*</span></label>
                    <p-dropdown [options]="pets" optionLabel="name" [filter]="true" filterBy="code" 
                        filterPlaceholder="Mã thú cưng" emptyMessage="Không có dữ liệu" id="pet"
                        [showClear]="true" placeholder="--Chọn--" styleClass="mat-form-field" formControlName="petAdopt">
                        <ng-template let-pet pTemplate="item">
                            <div class="flex align-items-center">
                                <div>{{ pet.code }} - {{ pet.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
                <div [hidden]="formAdopt.controls['petAdopt'].valid || !formAdopt.controls['petAdopt'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng chọn thú cưng
                </div>
            </div>
            <div class="xl:col-4 lg:col-4 md:col-4 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="province">Tỉnh/thành phố <span class="text-red-500 font-bold">*</span></label>
                    <p-dropdown [options]="provinces" optionLabel="name" optionValue="id" id="province"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu" formControlName="province" 
                        (onChange)="getDistricts(); wards = []" (onClear)="districts = []; wards = []">
                    </p-dropdown>
                </div>
                <div [hidden]="formAdopt.controls['province'].valid || !formAdopt.controls['province'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng chọn tỉnh/thành phố 
                </div>
            </div>
            <div class="xl:col-4 lg:col-4 md:col-4 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="district">Quận/huyện/thị xã <span class="text-red-500 font-bold">*</span></label>
                    <p-dropdown [options]="districts" optionLabel="name" optionValue="id" id="district"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu" (onChange)="getWards()" formControlName="district" (onClear)="wards = []"></p-dropdown>
                </div>
                <div [hidden]="formAdopt.controls['district'].valid || !formAdopt.controls['district'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng chọn quận/huyện/thị xã 
                </div>
            </div>
            <div class="xl:col-4 lg:col-4 md:col-4 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="ward">Xã/phường/thị trấn <span class="text-red-500 font-bold">*</span></label>
                    <p-dropdown [options]="wards" optionLabel="name" optionValue="id" id="ward"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu" formControlName="ward"></p-dropdown>
                </div>
                <div [hidden]="formAdopt.controls['ward'].valid || !formAdopt.controls['ward'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng chọn xã/phường/thị trấn 
                </div>
            </div>
            <div class="col-12">
                <div class="flex flex-column gap-2">
                    <label for="address">Số nhà, tên đường <span class="text-red-500 font-bold">*</span></label>
                    <input pInputText id="address" styleClass="mat-form-field" formControlName="address"/>
                </div>
                <div [hidden]="!formAdopt.controls['address'].hasError('required') || !formAdopt.controls['address'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng nhập thông tin số nhà, tên đường
                </div>
                <div [hidden]="!formAdopt.controls['address'].hasError('maxlength') || !formAdopt.controls['address'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Độ dài thông tin không hợp lệ (Tối đa 255 ký tự)
                </div>
            </div>
            <div class="col-12">
                <div class="flex flex-column gap-2">
                    <label for="reason">Lý do nhận nuôi <span class="text-red-500 font-bold">*</span></label>
                    <input pInputText id="reason" styleClass="mat-form-field" formControlName="reason"/>
                </div>
                <div [hidden]="!formAdopt.controls['reason'].hasError('required') || !formAdopt.controls['reason'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng nhập lý do nhận nuôi
                </div>
                <div [hidden]="!formAdopt.controls['reason'].hasError('maxlength') || !formAdopt.controls['reason'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Độ dài thông tin không hợp lệ (Tối đa 255 ký tự)
                </div>
            </div>
            <div class="col-12">
                <p-panel header="Thông tin đăng ký" styleClass="mb-3">
                    <div *ngIf="this.formAdopt.controls['registeredBy'].value" class="grid">
                        <div class="lg:col-3 col-12">
                            <p>Người nhận nuôi: <b>{{this.formAdopt.controls['registeredBy'].value.name}}</b></p>
                            <p>Email liên hệ: <b>{{this.formAdopt.controls['registeredBy'].value.email}}</b></p>
                            <p>Số điện thoại: <b>{{this.formAdopt.controls['registeredBy'].value.phoneNumber}}</b></p>
                        </div>
                        <div class="lg:col-9 col-12">
                            <div class="grid">
                                <div class="md:col-4 col-12">
                                    <div class="card p-3">
                                        <div class="flex justify-content-between mb-3">
                                            <div>
                                                <span class="block text-500 font-medium mb-3">Tổng số đơn</span>
                                                <div class="text-900 font-medium text-xl">{{statistic.total}}</div>
                                            </div>
                                            <div class="flex align-items-center justify-content-center bg-indigo-100 border-round" style="width: 2.5rem; height: 2.5rem;">
                                                <i class="fa fa-plus text-indigo-500 text-xl"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="md:col-4 col-12">
                                    <div class="card p-3">
                                        <div class="flex justify-content-between mb-3">
                                            <div>
                                                <span class="block text-500 font-medium mb-3">Đơn chờ xử lý</span>
                                                <div class="text-900 font-medium text-xl">{{statistic.countWaiting}}</div>
                                            </div>
                                            <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width: 2.5rem; height: 2.5rem;">
                                                <i class="fa fa-file-circle-question text-blue-500 text-xl"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="md:col-4 col-12">
                                    <div class="card p-3">
                                        <div class="flex justify-content-between mb-3">
                                            <div>
                                                <span class="block text-500 font-medium mb-3">Đơn đang xử lý</span>
                                                <div class="text-900 font-medium text-xl">{{statistic.countInProgress}}</div>
                                            </div>
                                            <div class="flex align-items-center justify-content-center bg-yellow-100 border-round" style="width: 2.5rem; height: 2.5rem;">
                                                <i class="fa fa-hourglass-start text-yellow-500 text-xl"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="md:col-4 col-12">
                                    <div class="card p-3">
                                        <div class="flex justify-content-between mb-3">
                                            <div>
                                                <span class="block text-500 font-medium mb-3">Đơn đã hoàn thành</span>
                                                <div class="text-900 font-medium text-xl">{{statistic.countComplete}}</div>
                                            </div>
                                            <div class="flex align-items-center justify-content-center bg-green-100 border-round" style="width: 2.5rem; height: 2.5rem;">
                                                <i class="fa fa-check text-green-500 text-xl"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="md:col-4 col-12">
                                    <div class="card p-3">
                                        <div class="flex justify-content-between mb-3">
                                            <div>
                                                <span class="block text-500 font-medium mb-3">Đơn đã hủy</span>
                                                <div class="text-900 font-medium text-xl">{{statistic.countCancel}}</div>
                                            </div>
                                            <div class="flex align-items-center justify-content-center bg-red-100 border-round" style="width: 2.5rem; height: 2.5rem;">
                                                <i class="fa fa-xmark text-red-500 text-xl"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="md:col-4 col-12">
                                    <div class="card p-3">
                                        <div class="flex justify-content-between mb-3">
                                            <div>
                                                <span class="block text-500 font-medium mb-3">Đơn bị từ chối</span>
                                                <div class="text-900 font-medium text-xl">{{statistic.countReject}}</div>
                                            </div>
                                            <div class="flex align-items-center justify-content-center surface-300 border-round" style="width: 2.5rem; height: 2.5rem;">
                                                <i class="fa fa-cancel text-black-500 text-xl"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-panel>
                <p-panel header="Thông tin thú cưng">
                    <div *ngIf="this.formAdopt.controls['petAdopt'].value" class="grid">
                        <div class="xl:col-3 lg:col-3 md:col-6 col-8 mx-auto">
                            <img src="{{this.formAdopt.controls['petAdopt'].value.image}}" 
                            alt="{{this.formAdopt.controls['petAdopt'].value.name}}" class="w-full mt-2" style="border-radius: 10px; max-height: 600px;">
                        </div>
                        <div class="xl:col-2 lg:col-2 md:col-6 col-12 mx-auto">
                            <p class="text-3xl font-semibold mb-3">{{this.formAdopt.controls['petAdopt'].value.name}}</p>
                            <p-divider type="dashed"></p-divider>
                            <p><b>Mã:</b> {{this.formAdopt.controls['petAdopt'].value.code}}</p>
                            <p-divider type="dashed"></p-divider>
                            <p><b>Giống:</b> {{this.formAdopt.controls['petAdopt'].value.breed}}</p>
                            <p-divider type="dashed"></p-divider>
                            <p><b>Màu lông:</b> {{this.formAdopt.controls['petAdopt'].value.color}}</p>
                            <p-divider type="dashed"></p-divider>
                            <p><b>Tuổi:</b> {{this.petService.getAge(this.formAdopt.controls['petAdopt'].value.age)}}</p>
                            <p-divider type="dashed"></p-divider>
                            <p><b>Cân nặng:</b> {{this.formAdopt.controls['petAdopt'].value.weight}} kg</p>
                            <p-divider type="dashed"></p-divider>
                            <p><b>Giới tính:</b> {{this.petService.getGender(this.formAdopt.controls['petAdopt'].value.gender)}}</p>
                            <p-divider type="dashed"></p-divider>
                        </div>
                        <div class="xl:col-7 lg:col-7 md:col-12 col-12 mx-auto">
                            <p class="text-3xl font-semibold mb-3">Thông tin</p>
                            <p-divider></p-divider>
                            <div class="grid mt-1">
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(this.formAdopt.controls['petAdopt'].value.sterilization)}}" [severity]="petService.getBadgeSeverity(this.formAdopt.controls['petAdopt'].value.sterilization)"></p-badge> Triệt sản</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(this.formAdopt.controls['petAdopt'].value.friendlyToHuman)}}" [severity]="petService.getBadgeSeverity(this.formAdopt.controls['petAdopt'].value.friendlyToHuman)"></p-badge> Thân thiện với người</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(this.formAdopt.controls['petAdopt'].value.diet)}}" [severity]="petService.getBadgeSeverity(this.formAdopt.controls['petAdopt'].value.diet)"></p-badge> Chế độ ăn riêng</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(this.formAdopt.controls['petAdopt'].value.rabies)}}" [severity]="petService.getBadgeSeverity(this.formAdopt.controls['petAdopt'].value.rabies)"></p-badge> Tiêm dại</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(this.formAdopt.controls['petAdopt'].value.friendlyToDogs)}}" [severity]="petService.getBadgeSeverity(this.formAdopt.controls['petAdopt'].value.friendlyToDogs)"></p-badge> Thân thiện với chó</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(this.formAdopt.controls['petAdopt'].value.toilet)}}" [severity]="petService.getBadgeSeverity(this.formAdopt.controls['petAdopt'].value.toilet)"></p-badge> Đi vệ sinh đúng chỗ</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(this.formAdopt.controls['petAdopt'].value.vaccine)}}" [severity]="petService.getBadgeSeverity(this.formAdopt.controls['petAdopt'].value.vaccine)"></p-badge> Tiêm phòng bệnh</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(this.formAdopt.controls['petAdopt'].value.friendlyToCats)}}" [severity]="petService.getBadgeSeverity(this.formAdopt.controls['petAdopt'].value.friendlyToCats)"></p-badge> Thân thiện với mèo</p>
                                </div>
                                <div class="col-12">
                                    <p><span class="font-semibold">Mô tả: </span><span>{{this.formAdopt.controls['petAdopt'].value.description}}</span></p>
                                </div>
                                <div class="col-12">
                                    <p><span class="font-semibold">Ghi chú: </span>
                                        <span *ngIf="this.formAdopt.controls['petAdopt'].value.note; else showDots">
                                            {{ this.formAdopt.controls['petAdopt'].value.note }}
                                        </span>
                                        <ng-template #showDots>
                                            <span>...</span>
                                        </ng-template>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <app-treatment-pet [idPet]="this.formAdopt.value.petAdopt.id"></app-treatment-pet>
                        </div>
                    </div>
                </p-panel>
            </div>
        </div>
        <div class="mt-3" align="center">
            <p-button label="Làm mới" icon="fa fa-refresh" styleClass="p-button-outlined mr-3" [disabled]="!formAdopt.dirty" (onClick)="formAdopt.reset()"></p-button>
            <p-button label="Lưu thông tin" icon="fa fa-save" (onClick)="onSaveAdopt()"></p-button>
        </div>
    </form>
</div>