<div *ngIf="adopt" class="position-relative">
    <form [formGroup]="formAdopt">
        <div class="grid">
            <div class="xl:col-4 lg:col-4 md:col-4 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="adopt-province">Tỉnh/thành phố <span class="text-red-500 font-bold">*</span></label>
                    <p-dropdown [options]="provinces" optionLabel="name" optionValue="id" id="adopt-province"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu" formControlName="province" (onChange)="getDistricts(); wards = []" (onClear)="districts = []; wards = []"></p-dropdown>
                </div>
                <div [hidden]="formAdopt.controls['province'].valid || !formAdopt.controls['province'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng chọn tỉnh/thành phố 
                </div>
            </div>
            <div class="xl:col-4 lg:col-4 md:col-4 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-district">Quận/huyện/thị xã <span class="text-red-500 font-bold">*</span></label>
                    <p-dropdown [options]="districts" optionLabel="name" optionValue="id"  id="pet-district"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--" 
                        emptyMessage="Không có dữ liệu" (onChange)="getWards()" formControlName="district" (onClear)="wards = []"></p-dropdown>
                </div>
                <div [hidden]="formAdopt.controls['district'].valid || !formAdopt.controls['district'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng chọn quận/huyện/thị xã 
                </div>
            </div>
            <div class="xl:col-4 lg:col-4 md:col-4 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-ward">Xã/phường/thị trấn <span class="text-red-500 font-bold">*</span></label>
                    <p-dropdown [options]="wards" optionLabel="name" optionValue="id" id="pet-ward"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu" formControlName="ward"></p-dropdown>
                </div>
                <div [hidden]="formAdopt.controls['ward'].valid || !formAdopt.controls['ward'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng chọn xã/phường/thị trấn 
                </div>
            </div>
            <div class="lg:col-8 col-12">
                <div class="flex flex-column gap-2">
                    <label for="address">Số nhà, tên đường <span class="text-red-500 font-bold">*</span></label>
                    <input pInputText id="address" styleClass="mat-form-field" formControlName="address"/>
                </div>
                <div [hidden]="!formAdopt.controls['address'].hasError('required') || !formAdopt.controls['address'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng nhập thông tin số nhà, tên đường
                </div>
                <div [hidden]="!formAdopt.controls['address'].hasError('maxlength') || !formAdopt.controls['address'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Độ dài thông tin không hợp lệ (Tối đa 255 ký tự)
                </div>
            </div>
            <div class="lg:col-4 col-12">
                <div class="flex flex-column gap-2">
                    <label for="fee">Tiền vía <span class="text-red-500 font-bold">*</span></label>
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            ₫
                        </span>
                        <p-inputNumber styleClass="mat-form-field" formControlName="fee" inputId="fee"></p-inputNumber>
                    </div>
                </div>
                <div [hidden]="formAdopt.controls['fee'].valid || !formAdopt.controls['fee'].touched"
                    class="text-red-500 mt-2 ml-1">
                        Vui lòng nhập thông tin tiền vía
                </div>
            </div>
            <div class="col-12">
                <div class="flex flex-column gap-2">
                    <label for="reason">Lý do nhận nuôi <span class="text-red-500 font-bold">*</span></label>
                    <input pInputText id="reason" styleClass="mat-form-field" formControlName="reason"/>
                </div>
                <div [hidden]="!formAdopt.controls['reason'].hasError('required') || !formAdopt.controls['reason'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng nhập lý do nhận nuôi
                </div>
                <div [hidden]="!formAdopt.controls['reason'].hasError('maxlength') || !formAdopt.controls['reason'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Độ dài thông tin không hợp lệ (Tối đa 255 ký tự)
                </div>
            </div>
            <div class="col-12">
                <p-panel header="Trạng thái">
                    <p>
                        <p-badge [value]="this.adoptService.getStatus(adopt.status)"
                            [severity]="this.adoptService.getSeverityStatus(adopt.status)" size="large"></p-badge>
                    </p>
                    <div *ngIf="adopt.status == adoptStatus.REJECT">
                        <p>Lý do từ chối: <b>{{adopt.rejectedReason}}</b></p>
                        <p>Thời gian từ chối: <b>{{adopt.rejectedAt | date:'HH:mm - dd/MM/yyyy'}}</b></p>
                        <p>Người từ chối: <b>{{adopt.nameRejectedBy}}</b></p>
                    </div>
                    <div *ngIf="adopt.status == adoptStatus.COMPLETE">
                        <p>Tiền vía: <b>{{adopt.fee | currency: ' ' }} VNĐ</b></p>
                        <p>Thời gian xác nhận: <b>{{adopt.confirmedAt | date:'HH:mm - dd/MM/yyyy'}}</b></p>
                        <p>Người xác nhận: <b>{{adopt.nameConfirmedBy}}</b></p>
                    </div>
                </p-panel>
            </div>
            <div class="col-12">
                <p-panel header="Thông tin đăng ký" styleClass="mb-3">
                    <div class="grid">
                        <div class="lg:col-3 col-12">
                            <p>Người nhận nuôi: <b>{{adopt.nameRegisteredBy}}</b></p>
                            <p>Email liên hệ: <b>{{adopt.emailRegisteredBy}}</b></p>
                            <p>Số điện thoại: <b>{{adopt.phoneRegisteredBy}}</b></p>
                            <p>Thời gian tạo: <b>{{adopt.createdAt | date:'HH:mm - dd/MM/yyyy'}}</b></p>
                        </div>
                    </div>
                    <app-statistic-adopt [userId]="adopt.registeredBy"></app-statistic-adopt>
                </p-panel>
                <app-infor-pet [pet]="pet" [visibleNote]="true"></app-infor-pet>
                <app-treatment-pet [idPet]="adopt.petId"></app-treatment-pet>
            </div>
        </div>
        <div class="mt-3" align="center" *ngIf="adopt && !isNotAvailableForUpdate()">
            <p-button label="Hoàn tác" icon="fa fa-refresh" styleClass="p-button-outlined mr-3" [disabled]="!formAdopt.dirty" (onClick)="onInitForm()"></p-button>
            <p-button label="Lưu thay đổi" icon="fa fa-save" (onClick)="onSaveAdopt($event)"></p-button>
        </div>
    </form>
</div>