<div class="main-content" #mainContent>
    <p-menubar>
        <ng-template pTemplate="start">
            <a href="https://huce.edu.vn"><img src="../../../../assets/medias/imgs/logo-huce.png" height="40"
                    class="mr-2" /></a>
        </ng-template>
        <ng-template pTemplate="end">
            <a routerLink="/home" class="p-button-primary"><p-button icon="pi pi-times"
                    styleClass="p-button-rounded p-button-primary p-button-text p-button-lg"></p-button></a>
        </ng-template>
    </p-menubar>
    <form (ngSubmit)="onRegister()" [formGroup]="registerForm" class="form-center">
        <p-panel class="xl:col-4 lg:col-6 md:col-6 col-12 panel">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2">
                    <!-- <a routerLink="/home"><p-avatar image="../../../assets/medias/imgs/logo-huce.png" size="large"
                            shape="square" /></a> -->
                    <span class="font-bold text-4xl ml-2">Đăng ký</span>
                </div>
            </ng-template>
            <div class="grid">
                <div class="col-12">
                    <div class="col-6 font-bold">
                        Họ và tên (<span class="text-red-500">*</span>):
                    </div>
                    <div class="col-12">
                        <input pInputText type="text" formControlName="name" class="form-control"
                            name="name">
                    </div>
                    <div class="text-red-500 ml-3" *ngIf="registerForm.controls['name'].hasError('required') && registerForm.controls['name'].dirty">
                        Vui lòng nhập họ tên
                    </div>
                    <div class="text-red-500 ml-3" *ngIf="registerForm.controls['name'].hasError('pattern') && registerForm.controls['name'].dirty">
                        Họ tên không hợp lệ
                    </div>
                </div>
                <div class="col-12">
                    <div class="col-6 font-bold">
                        Mã số sinh viên (<span class="text-red-500">*</span>):
                    </div>
                    <div class="col-12">
                        <input pInputText type="text" formControlName="studentCode" class="form-control" name="student-code">
                    </div>
                    <div class="text-red-500 ml-3" *ngIf="registerForm.controls['studentCode'].hasError('required') && registerForm.controls['studentCode'].dirty">
                        Vui lòng nhập mã số sinh viên
                    </div>
                    <div class="text-red-500 ml-3" *ngIf="registerForm.controls['studentCode'].hasError('pattern') && registerForm.controls['studentCode'].dirty">
                        Mã số sinh viên phải là số
                    </div>
                </div>
                <div class="col-12">
                    <div class="col-6 font-bold">
                        Email (<span class="text-red-500">*</span>) (<span class="text-red-500">@huce.edu.vn</span>):
                    </div>
                    <div class="col-12">
                        <input pInputText type="email" formControlName="email" class="form-control" name="email">
                    </div>
                    <div class="text-red-500 ml-3" *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].dirty">
                        Vui lòng nhập email
                    </div>
                    <div class="text-red-500 ml-3" *ngIf="registerForm.controls['email'].hasError('pattern') && registerForm.controls['email'].dirty">
                        Email không hợp lệ
                    </div>
                </div>
                <div class="col-12">
                    <div class="col-6 font-bold">
                        Mật khẩu (<span class="text-red-500">*</span>):
                    </div>
                    <div class="col-12">
                        <p-password formControlName="password" class="form-control" promptLabel=" " weakLabel="Yếu" mediumLabel="Trung bình" strongLabel="Mạnh" [style]="{'width':'100%'}"
                        [inputStyle]="{'width':'100%'}">
                            <ng-template pTemplate="header">
                                <h6>Nhập mật khẩu</h6>
                            </ng-template>
                            <ng-template pTemplate="footer">
                                <p-divider></p-divider>
                                <p class="mt-2 font-bold">Yêu cầu</p>
                                <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                    <li>Tối thiểu 1 ký tự chữ thường</li>
                                    <li>Tối thiểu 1 ký tự chữ hoa</li>
                                    <li>Tối thiểu 1 ký tự số</li>
                                    <li>Độ dài tối thiểu 8 ký tự</li>
                                </ul>
                            </ng-template>
                        </p-password>
                    </div>
                    <div class="text-red-500 ml-3" *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].dirty">
                        Vui lòng nhập mật khẩu
                    </div>
                    <div class="text-red-500 ml-3" *ngIf="registerForm.controls['password'].hasError('pattern') && registerForm.controls['password'].dirty">
                        Mật khẩu không hợp lệ
                    </div>
                </div>
                <div class="col-12">
                    <div class="col-6 font-bold">
                        Khoa trực thuộc (<span class="text-red-500">*</span>):
                    </div>
                    <div class="col-12">
                        <p-dropdown formControlName="faculty" placeholder="Chọn" class="form-control" name="faculty" [options]="faculties" optionLabel="name" [style]="{'width':'100%'}" [showClear]="true" emptyMessage="Không có dữ liệu"></p-dropdown>
                    </div>
                    <div class="text-red-500 ml-3" *ngIf="registerForm.controls['faculty'].hasError('required') && registerForm.controls['faculty'].touched">
                        Vui lòng chọn khoa trực thuộc
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <div class="col-12">
                        <button pButton label="Đăng ký" type="submit" [disabled]="!registerForm.valid || isSubmitted"
                            class="btn-register">
                        </button>
                    </div>
                    <div class="col-12 mt-1" [hidden]="!isSubmitted">
                        <p-progressBar mode="indeterminate" [style]="{ height: '3px' }"></p-progressBar>
                    </div>
                </div>
                <div class="col-12" [hidden]="!registerNotify">
                    <div class="col-12">
                        <p-messages [(value)]="registerMsg" [enableService]="false" [closable]="false"></p-messages>
                    </div>
                </div>
                <div class="col-12" align="center">
                    <div class="col-12">
                        <span>Đã có tài khoản? <a class="btn-register font-bold" routerLink="/login"
                                icon="pi pi-microsoft">Đăng nhập ngay</a></span>
                    </div>
                </div>
            </div>
        </p-panel>
    </form>
</div>