<div class="mx-5 my-5">
    <p-dialog *ngIf="visibleUpdateInfo" [(visible)]="visibleUpdateInfo"
              [draggable]="false" [modal]="true"
              [resizable]="true" [resizable]="false" header="Cập nhật thông tin {{info.title}}" styleClass="lg:w-4 md:w-8 w-11">
        <app-update-info (resultAction)="onReceiveResult($event)" [infoKey]="info.key" [userId]="info.userId"
                         [userInfo]="info.userInfo"></app-update-info>
    </p-dialog>
    <p-dialog (visibleChange)="onHidePetCareLog()" *ngIf="visiblePetCareLog" [(visible)]="visiblePetCareLog"
              [draggable]="false"
              [modal]="true" [resizable]="true" [resizable]="false" [styleClass]="visiblePetCareLog && logs && logs.length > 0 ? 'w-11' : 'lg:w-5 md:w-8 w-11'" header="Lịch sử kiểm tra sau nhận nuôi">
        <p-table #table *ngIf="logs && logs.length > 0; else noDataMessage" [paginator]="true"
                 [rows]="5" [tableStyle]="{'min-width': '60rem'}"
                 [value]="logs" selectionMode="single" styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr class="">
                    <th class="col-2">Đơn nhận nuôi</th>
                    <th class="col-2" pSortableColumn="petName">Thú cưng
                        <p-sortIcon field="petName"></p-sortIcon>
                    </th>
                    <th class="col-2" pSortableColumn="date">Ngày kiểm tra
                        <p-sortIcon field="date"></p-sortIcon>
                    </th>
                    <th class="col-6">Nội dung</th>
                </tr>
            </ng-template>
            <ng-template let-log pTemplate="body">
                <tr>
                    <td>{{ log.adoptCode }}</td>
                    <td>{{ log.petName }}</td>
                    <td>{{ log.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ log.note }}</td>
                </tr>
            </ng-template>
        </p-table>
        <ng-template #noDataMessage>
            <div align="center">
                <p>Không có dữ liệu lịch sử kiểm tra đơn nhận nuôi</p>
            </div>
        </ng-template>
    </p-dialog>
    <p-tabView #tabView (onChange)="onChangeTabView($event)">
        <p-tabPanel header="Thông tin tài khoản">
            <div *ngIf="user" class="grid">
                <div class="lg:col-3 col-12 mt-2">
                    <table align="center">
                        <tr>
                            <td>
                                <p>Họ và tên: <b>{{ user.name }}</b></p>
                            </td>
                            <td>
                                <p-button (onClick)="onShowUpdateInfo('name', 'họ và tên')" label="Chỉnh sửa"
                                          styleClass="p-button-link"></p-button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Số điện thoại: <b>{{ user.phoneNumber }}</b></p>
                            </td>
                            <td>
                                <p-button (onClick)="onShowUpdateInfo('phoneNumber', 'số điện thoại')" label="Chỉnh sửa"
                                          styleClass="p-button-link"></p-button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Email: <b>{{ user.email }}</b></p>
                            </td>
                            <td>
                                <p-button (onClick)="onShowUpdateInfo('email', 'email')" label="Chỉnh sửa"
                                          styleClass="p-button-link"></p-button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><i class="fa fa-key"></i> Đổi mật khẩu</p>
                            </td>
                            <td>
                                <p-button (onClick)="onShowUpdateInfo('password', 'mật khẩu')" label="Chỉnh sửa"
                                          styleClass="p-button-link"></p-button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="lg:col-9 col-12">
                    <app-statistic-adopt [userId]="this.authService.getCurrentUser().id"></app-statistic-adopt>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Lịch sử nhận nuôi">
            <p-dialog (visibleChange)="onHideDetailAdopt()" *ngIf="visibleDetailAdopt && detailAdoptData != null"
                      [(visible)]="visibleDetailAdopt" [draggable]="false"
                      [modal]="true" [resizable]="false" [style]="{ width: '90vw', height: '100vh' }"
                      header="Thông tin đơn nhận nuôi">
                <p-panel header="Trạng thái">
                    <p>
                        <p-badge [severity]="this.adoptService.getSeverityStatus(detailAdoptData.adopt.status)"
                                 [value]="this.adoptService.getStatus(detailAdoptData.adopt.status)"
                                 size="large"></p-badge>
                    </p>
                    <div *ngIf="detailAdoptData.adopt.status == adoptStatus.REJECT">
                        <p>Lý do từ chối: <b>{{ detailAdoptData.adopt.rejectedReason }}</b></p>
                        <p>Thời gian từ chối: <b>{{ detailAdoptData.adopt.rejectedAt | date:'HH:mm - dd/MM/yyyy' }}</b>
                        </p>
                        <p>Người từ chối: <b>{{ detailAdoptData.adopt.nameRejectedBy }}</b></p>
                    </div>
                    <div *ngIf="detailAdoptData.adopt.status == adoptStatus.COMPLETE">
                        <p>Thời gian xác nhận:
                            <b>{{ detailAdoptData.adopt.confirmedAt | date:'HH:mm - dd/MM/yyyy' }}</b></p>
                        <p>Người xác nhận: <b>{{ detailAdoptData.adopt.nameConfirmedBy }}</b></p>
                        <p>Tiền vía: <b>{{ detailAdoptData.adopt.fee | currency: ' ' }} ₫</b></p>
                    </div>
                </p-panel>
                <br>
                <p-panel header="Thông tin đăng ký">
                    <p>Người nhận nuôi: <b>{{ detailAdoptData.adopt.nameRegisteredBy }}</b></p>
                    <p>Email liên hệ: <b>{{ detailAdoptData.adopt.emailRegisteredBy }}</b></p>
                    <p>Số điện thoại: <b>{{ detailAdoptData.adopt.phoneRegisteredBy }}</b></p>
                    <p>Địa chỉ: <b>{{ detailAdoptData.adopt.wardName }}, {{ detailAdoptData.adopt.districtName }}
                        , {{ detailAdoptData.adopt.provinceName }}</b></p>
                    <p>Số nhà, tên đường: <b>{{ detailAdoptData.adopt.address }}</b></p>
                    <p>Thời gian tạo: <b>{{ detailAdoptData.adopt.createdAt | date:'HH:mm - dd/MM/yyyy' }}</b></p>
                    <p>Lý do nhận nuôi: <b>{{ detailAdoptData.adopt.reason }}</b></p>
                </p-panel>
                <br>
                <app-infor-pet [pet]="detailAdoptData.pet"></app-infor-pet>
                <app-treatment-pet [idPet]="petId"></app-treatment-pet>
            </p-dialog>
            <p-table *ngIf="adopts != null && adopts.length > 0" [paginator]="true" [rows]="5"
                     [tableStyle]="{'min-width': '60rem'}" [value]="adopts"
                     selectionMode="single" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        Lịch sử nhận nuôi
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr class="">
                        <th class="col-1">Mã đơn</th>
                        <th class="col-2">Thú cưng</th>
                        <th class="col-2">Thời gian tạo</th>
                        <th class="col-2">Người đăng ký</th>
                        <th class="col-3">Thông tin liên hệ</th>
                        <th class="col-1">Trạng thái</th>
                        <th class="col-1"></th>
                    </tr>
                </ng-template>
                <ng-template let-adopt pTemplate="body">
                    <tr>
                        <td>{{ adopt.code }}</td>
                        <td>{{ adopt.petName }}</td>
                        <td>{{ adopt.createdAt | date:'HH:mm - dd/MM/yyyy' }}</td>
                        <td>{{ adopt.nameRegisteredBy }}</td>
                        <td>{{ adopt.emailRegisteredBy }} - {{ adopt.phoneRegisteredBy }}</td>
                        <td>
                            <p-tag [severity]="this.adoptService.getSeverityStatus(adopt.status)"
                                   [value]="this.adoptService.getStatus(adopt.status)"></p-tag>
                        </td>
                        <td>
                            <div [ngClass]="{'flex justify-content-between': this.adoptService.isAvailableForCancelByUser(adopt.status) }"
                                 align="center"
                                 class="w-full">
                                <p-button (onClick)="onShowDetailAdopt(adopt.id, adopt.petId)" icon="fa fa-eye" styleClass="p-button-primary p-button-text p-button-sm"
                                          title="Xem chi tiết"
                                          type="button"></p-button>
                                <p-button (onClick)="onConfirmCancel($event, adopt.id)"
                                          *ngIf="this.adoptService.isAvailableForCancelByUser(adopt.status)" icon="fa fa-cancel" styleClass="p-button-danger p-button-text p-button-sm"
                                          title="Hủy đơn"
                                          type="button"></p-button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button icon="fa fa-plus" routerLink="/cuu-tro" styleClass="p-button-text"
                              type="button"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                </ng-template>
            </p-table>
            <div *ngIf="adopts == null || adopts.length <= 0" align="center">
                <p>Không có dữ liệu đơn nhận nuôi</p>
                <p-button label="Nhận nuôi ngay" routerLink="/cuu-tro" styleClass="p-button-outlined"></p-button>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Thú cưng của bạn">
            <p-table *ngIf="pets != null && pets.length > 0" [paginator]="true" [rows]="5"
                     [tableStyle]="{'min-width': '60rem'}" [value]="pets" selectionMode="single" styleClass="p-datatable-gridlines">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        Thú cưng của bạn
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr class="">
                        <th class="col-1">Hình ảnh</th>
                        <th class="col-1">Mã</th>
                        <th class="col-2">Tên</th>
                        <th class="col-2">Loại</th>
                        <th class="col-2">Giống</th>
                        <th class="col-2">Màu</th>
                        <th class="col-1">Giới tính</th>
                        <th class="col-1">Trạng thái</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template let-pet pTemplate="body">
                    <tr>
                        <td><img [alt]="pet.name" [src]="pet.image" class="shadow-4" height="60" width="60"/></td>
                        <td>{{ pet.code }}</td>
                        <td>{{ pet.name }}</td>
                        <td>{{ this.petService.getType(pet.type) }}</td>
                        <td>{{ pet.breed }}</td>
                        <td>{{ pet.color }}</td>
                        <td>{{ this.petService.getGender(pet.gender) }}</td>
                        <td>
                            <p-tag [severity]="this.petService.getSeverityStatus(pet.status)"
                                   [value]="this.petService.getStatus(pet.status)"></p-tag>
                        </td>
                        <td>
                            <p-button (onClick)="onShowPetCareLog(pet.id)" icon="fa fa-eye" styleClass="p-button-primary p-button-text p-button-sm"
                                      title="Xem chi tiết"
                                      type="button"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button icon="fa fa-plus" routerLink="/cuu-tro" styleClass="p-button-text"
                              type="button"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                </ng-template>
            </p-table>
            <div *ngIf="pets == null || pets.length <= 0" align="center">
                <p>Không có dữ liệu thú cưng</p>
                <p-button label="Nhận nuôi ngay" routerLink="/cuu-tro" styleClass="p-button-outlined"></p-button>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>
