<div class="mx-5 my-5">
    <p-dialog *ngIf="visibleUpdateInfo" header="Cập nhật thông tin {{info.title}}"
        styleClass="lg:w-4 md:w-8 w-11" [resizable]="true"
        [(visible)]="visibleUpdateInfo" [modal]="true" [draggable]="false" [resizable]="false">
        <app-update-info [infoKey]="info.key" [userId]="info.userId" [userInfo]="info.userInfo" (resultAction)="onReceiveResult($event)"></app-update-info>
    </p-dialog>
    <p-dialog *ngIf="visiblePetCareLog" header="Lịch sử kiểm tra sau nhận nuôi" (visibleChange)="onHidePetCareLog()" 
        [styleClass]="visiblePetCareLog && logs && logs.length > 0 ? 'w-11' : 'lg:w-5 md:w-8 w-11'"
        [resizable]="true" [(visible)]="visiblePetCareLog" [modal]="true" [draggable]="false" [resizable]="false">
        <p-table *ngIf="logs && logs.length > 0; else noDataMessage" #table [value]="logs" [tableStyle]="{'min-width': '60rem'}" styleClass="p-datatable-gridlines"
            selectionMode="single" [paginator]="true" [rows]="5">
            <ng-template pTemplate="header">
                <tr class="">
                    <th class="col-2">Đơn nhận nuôi</th>
                    <th class="col-2" pSortableColumn="petName">Thú cưng <p-sortIcon field="petName"></p-sortIcon></th>
                    <th class="col-2" pSortableColumn="date">Ngày kiểm tra <p-sortIcon field="date"></p-sortIcon></th>
                    <th class="col-6">Nội dung</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-log>
                <tr>
                    <td>{{log.adoptCode}}</td>
                    <td>{{log.petName}}</td>
                    <td>{{log.date | date: 'dd/MM/yyyy' }}</td>
                    <td>{{log.note}}</td>
                </tr>
            </ng-template>
        </p-table>
        <ng-template #noDataMessage>
            <div align="center">
                <p>Không có dữ liệu lịch sử kiểm tra đơn nhận nuôi</p>
            </div>
        </ng-template>
    </p-dialog>
    <p-tabView #tabView (onChange)="onChangeTabView($event)">
        <p-tabPanel header="Thông tin tài khoản">
            <div *ngIf="user" class="grid">
                <div class="lg:col-3 col-12 mt-2">
                    <table align="center">
                        <tr>
                            <td>
                                <p>Họ và tên: <b>{{user.name}}</b></p>
                            </td>
                            <td>
                                <p-button styleClass="p-button-link" label="Chỉnh sửa" (onClick)="onShowUpdateInfo('name', 'họ và tên')"></p-button>
                            </td>
                        </tr>
                        <tr>
                            <td>                                
                                <p>Số điện thoại: <b>{{user.phoneNumber}}</b></p>
                            </td>
                            <td>
                                <p-button styleClass="p-button-link" label="Chỉnh sửa" (onClick)="onShowUpdateInfo('phoneNumber', 'số điện thoại')"></p-button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Email: <b>{{user.email}}</b></p>
                            </td>
                            <td>
                                <p-button styleClass="p-button-link" label="Chỉnh sửa" (onClick)="onShowUpdateInfo('email', 'email')"></p-button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><i class="fa fa-key"></i> Đổi mật khẩu</p>
                            </td>
                            <td>
                                <p-button styleClass="p-button-link" label="Chỉnh sửa" (onClick)="onShowUpdateInfo('password', 'mật khẩu')"></p-button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="lg:col-9 col-12">
                    <app-statistic-adopt [userId]="this.authService.getCurrentUser().id"></app-statistic-adopt>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Lịch sử nhận nuôi">
            <p-dialog *ngIf="visibleDetailAdopt && detailAdoptData != null" header="Thông tin đơn nhận nuôi" [(visible)]="visibleDetailAdopt" [modal]="true"
                [style]="{ width: '90vw', height: '100vh' }" [draggable]="false" [resizable]="false" (visibleChange)="onHideDetailAdopt()">
                <p-panel header="Trạng thái">
                    <p>
                        <p-badge [value]="this.adoptService.getStatus(detailAdoptData.adopt.status)"
                            [severity]="this.adoptService.getSeverityStatus(detailAdoptData.adopt.status)" size="large"></p-badge>
                    </p>
                    <div *ngIf="detailAdoptData.adopt.status == adoptStatus.REJECT">
                        <p>Lý do từ chối: <b>{{detailAdoptData.adopt.rejectedReason}}</b></p>
                        <p>Thời gian từ chối: <b>{{detailAdoptData.adopt.rejectedAt | date:'HH:mm - dd/MM/yyyy'}}</b></p>
                        <p>Người từ chối: <b>{{detailAdoptData.adopt.nameRejectedBy}}</b></p>
                    </div>
                    <div *ngIf="detailAdoptData.adopt.status == adoptStatus.COMPLETE">
                        <p>Thời gian xác nhận: <b>{{detailAdoptData.adopt.confirmedAt | date:'HH:mm - dd/MM/yyyy'}}</b></p>
                        <p>Người xác nhận: <b>{{detailAdoptData.adopt.nameConfirmedBy}}</b></p>
                        <p>Tiền vía: <b>{{detailAdoptData.adopt.fee | currency: ' ' }} ₫</b></p>
                    </div>
                </p-panel>
                <br>
                <p-panel header="Thông tin đăng ký">
                    <p>Người nhận nuôi: <b>{{detailAdoptData.adopt.nameRegisteredBy}}</b></p>
                    <p>Email liên hệ: <b>{{detailAdoptData.adopt.emailRegisteredBy}}</b></p>
                    <p>Số điện thoại: <b>{{detailAdoptData.adopt.phoneRegisteredBy}}</b></p>
                    <p>Địa chỉ: <b>{{detailAdoptData.adopt.wardName}}, {{detailAdoptData.adopt.districtName}}, {{detailAdoptData.adopt.provinceName}}</b></p>
                    <p>Số nhà, tên đường: <b>{{detailAdoptData.adopt.address}}</b></p>
                    <p>Thời gian tạo: <b>{{detailAdoptData.adopt.createdAt | date:'HH:mm - dd/MM/yyyy'}}</b></p>
                    <p>Lý do nhận nuôi: <b>{{detailAdoptData.adopt.reason}}</b></p>
                </p-panel>
                <br>
                <app-infor-pet [pet]="detailAdoptData.pet"></app-infor-pet>
                <app-treatment-pet [idPet]="petId"></app-treatment-pet>
            </p-dialog>
            <p-table *ngIf="adopts != null && adopts.length > 0" [value]="adopts" [rows]="5"
                [tableStyle]="{'min-width': '60rem'}" styleClass="p-datatable-gridlines"
                selectionMode="single" [paginator]="true">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        Lịch sử nhận nuôi
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr class="">
                        <th class="col-1">Mã đơn</th>
                        <th class="col-2">Thú cưng</th>
                        <th class="col-2">Thời gian tạo</th>
                        <th class="col-2">Người đăng ký</th>
                        <th class="col-3">Thông tin liên hệ</th>
                        <th class="col-1">Trạng thái</th>
                        <th class="col-1"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-adopt>
                    <tr>
                        <td>{{adopt.code}}</td>
                        <td>{{adopt.petName}}</td>
                        <td>{{adopt.createdAt | date:'HH:mm - dd/MM/yyyy'}}</td>
                        <td>{{adopt.nameRegisteredBy}}</td>
                        <td>{{adopt.emailRegisteredBy}} - {{adopt.phoneRegisteredBy}}</td>
                        <td>
                            <p-tag [value]="this.adoptService.getStatus(adopt.status)"
                                [severity]="this.adoptService.getSeverityStatus(adopt.status)"></p-tag>
                        </td>
                        <td>
                            <div class="w-full" [ngClass]="{'flex justify-content-between': this.adoptService.isAvailableForCancelByUser(adopt.status) }" align="center">
                                <p-button type="button" title="Xem chi tiết" icon="fa fa-eye" styleClass="p-button-primary p-button-text p-button-sm" (onClick)="onShowDetailAdopt(adopt.id, adopt.petId)"></p-button>
                                <p-button *ngIf="this.adoptService.isAvailableForCancelByUser(adopt.status)" (onClick)="onConfirmCancel($event, adopt.id)" type="button" title="Hủy đơn" icon="fa fa-cancel" styleClass="p-button-danger p-button-text p-button-sm"></p-button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="fa fa-plus" styleClass="p-button-text" routerLink="/cuu-tro"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                </ng-template>
            </p-table>
            <div *ngIf="adopts == null || adopts.length <= 0" align="center">
                <p>Không có dữ liệu đơn nhận nuôi</p>
                <p-button label="Nhận nuôi ngay" styleClass="p-button-outlined" routerLink="/cuu-tro"></p-button>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Thú cưng của bạn">
            <p-table *ngIf="pets != null && pets.length > 0" [value]="pets" [tableStyle]="{'min-width': '60rem'}" 
                styleClass="p-datatable-gridlines" selectionMode="single" [paginator]="true" [rows]="5">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        Thú cưng của bạn
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr class="">
                        <th class="col-1">Hình ảnh</th>
                        <th class="col-1">Mã</th>
                        <th class="col-2">Tên</th>
                        <th class="col-2">Loại</th>
                        <th class="col-2">Giống</th>
                        <th class="col-2">Màu</th>
                        <th class="col-1">Giới tính</th>
                        <th class="col-1">Trạng thái</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pet>
                    <tr>
                        <td><img [src]="pet.image" [alt]="pet.name" width="60" class="shadow-4" height="60" /></td>
                        <td>{{pet.code}}</td>
                        <td>{{pet.name}}</td>
                        <td>{{this.petService.getType(pet.type)}}</td>
                        <td>{{pet.breed}}</td>
                        <td>{{pet.color}}</td>
                        <td>{{this.petService.getGender(pet.gender)}}</td>
                        <td><p-tag [value]="this.petService.getStatus(pet.status)"
                                [severity]="this.petService.getSeverityStatus(pet.status)"></p-tag></td>
                        <td>                                
                            <p-button type="button" title="Xem chi tiết" icon="fa fa-eye" styleClass="p-button-primary p-button-text p-button-sm" (onClick)="onShowPetCareLog(pet.id)"></p-button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="fa fa-plus" styleClass="p-button-text" routerLink="/cuu-tro"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                </ng-template>
            </p-table>
            <div *ngIf="pets == null || pets.length <= 0" align="center">
                <p>Không có dữ liệu thú cưng</p>
                <p-button label="Nhận nuôi ngay" styleClass="p-button-outlined" routerLink="/cuu-tro"></p-button>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>