<div class="mx-5 my-5">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
    <p-tabView #tabView (onChange)="changeTabView($event)">
        <p-tabPanel header="Thông tin tài khoản">
            <div *ngIf="user != null" class="grid">
                <div class="lg:col-3 col-12">
                    <table align="center">
                        <tr>
                            <td>
                                <p>Họ và tên: <b>{{user.name}}</b></p>
                            </td>
                            <td>
                                <p-button styleClass="p-button-link" label="Chỉnh sửa"></p-button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Email: <b>{{user.email}}</b></p>
                            </td>
                            <td>
                                <p-button styleClass="p-button-link" label="Chỉnh sửa"></p-button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Số điện thoại: <b>{{user.phoneNumber}}</b></p>
                            </td>
                            <td>
                                <p-button styleClass="p-button-link" label="Chỉnh sửa"></p-button>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p><i class="fa fa-key"></i> Đổi mật khẩu</p>
                            </td>
                            <td>
                                <p-button styleClass="p-button-link" label="Chỉnh sửa"></p-button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="lg:col-9 col-12">
                    <div class="grid">
                        <div class="md:col-4 col-12">
                            <div class="card p-3">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-500 font-medium mb-3">Đơn chờ xử lý</span>
                                        <div class="text-900 font-medium text-xl">{{user.countWaiting}}</div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width: 2.5rem; height: 2.5rem;">
                                        <i class="fa fa-file-circle-question text-blue-500 text-xl"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md:col-4 col-12">
                            <div class="card p-3">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-500 font-medium mb-3">Đơn đang xử lý</span>
                                        <div class="text-900 font-medium text-xl">{{user.countInProgress}}</div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center bg-yellow-100 border-round" style="width: 2.5rem; height: 2.5rem;">
                                        <i class="fa fa-hourglass-start text-yellow-500 text-xl"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md:col-4 col-12">
                            <div class="card p-3">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-500 font-medium mb-3">Đơn đã hủy</span>
                                        <div class="text-900 font-medium text-xl">{{user.countCancel}}</div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center bg-red-100 border-round" style="width: 2.5rem; height: 2.5rem;">
                                        <i class="fa fa-xmark text-red-500 text-xl"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md:col-4 col-12">
                            <div class="card p-3">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-500 font-medium mb-3">Đơn bị từ chối</span>
                                        <div class="text-900 font-medium text-xl">{{user.countReject}}</div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center surface-300 border-round" style="width: 2.5rem; height: 2.5rem;">
                                        <i class="fa fa-cancel text-black-500 text-xl"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md:col-4 col-12">
                            <div class="card p-3">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-500 font-medium mb-3">Đơn đã hoàn thành</span>
                                        <div class="text-900 font-medium text-xl">{{user.countComplete}}</div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center bg-green-100 border-round" style="width: 2.5rem; height: 2.5rem;">
                                        <i class="fa fa-check text-green-500 text-xl"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="md:col-4 col-12">
                            <div class="card p-3">
                                <div class="flex justify-content-between mb-3">
                                    <div>
                                        <span class="block text-500 font-medium mb-3">Đơn hoàn trả</span>
                                        <div class="text-900 font-medium text-xl">{{user.countRefund}}</div>
                                    </div>
                                    <div class="flex align-items-center justify-content-center bg-indigo-100 border-round" style="width: 2.5rem; height: 2.5rem;">
                                        <i class="fa fa-rotate-left text-indigo-500 text-xl"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Lịch sử nhận nuôi">
            <p-dialog *ngIf="visibleDetailAdopt && detailAdoptData" header="Thông tin đơn nhận nuôi" [(visible)]="visibleDetailAdopt" [modal]="true"
                [style]="{ width: '90vw', height: '100vh' }" [draggable]="false" [resizable]="false" (visibleChange)="hideDetailAdopt()">
                <p-panel header="Thông tin cá nhân">
                    <p>Người nhận nuôi: <b>{{detailAdoptData.adopt.nameRegisteredBy}}</b></p>
                    <p>Email liên hệ: <b>{{detailAdoptData.adopt.emailRegisteredBy}}</b></p>
                    <p>Số điện thoại: <b>{{detailAdoptData.adopt.phoneRegisteredBy}}</b></p>
                    <p>Địa chỉ: <b>{{detailAdoptData.adopt.wardName}}, {{detailAdoptData.adopt.districtName}}, {{detailAdoptData.adopt.provinceName}}</b></p>
                    <p>Số nhà, tên đường: <b>{{detailAdoptData.adopt.address}}</b></p>
                    <p>Lý do nhận nuôi: <b>{{detailAdoptData.adopt.reason}}</b></p>
                </p-panel>
                <br>
                <p-panel header="Thông tin thú cưng - {{detailAdoptData.pet.name}}">
                    <div class="grid">
                        <div class="xl:col-4 lg:col-4 md:col-6 col-12 mx-auto">
                            <img src="{{detailAdoptData.pet.image}}" alt="{{detailAdoptData.pet.name}}" class="w-full" style="border-radius: 10px; max-height: 600px;">
                        </div>
                        <div class="xl:col-2 lg:col-2 md:col-6 col-12 mx-auto mt-2">
                            <p><b>Mã:</b> {{detailAdoptData.pet.code}}</p>
                            <p-divider type="dashed"></p-divider>
                            <p><b>Giống:</b> {{detailAdoptData.pet.breed}}</p>
                            <p-divider type="dashed"></p-divider>
                            <p><b>Màu lông:</b> {{detailAdoptData.pet.color}}</p>
                            <p-divider type="dashed"></p-divider>
                            <p><b>Tuổi:</b> {{this.petService.getAge(detailAdoptData.pet.age)}}</p>
                            <p-divider type="dashed"></p-divider>
                            <p><b>Cân nặng:</b> {{detailAdoptData.pet.weight}} kg</p>
                            <p-divider type="dashed"></p-divider>
                            <p><b>Giới tính:</b> {{this.petService.getGender(detailAdoptData.pet.gender)}}</p>
                            <p-divider type="dashed"></p-divider>
                        </div>
                        <div class="xl:col-6 lg:col-6 md:col-12 col-12 mx-auto">
                            <p class="text-3xl font-semibold mb-1">Thông tin</p>
                            <p-divider></p-divider>
                            <div class="grid mt-1">
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(detailAdoptData.pet.sterilization)}}" [severity]="petService.getBadgeSeverity(detailAdoptData.pet.sterilization)"></p-badge> Triệt sản</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(detailAdoptData.pet.friendlyToHuman)}}" [severity]="petService.getBadgeSeverity(detailAdoptData.pet.friendlyToHuman)"></p-badge> Thân thiện với người</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(detailAdoptData.pet.diet)}}" [severity]="petService.getBadgeSeverity(detailAdoptData.pet.diet)"></p-badge> Chế độ ăn riêng</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(detailAdoptData.pet.rabies)}}" [severity]="petService.getBadgeSeverity(detailAdoptData.pet.rabies)"></p-badge> Tiêm dại</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(detailAdoptData.pet.friendlyToDogs)}}" [severity]="petService.getBadgeSeverity(detailAdoptData.pet.friendlyToDogs)"></p-badge> Thân thiện với chó</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(detailAdoptData.pet.toilet)}}" [severity]="petService.getBadgeSeverity(detailAdoptData.pet.toilet)"></p-badge> Đi vệ sinh đúng chỗ</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(detailAdoptData.pet.vaccine)}}" [severity]="petService.getBadgeSeverity(detailAdoptData.pet.vaccine)"></p-badge> Tiêm phòng bệnh</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(detailAdoptData.pet.friendlyToCats)}}" [severity]="petService.getBadgeSeverity(detailAdoptData.pet.friendlyToCats)"></p-badge> Thân thiện với mèo</p>
                                </div>
                                <div class="col-12 mx-auto">
                                    <p class="text-3xl font-semibold mb-1">Mô tả</p>
                                    <p-divider></p-divider>
                                    <p class="mt-1">{{detailAdoptData.pet.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-panel>
            </p-dialog>
            <p-table *ngIf="adopts != null && adopts.length > 0" [value]="adopts" [rows]="5" [rowsPerPageOptions]="[1, 2, 5, 10]" 
                [tableStyle]="{'min-width': '60rem'}" styleClass="p-datatable-gridlines mt-3"
                selectionMode="single" [paginator]="true">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        Đơn nhận nuôi
                        <p-button icon="fa fa-refresh"></p-button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr class="">
                        <th class="col-1">Mã đơn</th>
                        <th class="col-2">Thú cưng</th>
                        <th class="col-2">Thời gian tạo</th>
                        <th class="col-2">Người đăng ký</th>
                        <th class="col-3">Thông tin liên hệ</th>
                        <th class="col-1">Trạng thái</th>
                        <th class="col-1"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-adopt>
                    <tr>
                        <td>{{adopt.code}}</td>
                        <td>{{adopt.petName}}</td>
                        <td>{{adopt.createdAt | date:'HH:mm - dd/MM/yyyy'}}</td>
                        <td>{{adopt.nameRegisteredBy}}</td>
                        <td>{{adopt.emailRegisteredBy}} - {{adopt.phoneRegisteredBy}}</td>
                        <td>
                            <p-tag [value]="this.adoptService.getStatus(adopt.status)"
                                [severity]="this.adoptService.getSeverityStatus(adopt.status)"></p-tag>
                        </td>
                        <td>
                            <div class="w-full flex justify-content-between" align="center">
                                <p-button type="button" title="Xem chi tiết" icon="fa fa-eye" styleClass="p-button-primary p-button-text p-button-sm" (onClick)="showDetailAdopt(adopt.id)"></p-button>
                                <p-button *ngIf="this.adoptService.isAvailableForCancelByUser(adopt.status)" (onClick)="confirmCancel($event, adopt.id)" type="button" title="Hủy đơn" icon="fa fa-cancel" styleClass="p-button-danger p-button-text p-button-sm"></p-button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="fa fa-plus" styleClass="p-button-text" routerLink="/cuu-tro"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="fa fa-cloud" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>
            <div *ngIf="adopts == null || adopts.length <= 0" align="center">
                <p>Không có dữ liệu đơn nhận nuôi</p>
                <p-button label="Nhận nuôi ngay" styleClass="p-button-outlined" routerLink="/cuu-tro"></p-button>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Thú cưng của bạn">
            <p-table *ngIf="pets != null && pets.length > 0" [value]="pets" [tableStyle]="{'min-width': '60rem'}" styleClass="p-datatable-gridlines mt-3"
                selectionMode="single" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[1,2,5,10]">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        Thú cưng
                        <p-button icon="fa fa-refresh"></p-button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr class="">
                        <th class="col-1">Hình ảnh</th>
                        <th class="col-1">Mã</th>
                        <th class="col-2">Tên</th>
                        <th class="col-1">Loại</th>
                        <th class="col-2">Giống</th>
                        <th class="col-1">Màu</th>
                        <th class="col-1">Tuổi</th>
                        <th class="col-1">Giới tính</th>
                        <th class="col-1">Cân nặng</th>
                        <th class="col-1">Trạng thái</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-pet>
                    <tr>
                        <td><img [src]="pet.image" [alt]="pet.name" width="60" class="shadow-4" height="60" /></td>
                        <td>{{pet.code}}</td>
                        <td>{{pet.name}}</td>
                        <td>{{this.petService.getType(pet.type)}}</td>
                        <td>{{pet.breed}}</td>
                        <td>{{pet.color}}</td>
                        <td>{{this.petService.getAge(pet.age)}}</td>
                        <td>{{this.petService.getGender(pet.gender)}}</td>
                        <td>{{pet.weight}} kg</td>
                        <td><p-tag [value]="this.petService.getStatus(pet.status)"
                                [severity]="this.petService.getSeverityStatus(pet.status)"></p-tag></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="fa fa-plus" styleClass="p-button-text" routerLink="/cuu-tro"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="fa fa-cloud" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>
            <div *ngIf="pets == null || pets.length <= 0" align="center">
                <p>Không có dữ liệu thú cưng</p>
                <p-button label="Nhận nuôi ngay" styleClass="p-button-outlined" routerLink="/cuu-tro"></p-button>
            </div>
        </p-tabPanel>
    </p-tabView>
</div>