<div class="card">
    <p-dialog *ngIf="visibleCreateModal" [(visible)]="visibleCreateModal" [draggable]="false" [modal]="true"
              [resizable]="false" [style]="{ width: '90vw' }" header="Thêm đơn nhận nuôi">
        <app-adoption-create (resultAction)="onReceiveResult($event, 1)" [pets]="pets"
                             [users]="users"></app-adoption-create>
    </p-dialog>
    <p-dialog *ngIf="visibleUpdateModal" [(visible)]="visibleUpdateModal" [draggable]="false"
              [modal]="true"
              [resizable]="false" [style]="{ width: '90vw' }" header="Chỉnh sửa đơn nhận nuôi">
        <app-adoption-update (resultAction)="onReceiveResult($event, 2)"
                             [idAdoption]="idAdoptionUpdate"></app-adoption-update>
    </p-dialog>
    <p-dialog (onHide)="dataReject.message = ''" [(visible)]="visibleRejectModal" [draggable]="false" [style]="{ width: '60vw' }"
              header="Header">
        <ng-template pTemplate="header">
            <span class="text-xl font-bold">Lý do từ chối</span>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="flex flex-column mt-2">
                <textarea [(ngModel)]="dataReject.message" pInputTextarea rows="5"
                          pStyleClass="mat-form-field"></textarea>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button (click)="onReject()" label="Tiếp tục"></p-button>
        </ng-template>
    </p-dialog>
    <p-dialog (onHide)="dataComplete.fee = null" [(visible)]="visibleCompleteModal" [draggable]="false" header="Header"
              styleClass="lg:w-4 md:w-6 w-8">
        <ng-template pTemplate="header">
            <span class="text-xl font-bold">Tiền vía</span>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="flex flex-column mt-2">
                <p-inputNumber [(ngModel)]="dataComplete.fee" [maxFractionDigits]="2" [min]="0"
                               mode="decimal" styleClass="mat-form-field"></p-inputNumber>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <p-button (click)="onComplete()" label="Tiếp tục"></p-button>
        </ng-template>
    </p-dialog>
    <p-panel [toggleable]="true" header="Công cụ">
        <button (click)="onShowCreateModal()" icon="fa fa-plus" label="Thêm mới" pButton></button>
        <div class="card grid mt-3">
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="adopt-pet">Thú cưng</label>
                    <p-dropdown [(ngModel)]="key.petAdopt" [filter]="true" [options]="pets" [showClear]="true" emptyMessage="Không có dữ liệu"
                                filterBy="code" filterPlaceholder="Mã thú cưng" id="adopt-pet"
                                optionLabel="name" optionValue="id" placeholder="--Tất cả--"
                                styleClass="mat-form-field">
                        <ng-template let-pet pTemplate="item">
                            <div class="flex align-items-center">
                                <div>{{ pet.code }} - {{ pet.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="adopt-user">Người nhận nuôi</label>
                    <p-dropdown [(ngModel)]="key.registeredBy" [filter]="true" [options]="users" [showClear]="true" emptyMessage="Không có dữ liệu"
                                filterBy="name" filterPlaceholder="Họ và tên" id="adopt-user"
                                optionLabel="name" optionValue="id" placeholder="--Tất cả--"
                                styleClass="mat-form-field">
                        <ng-template let-user pTemplate="item">
                            <div class="flex align-items-center">
                                <div>{{ user.name }} - {{ user.email }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="adopt-code">Mã đơn</label>
                    <input [(ngModel)]="key.code" appendIcon="fa fa-search" class="mat-form-field" id="adopt-code"
                           pInputText>
                </div>
            </div>
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="adopt-status">Trạng thái</label>
                    <p-dropdown [(ngModel)]="key.status" [options]="adoptService.optionStatus()" [showClear]="true"
                                emptyMessage="Không có dữ liệu"
                                id="adopt-status" optionLabel="label" optionValue="value"
                                placeholder="--Tất cả--"
                                styleClass="mat-form-field"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="adopt-from">Từ ngày</label>
                    <p-calendar [(ngModel)]="key.fromDateTime" [readonlyInput]="true" [showClear]="true"
                                [showIcon]="true" dataType="string" dateFormat="dd/mm/yy" id="adopt-from"
                                styleClass="mat-form-field"></p-calendar>
                </div>
            </div>
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="adopt-to">Đến ngày</label>
                    <p-calendar [(ngModel)]="key.toDateTime" [readonlyInput]="true" [showClear]="true"
                                [showIcon]="true" dataType="string" dateFormat="dd/mm/yy" id="adopt-to"
                                styleClass="mat-form-field"></p-calendar>
                </div>
            </div>
            <div class="col-12">
                <button (click)="onSearch()" icon="fa fa-search" label="Tìm kiếm" pButton></button>
            </div>
        </div>
    </p-panel>
    <p-table #table [paginator]="false" [tableStyle]="{'min-width': '60rem'}" [value]="adopts"
             selectionMode="single" styleClass="p-datatable-gridlines mt-3">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Đơn nhận nuôi
                <p-button (onClick)="onRefresh()" icon="fa fa-refresh"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="">
                <th class=""></th>
                <th class="col-1">Mã đơn</th>
                <th class="col-2">Thú cưng</th>
                <th class="col-1">Thời gian tạo</th>
                <th class="col-2">Người đăng ký</th>
                <th class="col-2">Người tạo</th>
                <th class="col-3">Thông tin liên hệ</th>
                <th class="col-1">Trạng thái</th>
            </tr>
        </ng-template>
        <ng-template let-adopt pTemplate="body">
            <tr>
                <td>
                    <p-button #btn (click)="menu.toggle($event)" icon="fa fa-solid fa-sliders" type="button"></p-button>
                    <p-tieredMenu #menu [model]="adopt.menuItems" [popup]="true" appendTo="body" class="p-0"
                                  styleClass="menucus"></p-tieredMenu>
                </td>
                <td>{{ adopt.code }}</td>
                <td>{{ adopt.petName }}</td>
                <td>{{ adopt.createdAt | date:'HH:mm - dd/MM/yyyy' }}</td>
                <td>{{ adopt.nameRegisteredBy }}</td>
                <td>{{ adopt.nameCreatedBy }}</td>
                <td>{{ adopt.emailRegisteredBy }} - {{ adopt.phoneRegisteredBy }}</td>
                <td>
                    <p-tag [severity]="this.adoptService.getSeverityStatus(adopt.status)"
                           [value]="this.adoptService.getStatus(adopt.status)"></p-tag>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rowsPerPageOptions]="[5, 10, 25, 50]" [rows]="limit"
                 [showCurrentPageReport]="false" [style]="{'margin-top': '1rem'}"
                 [totalRecords]="totalElements"></p-paginator>
</div>
