.donate-other {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1rem;
    background: url("../../../../assets/medias/imgs/pattern.png") center bottom repeat-x;
    /* border: 1px solid #fff; */
}

.donate-other p {
    color: black;
    font-weight: 500;
}

.fa-solid {
    background-color: white;
    border-radius: 50%;
}