<div class="card">
    <p-panel header="Công cụ" [toggleable]="true">
        <div class="flex flex-column gap-2">
            <label for="config">Mã cấu hình</label>
            <p-dropdown [options]="configs" id="config" optionLabel="key" optionValue="key"
                styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--" (onChange)="getConfigValues($event)"
                emptyMessage="Không có dữ liệu"></p-dropdown>
        </div>            
    </p-panel>
    <p-panel *ngIf="configs != null && config != null && config.values != null && config.values.length > 0" header="Thông tin cấu hình" [toggleable]="true" styleClass="mt-3">
        <div class="grid">
            <div *ngFor="let value of config.values" class="col-12">
                <div class="grid card">
                    <div class="xl:col-6 lg:col-6 md:col-6 sm:col-12 col-12">
                        <div class="flex flex-column gap-2">
                            <label for="key-cv">Mã giá trị</label>
                            <input pInputText type="text" id="key-cv" class="mat-form-field" [ngModel]="value.keyCV" disabled>
                        </div>
                    </div>
                    <div class="xl:col-6 lg:col-6 md:col-6 sm:col-12 col-12">
                        <div class="flex flex-column gap-2">
                            <label for="description">Mô tả</label>
                            <input pInputText type="text" id="description" class="mat-form-field" [(ngModel)]="value.description" disabled>
                        </div>
                    </div>
                    <ng-container *ngIf="value.type == 1">
                        <div class="col-12">
                            <div class="flex flex-column gap-2">
                                <label for="value-1">Giá trị <span class="text-red-500">*</span></label>
                                <input pInputText type="text" id="value-1" class="mat-form-field" [(ngModel)]="value.value">
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="value.type == 2">
                        <div class="col-12">
                            <div class="flex flex-column gap-2">
                                <label for="value-2">Giá trị <span class="text-red-500">*</span></label>
                                <p-editor [style]="{ height: '320px' }" id="value-2" [(ngModel)]="value.value"></p-editor>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngIf="value.type == 3">
                        <div class="col-12">
                            <div class="flex flex-column gap-2">
                                <label for="value-2">Giá trị <span class="text-red-500">*</span></label>
                                <p-inputNumber id="value-3" styleClass="mat-form-field" [(ngModel)]="value.value"/>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>            
            <div class="col-12 mt-3" align="center">
                <p-button label="Lưu thay đổi" icon="fa fa-save" (click)="onSaveConfig($event)"></p-button>
            </div>
        </div>
    </p-panel>
</div>