<div class="position-relative">
    <form *ngIf="admin" [formGroup]="form">
        <div class="grid">
            <div class="md:col-6 col-12">
                <div class="font-bold mb-1">
                    Họ và tên <span class="text-red-500">*</span>
                </div>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="fa-solid fa-address-card"></i>
                    </span>
                    <input class="form-control" formControlName="name" name="name" pInputText type="text">
                </div>
                <div *ngIf="form.controls['name'].hasError('required') && form.controls['name'].touched"
                     class="text-red-500 mt-1 ml-1">
                    Vui lòng nhập họ tên
                </div>
                <div *ngIf="(
                        form.controls['name'].hasError('pattern')
                        || form.controls['name'].hasError('minLength')
                        || form.controls['name'].hasError('maxLength')
                        )
                        && form.controls['name'].dirty"
                     class="text-red-500 mt-1 ml-1">
                    Họ tên không hợp lệ
                </div>
            </div>
            <div class="md:col-6 col-12">
                <div class="font-bold mb-1">
                    Số điện thoại <span class="text-red-500">*</span>
                </div>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="fa-solid fa-phone-flip"></i>
                    </span>
                    <input class="form-control" formControlName="phoneNumber" name="phone-number" pInputText
                           type="text">
                </div>
                <div *ngIf="form.controls['phoneNumber'].hasError('required') && form.controls['phoneNumber'].touched"
                     class="text-red-500 mt-1 ml-1">
                    Vui lòng nhập số điện thoại
                </div>
                <div *ngIf="(
                        form.controls['phoneNumber'].hasError('pattern') ||
                        form.controls['phoneNumber'].hasError('minLength') ||
                        form.controls['phoneNumber'].hasError('maxLength')
                        )
                        && form.controls['phoneNumber'].dirty"
                     class="text-red-500 mt-1 ml-1">
                    Số điện thoại không hợp lệ
                </div>
            </div>
            <div class="md:col-6 col-12">
                <div class="font-bold mb-1">
                    Email <span class="text-red-500">*</span>
                </div>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="fa fa-at"></i>
                    </span>
                    <input class="form-control" formControlName="email" name="email" pInputText type="email">
                </div>
                <div *ngIf="form.controls['email'].hasError('required') && form.controls['email'].touched"
                     class="text-red-500 mt-1 ml-1">
                    Vui lòng nhập email
                </div>
                <div *ngIf="(
                        form.controls['email'].hasError('email') ||
                        form.controls['email'].hasError('minLength') ||
                        form.controls['email'].hasError('maxLength')
                        )
                        && form.controls['email'].dirty"
                     class="text-red-500 mt-1 ml-1">
                    Email không hợp lệ
                </div>
            </div>
            <div class="md:col-6 col-12">
                <div #password class="font-bold mb-1">
                    Trạng thái <span class="text-red-500">*</span>
                </div>
                <p-dropdown [options]="userService.optionStatus()" [showClear]="true" emptyMessage="Không có dữ liệu" formControlName="status"
                            id="status" optionLabel="label" optionValue="value"
                            placeholder="--Chọn--" styleClass="mat-form-field"></p-dropdown>
                <div *ngIf="form.controls['status'].hasError('required') && form.controls['status'].touched"
                     class="text-red-500 mt-1">
                    Vui lòng chọn trạng thái
                </div>
            </div>
        </div>
        <div class="col-12 mt-5 grid justify-content-center">
            <p-button (onClick)="visibleUpdatePasswordModal = true" icon="fa fa-lock" label="Đổi mật khẩu"
                      styleClass="p-button-outlined p-button-warning mr-3"></p-button>
            <p-button (onClick)="onInitForm()" [disabled]="!form.dirty" icon="fa fa-refresh" label="Hoàn tác"
                      styleClass="p-button-outlined mr-3"></p-button>
            <p-button (click)="onSaveAccountAdmin($event)" icon="fa fa-save" label="Lưu thay đổi"></p-button>
        </div>
    </form>
    <p-dialog *ngIf="visibleUpdatePasswordModal" [(visible)]="visibleUpdatePasswordModal"
              [draggable]="false" [modal]="true" [resizable]="false" header="Thay mật khẩu tài khoản quản trị viên">
        <form [formGroup]="formPassword">
            <div class="col-12 mt-2">
                <div #password class="font-bold mb-1">
                    Mật khẩu <span class="text-red-500">*</span>
                    <p class="font-semibold">(Độ dài tối thiểu 8 ký tự, bao gồm chữ hoa, chữ thường, số và ký tự đặc
                        biệt)</p>
                </div>
                <div class="p-inputgroup">
                    <p-password [feedback]="false" [inputStyle]="{'width':'100%'}" [style]="{'width':'100%'}" [toggleMask]="true"
                                class="form-control"
                                formControlName="password" mediumLabel="Trung bình" promptLabel=" " strongLabel="Mạnh"
                                strongRegex="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{8,}$"
                                weakLabel="Yếu">
                        <ng-template pTemplate="header">
                        </ng-template>
                        <ng-template pTemplate="footer">
                        </ng-template>
                    </p-password>
                    <span class="p-inputgroup-addon">
                        <i class="fa fa-key"></i>
                    </span>
                </div>
                <div *ngIf="formPassword.controls['password'].hasError('required') && formPassword.controls['password'].touched"
                     class="text-red-500 mt-1 ml-1">
                    Vui lòng nhập mật khẩu
                </div>
                <div *ngIf="(
                        formPassword.controls['password'].hasError('pattern') ||
                        formPassword.controls['password'].hasError('maxLength')
                        )
                        && formPassword.controls['password'].dirty"
                     class="text-red-500 mt-1 ml-1">
                    Mật khẩu không hợp lệ
                </div>
            </div>
        </form>
        <div class="col-12 mt-3 grid justify-content-center">
            <p-button (click)="onSavePassword($event)" icon="fa fa-save" label="Lưu thay đổi" type="button"></p-button>
        </div>
    </p-dialog>
</div>
