<div class="position-relative">
    <p-dialog (onHide)="hideDialog()" [(visible)]="visibleModal" [closable]="true"
              [draggable]="false" [modal]="true" [resizable]="false" [style]="{ }" header="Thay mật khẩu tài khoản quản lý">
        <form [formGroup]="formPassword">
            <div class="col-12 mt-2">
                <div #password class="font-bold mb-1">
                    Mật khẩu <span class="text-red-500">*</span>
                    <p class="font-semibold">(Độ dài tối thiểu 8 ký tự, bao gồm chữ hoa, chữ thường, số và ký tự đặc
                        biệt)</p>
                </div>
                <div class="p-inputgroup">
                    <p-password [feedback]="false" [inputStyle]="{'width':'100%'}" [style]="{'width':'100%'}" [toggleMask]="true"
                                class="form-control"
                                formControlName="password" mediumLabel="Trung bình" promptLabel=" " strongLabel="Mạnh"
                                strongRegex="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{8,}$"
                                weakLabel="Yếu">
                        <ng-template pTemplate="header">
                        </ng-template>
                        <ng-template pTemplate="footer">
                        </ng-template>
                    </p-password>
                    <span class="p-inputgroup-addon">
                        <i class="fa fa-key"></i>
                    </span>
                </div>
                <div *ngIf="formPassword.controls['password'].hasError('required') && formPassword.controls['password'].touched"
                     class="text-red-500 mt-1">
                    Vui lòng nhập mật khẩu
                </div>
                <div *ngIf="(
                        formPassword.controls['password'].hasError('pattern') ||
                        formPassword.controls['password'].hasError('maxLength')
                        )
                        && formPassword.controls['password'].dirty"
                     class="text-red-500 mt-1">
                    Mật khẩu không hợp lệ
                </div>
            </div>
            <div align="center" class="col-12 mt-3">
                <p-button (click)="onUpdatePassword()" icon="fa fa-save" label="Lưu thay đổi" type="button"></p-button>
            </div>
        </form>
    </p-dialog>
</div>
