a {
    text-decoration: none;
}

::ng-deep .p-menuitem, .p-menuitem-link {
    padding: 0 1rem !important;
}

::ng-deep li:hover > div {
    background-color: var(--surface-300) !important;
    border-radius: 0.5rem !important;
}
