<div class="container mt-5 mb-5">
    <div class="grid">
        <div class="xl:col-9 lg:col-9 md:col-12 sm:col-12 col-12 grid">
            <p-fieldset class="col-12">
                <ng-template pTemplate="header">
                    <div class="flex align-items-center">
                        <span class="fa-solid fa-newspaper mr-2 text-primary"></span>
                        <span class="font-bold text-lg">TIN TỨC</span>
                    </div>
                </ng-template>
                <div *ngIf="news && news.length > 0; else noDataTemplate" class="grid">
                    <div *ngFor="let item of news" class="xl:col-6 lg:col-6 md:col-6 sm:col-12 col-12 mx-auto"
                         style="max-width: 400px;">
                        <app-card-news [news]="item" [visibleDetail]="true"></app-card-news>
                    </div>
                </div>
                <ng-template #noDataTemplate>
                    <div class="text-center text-lg">Không có dữ liệu</div>
                </ng-template>
            </p-fieldset>
            <div *ngIf="news && news.length > 0" class="col-12">
                <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="limit"
                             [showCurrentPageReport]="false"
                             [style]="{'margin-top': '1rem'}"
                             [totalRecords]="totalElements">
                </p-paginator>
            </div>
        </div>
        <div class="xl:col-3 lg:col-3 md:col-12 sm:col-12 col-12 lg:mt-5">
            <div class="card text-center">
                <p class="text-2xl font-bold mb-0 pb-0">Danh mục</p>
                <p-divider></p-divider>
                <div *ngIf="categories" class="my-3">
                    <div class="card mx-2 py-3 border-cyan-100 hover:bg-cyan-100">
                        <p (click)="onSearch('')" class="text-lg font-bold text-primary cursor-pointer">Tất cả</p>
                    </div>
                    <div *ngFor="let item of categories" class="card mx-2 py-3 border-cyan-100 hover:bg-cyan-100">
                        <p (click)="onSearch(item.id)"
                           class="text-lg font-bold text-primary cursor-pointer">{{ item.name }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-card-footer [actionLink]="'/ung-ho'" [action]="'ỦNG HỘ NGAY'"
                 [title]="'BẠN ĐÃ SẴN SÀNG GIÚP ĐỠ?'"></app-card-footer>
