.card {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	max-width: 800px;
}

.card img {
	width: 100%;
	max-width: 400px;
	height: auto;
}

.text-card {
	flex: 1;
}

.title {
    text-decoration: none;
    color: black;
}

.title:hover > h4 {
    color: var(--primary-color);
}

::ng-deep .p-divider {
    margin: 0.5rem 0px !important;
}

.text-card-news {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 3;
    min-height: 4.5em;
    line-height: 1.5;
}

.text-card-news-title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    min-height: 3.0em;
    line-height: 1.5;
}

