<div class="card">
    <a routerLink="/adopt"><img src="{{news.image}}" class="border-round"></a>
    <div class="text-card">
        <a routerLink="/" class="title">
            <h4 class="m-1 text-card-news-title">{{news.title}}</h4>
        </a>
        <p class="m-0 font-bold text-cyan-500"><i class="fa-solid fa-calendar-days mr-1"></i>Ngày đăng: {{news.date}}</p>
        <p-divider></p-divider>
        <p class="text-overflow-ellipsis text-card-news">{{news.description}}</p>
    </div>
</div>