<div class="card">
    <p-dialog *ngIf="visibleUpdateImageModal" [(visible)]="visibleUpdateImageModal" [draggable]="false"
              [modal]="true" [resizable]="false" header="Cập nhật hình ảnh" styleClass="xl:w-6 lg:w-10 w-11">
        <p-fileUpload (uploadHandler)="onUploadImage($event)" [customUpload]="true" [maxFileSize]="100000000"
                      [showCancelButton]="false"
                      [showUploadButton]="true" accept="image/**" chooseLabel="Chọn hình ảnh"
                      invalidFileSizeMessageDetail="Kích thước file quá lớn"
                      invalidFileSizeMessageSummary="Lỗi kích thước"
                      invalidFileTypeMessageDetail="Chỉ chấp nhận file có định dạng hình ảnh: .jpg .jpge .png .gif"
                      invalidFileTypeMessageSummary="Lỗi định dạng"
                      uploadLabel="Tải">
        </p-fileUpload>
    </p-dialog>
    <p-dialog (visibleChange)="onHideFormUpdate()" *ngIf="visibleUpdateModal" [(visible)]="visibleUpdateModal"
              [draggable]="false" [modal]="true" [resizable]="false" header="Cập nhật galleria"
              styleClass="lg:w-6 md:w-8 w-11">
        <form [formGroup]="formUpdate">
            <div class="grid">
                <div class="col-6">
                    <div class="flex flex-column gap-2">
                        <label for="status">Trạng thái <span class="text-red-500 font-bold">*</span></label>
                        <p-dropdown [filter]="false" [options]="galleriaService.optionStatus()" [showClear]="true"
                                    emptyMessage="Không có dữ liệu" formControlName="status"
                                    id="status" optionLabel="label" optionValue="value" placeholder="--Chọn--"
                                    styleClass="mat-form-field">
                        </p-dropdown>
                    </div>
                    <div
                        [hidden]="!formUpdate.controls['status'].hasError('required') || !formUpdate.controls['status'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Vui lòng chọn trạng thái
                    </div>
                </div>
                <div class="col-6">
                    <div class="flex flex-column gap-2">
                        <label for="index">Số thứ tự <span class="text-red-500">*</span></label>
                        <p-inputNumber formControlName="index" id="index" styleClass="mat-form-field"
                                       type="number"></p-inputNumber>
                    </div>
                    <div
                        [hidden]="!formUpdate.controls['index'].hasError('required') || !formUpdate.controls['index'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Vui lòng nhập số thứ tự (lớn hơn 0)
                    </div>
                </div>
                <div class="col-12">
                    <div class="flex flex-column gap-2">
                        <label for="title">Tiêu đề <span class="text-red-500">*</span></label>
                        <textarea formControlName="title" id="title" pInputTextarea rows="2" type="text"></textarea>
                    </div>
                    <div
                        [hidden]="!formUpdate.controls['title'].hasError('required') || !formUpdate.controls['title'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Vui lòng nhập tiêu đề
                    </div>
                    <div
                        [hidden]="!formUpdate.controls['title'].hasError('maxlength') || !formUpdate.controls['title'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Độ dài thông tin không hợp lệ (tối đa 100 ký tự)
                    </div>
                </div>
                <div class="col-12">
                    <div class="flex flex-column gap-2">
                        <label for="description">Mô tả <span class="text-red-500">*</span></label>
                        <textarea formControlName="description" id="description" pInputTextarea rows="4"
                                  type="text"></textarea>
                    </div>
                    <div
                        [hidden]="!formUpdate.controls['description'].hasError('required') || !formUpdate.controls['description'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Vui lòng nhập mô tả
                    </div>
                    <div
                        [hidden]="!formUpdate.controls['description'].hasError('maxlength') || !formUpdate.controls['description'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Độ dài thông tin không hợp lệ (tối đa 255 ký tự)
                    </div>
                </div>
                <div class="col-12">
                    <div class="flex flex-column gap-2">
                        <label for="link">Đường dẫn <span class="text-red-500">*</span></label>
                        <textarea formControlName="link" id="link" pInputTextarea rows="2" type="text"></textarea>
                    </div>
                    <div
                        [hidden]="!formUpdate.controls['link'].hasError('required') || !formUpdate.controls['link'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Vui lòng nhập đường dẫn liên kết
                    </div>
                </div>
                <div class="col-12">
                    <button (click)="onUpdateGalleria($event)" icon="fa fa-save" label="Lưu thay đổi" pButton></button>
                </div>
            </div>
        </form>
    </p-dialog>
    <p-panel [toggleable]="true" header="Công cụ" styleClass="mb-3">
        <form [formGroup]="formAdd">
            <div class="card grid">
                <div *ngIf="isAdd" class="col-12">
                    <div class="flex flex-column gap-2">
                        <label for="image">Hình ảnh <span class="text-red-500 font-bold">*</span></label>
                        <p-fileUpload (onSelect)="onImagePicked($event)" [customUpload]="true" [maxFileSize]="100000000"
                                      [showCancelButton]="false" [showUploadButton]="false" accept="image/**"
                                      chooseLabel="Chọn hình ảnh" id="image"
                                      invalidFileSizeMessageDetail="Kích thước file quá lớn"
                                      invalidFileSizeMessageSummary="Lỗi kích thước"
                                      invalidFileTypeMessageDetail="Chỉ chấp nhận file có định dạng hình ảnh: .jpg .jpge .png .gif"
                                      invalidFileTypeMessageSummary="Lỗi định dạng"
                                      name="image">
                            <ng-template pTemplate="file">
                                <div *ngIf="formAdd.controls['image'].value">
                                    <div class="p-fileupload-row grid">
                                        <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                            <img [src]="formAdd.controls['image'].value.objectURL"  alt="Image" width="50"/>
                                        </div>
                                        <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                            {{ formAdd.controls['image'].value.name }}
                                        </div>
                                        <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                            {{ formAdd.controls['image'].value.size }} bytes
                                        </div>
                                        <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                            <button (click)="onRemoveImage()"
                                                    icon="fa fa-close" pButton type="button"></button>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </p-fileUpload>
                    </div>
                    <div [hidden]="formAdd.controls['image'].valid || !formAdd.controls['image'].touched"
                         class="text-red-500 mt-2 ml-1">
                        Vui lòng tải hình ảnh
                    </div>
                </div>
                <div *ngIf="isAdd" class="col-12">
                    <div class="flex flex-column gap-2">
                        <label for="title">Tiêu đề <span class="text-red-500">*</span></label>
                        <textarea formControlName="title" id="title" pInputTextarea rows="2" type="text"></textarea>
                    </div>
                    <div
                        [hidden]="!formAdd.controls['title'].hasError('required') || !formAdd.controls['title'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Vui lòng nhập tiêu đề
                    </div>
                    <div
                        [hidden]="!formAdd.controls['title'].hasError('maxlength') || !formAdd.controls['title'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Độ dài thông tin không hợp lệ (tối đa 100 ký tự)
                    </div>
                </div>
                <div *ngIf="isAdd" class="col-12">
                    <div class="flex flex-column gap-2">
                        <label for="description">Mô tả <span class="text-red-500">*</span></label>
                        <textarea formControlName="description" id="description" pInputTextarea rows="4"
                                  type="text"></textarea>
                    </div>
                    <div
                        [hidden]="!formAdd.controls['description'].hasError('required') || !formAdd.controls['description'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Vui lòng nhập mô tả
                    </div>
                    <div
                        [hidden]="!formAdd.controls['description'].hasError('maxlength') || !formAdd.controls['description'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Độ dài thông tin không hợp lệ (tối đa 255 ký tự)
                    </div>
                </div>
                <div *ngIf="isAdd" class="col-12">
                    <div class="flex flex-column gap-2">
                        <label for="link">Đường dẫn <span class="text-red-500">*</span></label>
                        <textarea formControlName="link" id="link" pInputTextarea rows="2" type="text"></textarea>
                    </div>
                    <div [hidden]="!formAdd.controls['link'].hasError('required') || !formAdd.controls['link'].touched"
                         class="text-red-500 mt-2 ml-1">
                        Vui lòng nhập đường dẫn liên kết
                    </div>
                </div>
                <div class="col-12">
                    <button (click)="onCreateGalleria()" [icon]="isAdd ? 'fa fa-save' : 'fa fa-plus'"
                            [label]="isAdd ? 'Lưu thông tin' : 'Thêm mới'" pButton></button>
                    <button (click)="onHideFormAdd()" *ngIf="isAdd" class="ml-3 p-button-outlined" icon="fa fa-close"
                            label="Hủy"
                            pButton></button>
                </div>
            </div>
        </form>
    </p-panel>
    <p-accordion [multiple]="true">
        <p-accordionTab *ngFor="let galleria of gallerias" [header]="galleria.title">
            <div class="grid">
                <div class="col-12 mx-auto">
                    <p-image [preview]="true" alt="Image" src="{{ galleria.image }}" width="250"></p-image>
                </div>
                <div class="col-12">
                    <p class="font-semibold">Tiêu đề: <span class="font-normal">{{ galleria.title }}</span></p>
                    <p class="font-semibold">Mô tả: <span class="font-normal">{{ galleria.description }}</span></p>
                    <p class="font-semibold">Đường dẫn: <span class="font-normal"><a href="{{ galleria.link }}"
                                                                                     target="_blank">{{ galleria.link }}</a></span>
                    </p>
                    <p class="font-semibold">Thứ tự: <span class="font-normal">{{ galleria.index }}</span></p>
                    <p class="font-semibold">Trạng thái: <span class="font-normal">{{
                            galleria.status ? 'Đang hiển thị'
                                : 'Đã ẩn'
                        }}</span></p>
                </div>
                <div class="col-12">
                    <button (click)="onConfirmDelete($event, galleria.id)" class="p-button-outlined text-red-500 mr-3"
                            icon="fa fa-trash" label="Xóa"
                            pButton></button>
                    <button (click)="onShowUpdateImageModal(galleria.id)" class="mr-3 p-button-outlined"
                            icon="fa fa-photo"
                            label="Cập nhật hình ảnh" pButton></button>
                    <button (click)="onShowUpdateModal(galleria.id)" icon="fa fa-edit" label="Cập nhật thông tin"
                            pButton></button>
                </div>
            </div>
        </p-accordionTab>
    </p-accordion>
</div>
