<div class="card">
    <p-panel [toggleable]="true" header="Công cụ">
        <div class="card grid">
            <div class="lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="log-from">Từ ngày</label>
                    <p-calendar [(ngModel)]="key.fromDate" [readonlyInput]="true" [showClear]="false" [showIcon]="true"
                                dataType="string" dateFormat="dd/mm/yy" id="log-from"
                                styleClass="mat-form-field"></p-calendar>
                </div>
            </div>
            <div class="lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="log-to">Đến ngày</label>
                    <p-calendar [(ngModel)]="key.toDate" [readonlyInput]="true" [showClear]="false" [showIcon]="true"
                                dataType="string" dateFormat="dd/mm/yy" id="log-to"
                                styleClass="mat-form-field"></p-calendar>
                </div>
            </div>
            <div class="col-12">
                <button (click)="getFeedbacks()" icon="fa fa-search" label="Tìm kiếm" pButton></button>
            </div>
        </div>
    </p-panel>
    <p-table #table [paginator]="true" [rowsPerPageOptions]="[1, 5, 10, 25]" [rows]="5"
             [tableStyle]="{'min-width': '60rem'}" [value]="feedbacks" selectionMode="single" styleClass="p-datatable-gridlines mt-3">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Hòm thư hỗ trợ
                <p-button (onClick)="onRefresh()" icon="fa fa-refresh"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="">
                <th class="col-2">Họ và tên</th>
                <th class="col-2">Email</th>
                <th class="col-1">Ngày</th>
                <th class="col-7">Nội dung</th>
            </tr>
        </ng-template>
        <ng-template let-fb pTemplate="body">
            <tr>
                <td>{{ fb.fullName }}</td>
                <td>{{ fb.email }}</td>
                <td>{{ fb.createdAt | date: 'dd/MM/yyyy' }}</td>
                <td>{{ fb.message }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
        </ng-template>
        <ng-template pTemplate="paginatorright">
        </ng-template>
    </p-table>
</div>
