<div *ngIf="log" class="position-relative">
    <form [formGroup]="form">
        <div class="grid">
            <div class="md:col-6 col-12">
                <div class="flex flex-column gap-2">
                    <label for="adoption">Đơn nhận nuôi</label>
                    <input pInputText type="text" [value]="log.adoptCode" disabled>
                </div>
            </div>
            <div class="md:col-6 col-12">
                <div class="flex flex-column gap-2">
                    <label for="date">Ngày kiểm tra <span class="text-red-500 font-bold">*</span></label>
                    <p-calendar id="date" [showIcon]="true" [readonlyInput]="true" dateFormat="dd/mm/yy" styleClass="mat-form-field w-full" dataType="string" formControlName="date"></p-calendar>
                </div>
                <div [hidden]="form.controls['date'].valid || !form.controls['date'].touched"
                    class="text-red-500 mt-2">
                    Vui lòng chọn ngày kiểm tra
                </div>
            </div>
            <div class="col-12">
                <div class="flex flex-column gap-2">
                    <label for="note">Nội dung <span class="text-red-500 font-bold">*</span></label>
                    <textarea  pInputTextarea id="note" styleClass="mat-form-field" formControlName="note" [rows]="12" id="note"></textarea>
                </div>
                <div [hidden]="form.controls['note'].valid || !form.controls['note'].touched"
                    class="text-red-500 mt-2">
                        Vui lòng nhập nội dung
                </div>
            </div>
            <div class="col-12 mt-5 grid justify-content-center" align="center">
                <div class="md:col-4 col-6">
                    <p-button label="Hoàn tác" styleClass="mat-form-button p-button-outlined" [disabled]="!form.dirty" (onClick)="onInitForm()"></p-button>
                </div>
                <div class="md:col-4 col-6">
                    <p-button label="Lưu" styleClass="mat-form-button" (onClick)="onSaveLog($event)"></p-button>
                </div>
            </div>
        </div>
    </form>
</div>