<div class="container mt-5 mb-5">
    <p-fieldset [toggleable]="true">
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2 px-2">
                <span class="font-bold lg:text-2xl text-xl">Quy trình nhận nuôi</span>
            </div>
        </ng-template>
        <div class="grid">
            <div class="xl:col-8 lg:col-8 md:col-8 sm:col-12 col-12">
                <p class="m-0 text-lg line-height-3">
                    Trước khi quyết định nhận nuôi bé chó hay mèo nào, bạn hãy tự hỏi bản thân rằng mình đã sẵn sàng để
                    chịu trách nhiệm cả đời cho bé chưa, cả về tài chính, nơi ở cũng như tinh thần. Việc nhận nuôi cần
                    được sự đồng thuận lớn từ bản thân bạn cũng như gia đình và những người liên quan. Xin cân nhắc kỹ
                    trước khi liên hệ với HUCE Pet về việc nhận nuôi.
                    <br>
                    Bạn đã sẵn sàng? Hãy thực hiện các bước sau đây nhé:
                    <br>
                    1️⃣ Tìm hiểu về thú cưng bạn muốn nhận nuôi trên trang web của HUCE Pet. <br>
                    2️⃣ Liên hệ với quản trị viên để tìm hiểu thêm về bé. <br>
                    3️⃣ Tham gia phỏng vấn nhận nuôi. <br>
                    4️⃣ Chuẩn bị cơ sở vật chất, ký giấy tờ nhận nuôi và đóng tiền vía để đón bé về. <br>
                    5️⃣ Thường xuyên cập nhật về tình hình của bé, đặc biệt là khi có sự cố để được tư vấn kịp thời.
                    <br>
                    ❗ <b>Lưu ý</b>: <br>
                    - Phần phỏng vấn có thể có nhiều câu hỏi mang tính chất riêng tư, vì vậy mong bạn hãy kiên nhẫn nhé!
                    <br>
                    - Tiền vía mỗi bé sẽ khác nhau tùy thuộc vào tình trạng của bé khi cứu cũng như các dịch vụ y tế
                    (tiêm phòng, triệt sản) đã thực hiện. <br>
                    - Tiền vía dùng để trả các khoản chi về y tế trước đây cho bé, cũng như để hỗ trợ chi phí chăm sóc,
                    nuôi dưỡng các bé khác tại nhà chung. <br>
                    - Trường hợp không nuôi được tiếp cần trả lại cho HUCE Pet, không tự ý đem cho người khác.
                </p>
            </div>
            <div class="xl:col-4 lg:col-4 md:col-4 sm:col-12 col-12" style="height: fit-content;">
                <p-panel iconPos="start">
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center text-center mx-auto">
                            <span class="font-semibold text-2xl">Điều kiện nhận nuôi</span>
                        </div>
                    </ng-template>
                    <p class="font-semibold"><i class="fa fa-paw text-primary mr-1"></i> Tài chính tự chủ và ổn định.</p>
                    <p class="font-semibold"><i class="fa fa-paw text-primary mr-1"></i> Chỗ ở cố định hoặc ít lưu động, ưu
                        tiên ở Hà Nội.</p>
                    <p class="font-semibold"><i class="fa fa-paw text-primary mr-1"></i> Cam kết tiêm phòng và triệt sản.
                    </p>
                </p-panel>
            </div>
        </div>
    </p-fieldset>
</div>
<app-card-footer [title]="'TẤT CẢ CÁC CA CỨU TRỢ'"
    [description]="'Tìm hiểu về tất cả các ca cứu trợ, đang điều trị, đã mất, đã được nhận nuôi...'"
    [action]="'XEM TẤT CẢ'" [actionLink]="'/cuu-tro/tat-ca'"></app-card-footer>
<div class="container mt-5 mb-5">
    <div class="flex align-items-center justify-content-center">
        <h2 class="my-1 mr-2 font-bold">TÌM THÚ CƯNG</h2>
        <i class="fa-solid fa-paw fa-rotate-by fa-xl text-primary" style="--fa-rotate-angle: 30deg;"></i>
    </div>
    <div class="mt-3">
        <p class="text-center">
            Tìm kiếm thú cưng theo các tiêu chí như giống, tuổi, giới tính, tình trạng sức khỏe...
        </p>
        <div class="flex align-items-center justify-content-center grid">
            <button pButton label="TẤT CẢ" class="p-button-lg btn-primary btn-type mx-3 mt-1 lg:col-2 md:col-2 sm:col-5 col-5" [ngClass]="{'btn-active': btnActive === null}" (click)="setType(null)"></button>
            <button pButton label="CHÓ" class="p-button-lg btn-primary btn-type mt-1 lg:col-2 md:col-2 sm:col-5 col-5" [ngClass]="{'btn-active': btnActive === 0}" (click)="setType(0)"></button>
            <button pButton label="MÈO" class="p-button-lg btn-primary btn-type mx-3 mt-1 lg:col-2 md:col-2 sm:col-5 col-5" [ngClass]="{'btn-active': btnActive === 1}" (click)="setType(1)"></button>
            <button pButton label="KHÁC" class="p-button-lg btn-primary btn-type mt-1 lg:col-2 md:col-2 sm:col-5 col-5" [ngClass]="{'btn-active': btnActive === 2}" (click)="setType(2)"></button>            
        </div>
        <div class="grid mt-3">
            <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-code" class="font-semibold">Mã</label>
                    <input pInputText appendIcon="fa fa-search" class="mat-form-field border-primary-500" [(ngModel)]="key.code">
                </div>
            </div>
            <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-name" class="font-semibold">Tên</label>
                    <input pInputText appendIcon="fa fa-search" class="mat-form-field border-primary-500" [(ngModel)]="key.name">
                </div>
            </div>
            <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-gender" class="font-semibold">Giới tính</label>
                    <p-dropdown [options]="petService.optionGender()" id="pet-gender" optioLabel="label"
                        styleClass="mat-form-field border-primary-500" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu" [(ngModel)]="key.gender"></p-dropdown>
                </div>            
            </div>
            <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-age" class="font-semibold">Tuổi</label>
                    <p-dropdown [options]="petService.optionAge()" id="pet-age" optioLabel="label"
                        styleClass="mat-form-field border-primary-500" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu" [(ngModel)]="key.age"></p-dropdown>
                </div>            
            </div>
            <div class="col-12" align="center">
                <button pButton icon="fa fa-search" label="Tìm kiếm" (click)="search()" class="mr-5"></button>
                <button pButton icon="fa fa-refresh" label="Làm mới" (click)="refresh()" class="ml-5"></button>
            </div>
        </div>
        <div *ngIf="pets && pets.length > 0; else noDataTemplate" class="grid mt-5">
            <div class="xl:col-3 lg:col-3 md:col-4 sm:col-6 col-6 mx-auto" *ngFor="let pet of pets">
                <app-card-pet 
                    [id]="pet.id"
                    [age]="petService.getAge(pet.age)"
                    [breed]="pet.breed"
                    [vaccin]="petService.getVaccin(pet.vaccin)"
                    [image]="pet.image"
                    [gender]="petService.getGender(pet.gender)"
                    [name]="pet.name">
                </app-card-pet>
            </div>
            <div class="col-12 mx-auto">
                <p-paginator [rows]="limit" [showCurrentPageReport]="false" [totalRecords]="totalRecords" [first]="first"
                    [style]="{'margin-top': '1rem'}"
                    (onPageChange)="onPageChange($event)">
                </p-paginator>
            </div>
        </div>
        <ng-template #noDataTemplate>
            <div class="text-center mx-5 p-5 text-lg">Không có dữ liệu</div>
        </ng-template>        
    </div>
</div>
<app-card-footer [title]="'BẠN CHƯA ĐỦ ĐIỀU KIỆN MANG BOSS VỀ NHÀ? ỦNG HỘ HUCE PET BẰNG CÁC CÁCH KHÁC NHÉ!'"
    [action]="'TÌM HIỂU NGAY'" [actionLink]="'/ung-ho'"></app-card-footer>