<div class="card">
    <p-dialog *ngIf="visibleCreateModal" [(visible)]="visibleCreateModal" [draggable]="false" [modal]="true"
              [resizable]="false" [style]="{ width: '90vw'}" header="Thêm thú cưng">
        <app-pet-create (resultAction)="onReceiveResult($event, 1)"></app-pet-create>
    </p-dialog>
    <p-dialog *ngIf="visibleUpdateModal" [(visible)]="visibleUpdateModal" [draggable]="false" [modal]="true"
              [resizable]="false" [style]="{ width: '90vw'}" header="Chỉnh sửa thú cưng">
        <app-pet-update (resultAction)="onReceiveResult($event, 2)" [idPet]="idPetUpdate"></app-pet-update>
    </p-dialog>
    <p-panel [toggleable]="true" header="Công cụ">
        <button (click)="onShowCreateModal()" icon="fa fa-plus" label="Thêm mới" pButton></button>
        <div class="card grid mt-3">
            <div class="xl:col-3 lg:col-4 md:col-4 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-code">Mã</label>
                    <input [(ngModel)]="key.code" appendIcon="fa fa-search" class="mat-form-field" id="pet-code"
                           pInputText>
                </div>
            </div>
            <div class="xl:col-3 lg:col-4 md:col-4 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-name">Tên</label>
                    <input [(ngModel)]="key.name" appendIcon="fa fa-search" class="mat-form-field" id="pet-name"
                           pInputText>
                </div>
            </div>
            <div class="xl:col-3 lg:col-4 md:col-4 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="intake-date-from">Tiếp nhận (từ)</label>
                    <p-calendar [(ngModel)]="key.intakeDateFrom" [readonlyInput]="true" [showIcon]="true" dataType="string"
                                dateFormat="dd/mm/yy" id="intake-date-from"
                                styleClass="mat-form-field"></p-calendar>
                </div>
            </div>
            <div class="xl:col-3 lg:col-4 md:col-4 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="intake-date-to">Tiếp nhận (đến)</label>
                    <p-calendar [(ngModel)]="key.intakeDateTo" [readonlyInput]="true" [showIcon]="true" dataType="string"
                                dateFormat="dd/mm/yy" id="intake-date-to"
                                styleClass="mat-form-field"></p-calendar>
                </div>
            </div>
            <div class="xl:col-3 lg:col-4 md:col-4 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-type">Loại</label>
                    <p-dropdown [(ngModel)]="key.type" [options]="petService.optionType()" [showClear]="true"
                                emptyMessage="Không có dữ liệu"
                                id="pet-type" optionLabel="label" optionValue="value"
                                placeholder="--Tất cả--" styleClass="mat-form-field"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-3 lg:col-4 md:col-4 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-gender">Giới tính</label>
                    <p-dropdown [(ngModel)]="key.gender" [options]="petService.optionGender()" [showClear]="true"
                                emptyMessage="Không có dữ liệu"
                                id="pet-gender" optionLabel="label" optionValue="value"
                                placeholder="--Tất cả--" styleClass="mat-form-field"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-3 lg:col-4 md:col-4 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-age">Tuổi</label>
                    <p-dropdown [(ngModel)]="key.age" [options]="petService.optionAge()" [showClear]="true" emptyMessage="Không có dữ liệu"
                                id="pet-age" optionLabel="label" optionValue="value"
                                placeholder="--Tất cả--" styleClass="mat-form-field"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-3 lg:col-4 md:col-4 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-status">Trạng thái</label>
                    <p-dropdown [(ngModel)]="key.status" [options]="petService.optionStatus()" [showClear]="true"
                                emptyMessage="Không có dữ liệu"
                                id="pet-status" optionLabel="label" optionValue="value"
                                placeholder="--Tất cả--" styleClass="mat-form-field"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-3 lg:col-4 md:col-4 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-diet">Chế độ ăn riêng</label>
                    <p-dropdown [(ngModel)]="key.diet" [options]="petService.optionMoreInfor()" [showClear]="true"
                                emptyMessage="Không có dữ liệu"
                                id="pet-diet" optionLabel="label" optionValue="value"
                                placeholder="--Tất cả--" styleClass="mat-form-field"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-3 lg:col-4 md:col-4 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-sterilization">Triệt sản</label>
                    <p-dropdown [(ngModel)]="key.sterilization" [options]="petService.optionMoreInfor()" [showClear]="true"
                                emptyMessage="Không có dữ liệu"
                                id="pet-sterilization" optionLabel="label" optionValue="value"
                                placeholder="--Tất cả--" styleClass="mat-form-field"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-3 lg:col-4 md:col-4 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-vaccine">Tiêm phòng tổng hợp</label>
                    <p-dropdown [(ngModel)]="key.vaccine" [options]="petService.optionMoreInfor()" [showClear]="true"
                                emptyMessage="Không có dữ liệu"
                                id="pet-vaccine" optionLabel="label" optionValue="value"
                                placeholder="--Tất cả--" styleClass="mat-form-field"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-3 lg:col-4 md:col-4 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-rabies">Tiêm dại</label>
                    <p-dropdown [(ngModel)]="key.rabies" [options]="petService.optionMoreInfor()" [showClear]="true"
                                emptyMessage="Không có dữ liệu"
                                id="pet-rabies" optionLabel="label" optionValue="value"
                                placeholder="--Tất cả--" styleClass="mat-form-field"></p-dropdown>
                </div>
            </div>
            <div class="col-12">
                <button (click)="onSearch()" icon="fa fa-search" label="Tìm kiếm" pButton></button>
            </div>
        </div>
    </p-panel>
    <p-table #table [paginator]="false" [tableStyle]="{'min-width': '60rem'}" [value]="pets"
             selectionMode="single" styleClass="p-datatable-gridlines mt-3">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Thú cưng
                <p-button (onClick)="onRefresh()" icon="fa fa-refresh"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="">
                <th class="col-1">Hình ảnh</th>
                <th class="col-1">Mã</th>
                <th class="col-2">Tên</th>
                <th class="col-1">Loại</th>
                <th class="col-2">Giống</th>
                <th class="col-1">Màu</th>
                <th class="col-1">Tuổi</th>
                <th class="col-1">Giới tính</th>
                <th class="col-1">Cân nặng</th>
                <th class="col-1">Trạng thái</th>
                <th class=""></th>
            </tr>
        </ng-template>
        <ng-template let-pet pTemplate="body">
            <tr>
                <td><img [alt]="pet.name" [src]="pet.image" class="shadow-4" height="60" width="60"/></td>
                <td>{{ pet.code }}</td>
                <td>{{ pet.name }}</td>
                <td>{{ petService.getType(pet.type) }}</td>
                <td>{{ pet.breed }}</td>
                <td>{{ pet.color }}</td>
                <td>{{ petService.getAge(pet.age) }}</td>
                <td>{{ petService.getGender(pet.gender) }}</td>
                <td>{{ pet.weight }} kg</td>
                <td>
                    <p-tag [severity]="petService.getSeverityStatus(pet.status)"
                           [value]="petService.getStatus(pet.status)"></p-tag>
                </td>
                <td>
                    <p-button #btn (click)="menu.toggle($event)" icon="fa fa-solid fa-sliders" type="button"></p-button>
                    <p-tieredMenu #menu [model]="pet.menuItems" [popup]="true" appendTo="body" class="p-0"
                                  styleClass="menucus"></p-tieredMenu>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rowsPerPageOptions]="[5, 10, 25, 40]" [rows]="limit"
                 [showCurrentPageReport]="false" [style]="{'margin-top': '1rem'}"
                 [totalRecords]="totalElements"></p-paginator>
</div>
