<div class="card">
    <p-toast></p-toast>
    <p-confirmDialog></p-confirmDialog>
    <p-dialog *ngIf="visibleCreateModal" header="Thêm thú cưng" [(visible)]="visibleCreateModal" [modal]="true"
        [style]="{ width: '90vw', height: '100vh' }" [draggable]="false" [resizable]="false">
        <app-pet-create (resultAction)="receiveResult($event, 0)"></app-pet-create>
    </p-dialog>
    <p-dialog *ngIf="visibleUpdateModal" header="Chỉnh sửa thú cưng" [(visible)]="visibleUpdateModal" [modal]="true"
        [style]="{ width: '90vw', height: '100vh' }" [draggable]="false" [resizable]="false">
        <p class="m-0">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
            pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
            est laborum.
        </p>
    </p-dialog>
    <p-panel header="Công cụ" [toggleable]="true">
        <button pButton icon="fa fa-plus" label="Thêm mới" (click)="showCreateModal()"></button>
        <div class="card grid mt-3">
            <div class="col-3">
                <div class="flex flex-column gap-2">
                    <label for="pet-code">Mã</label>
                    <input pInputText appendIcon="fa fa-search" class="mat-form-field" [(ngModel)]="key.code">
                </div>
            </div>
            <div class="col-3">
                <div class="flex flex-column gap-2">
                    <label for="pet-name">Tên</label>
                    <input pInputText appendIcon="fa fa-search" class="mat-form-field" [(ngModel)]="key.name">
                </div>
            </div>
            <div class="col-3">
                <div class="flex flex-column gap-2">
                    <label for="pet-color">Màu</label>
                    <input pInputText appendIcon="fa fa-search" class="mat-form-field" [(ngModel)]="key.color">
                </div>
            </div>
            <div class="col-3">
                <div class="flex flex-column gap-2">
                    <label for="pet-breed">Giống</label>
                    <input pInputText appendIcon="fa fa-search" class="mat-form-field" [(ngModel)]="key.breed">
                </div>
            </div>
            <div class="col-3">
                <div class="flex flex-column gap-2">
                    <label for="pet-type">Loại</label>
                    <p-dropdown [options]="petService.optionType()" id="pet-type" optioLabel="label"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu" [(ngModel)]="key.type"></p-dropdown>
                </div>
            </div>
            <div class="col-3">
                <div class="flex flex-column gap-2">
                    <label for="pet-gender">Giới tính</label>
                    <p-dropdown [options]="petService.optionGender()" id="pet-gender" optioLabel="label"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu" [(ngModel)]="key.gender"></p-dropdown>
                </div>            
            </div>
            <div class="col-3">
                <div class="flex flex-column gap-2">
                    <label for="pet-age">Tuổi</label>
                    <p-dropdown [options]="petService.optionAge()" id="pet-age" optioLabel="label"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu" [(ngModel)]="key.age"></p-dropdown>
                </div>            
            </div>
            <div class="col-3">
                <div class="flex flex-column gap-2">
                    <label for="pet-status">Trạng thái</label>
                    <p-dropdown [options]="petService.optionStatus()" id="pet-status" optioLabel="label"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu" [(ngModel)]="key.status"></p-dropdown>
                </div>            
            </div>
            <div class="col-12">
                <button pButton icon="fa fa-search" label="Tìm kiếm" (click)="search()"></button>
            </div>
        </div>
    </p-panel>
    <p-table #table [value]="pets" [tableStyle]="{'min-width': '60rem'}" styleClass="p-datatable-gridlines mt-3"
        selectionMode="single" [paginator]="false">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Thú cưng
                <p-button icon="fa fa-refresh" (onClick)="refresh()"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="">
                <th class="col-1">Hình ảnh</th>
                <th class="col-1">Mã</th>
                <th class="col-2">Tên</th>
                <th class="col-1">Loại</th>
                <th class="col-2">Giống</th>
                <th class="col-1">Màu</th>
                <th class="col-1">Tuổi</th>
                <th class="col-1">Giới tính</th>
                <th class="col-1">Cân nặng</th>
                <th class="col-1">Trạng thái</th>
                <th class=""></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pet>
            <tr>
                <td><img [src]="pet.image" [alt]="pet.name" width="60" class="shadow-4" height="60" /></td>
                <td>{{pet.code}}</td>
                <td>{{pet.name}}</td>
                <td>{{this.petService.getType(pet.type)}}</td>
                <td>{{pet.breed}}</td>
                <td>{{pet.color}}</td>
                <td>{{this.petService.getAge(pet.age)}}</td>
                <td>{{this.petService.getGender(pet.gender)}}</td>
                <td>{{pet.weight}} kg</td>
                <td><p-tag [value]="this.petService.getStatus(pet.status)"
                        [severity]="this.petService.getSeverityStatus(pet.status)"></p-tag></td>
                <td>
                    <p-button #btn type="button" icon="fa fa-solid fa-sliders" (click)="menu.toggle($event)"></p-button>
                    <p-tieredMenu #menu [model]="pet.menuItems" [popup]="true" appendTo="body" class="p-0"
                        styleClass="menucus"></p-tieredMenu>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="fa fa-plus" styleClass="p-button-text" (click)="showCreateModal()"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="fa fa-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
    <p-paginator [rows]="limit" [showCurrentPageReport]="false" [totalRecords]="totalRecords" [first]="first"
        [rowsPerPageOptions]="[5, 10, 25, 50]" [style]="{'margin-top': '1rem'}"
        (onPageChange)="onPageChange($event)"></p-paginator>
</div>