<form (ngSubmit)="onRegister()" *ngIf="step == 1" [formGroup]="registerForm" class="form-center">
    <p-panel class="xl:col-4 lg:col-6 md:col-6 sm:col-8 col-12 panel">
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
                <span class="font-bold text-4xl ml-2">
                    <i class="fa-sharp fa-solid fa-shield-cat mr-2 fa-xl text-primary"></i>
                    Đăng ký
                </span>
            </div>
        </ng-template>
        <div class="grid">
            <div class="col-12">
                <div class="font-bold mb-1">
                    Họ và tên <span class="text-red-500">*</span>
                </div>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="fa-solid fa-address-card"></i>
                    </span>
                    <input class="form-control" formControlName="name" name="name" pInputText type="text">
                </div>
                <div
                    [hidden]="!registerForm.controls['name'].hasError('required') || !registerForm.controls['name'].touched"
                    class="text-red-500 mt-1 ml-1">
                    Vui lòng nhập họ tên
                </div>
                <div
                    [hidden]="!registerForm.controls['name'].hasError('pattern') || !registerForm.controls['name'].touched"
                    class="text-red-500 mt-1 ml-1">
                    Họ tên không hợp lệ
                </div>
                <div [hidden]="(!registerForm.controls['name'].hasError('minlength') && !registerForm.controls['name'].hasError('maxlength'))
                    || !registerForm.controls['name'].touched"
                     class="text-red-500 mt-1 ml-1">
                    Độ dài thông tin không hợp lệ (tối thiểu 2 ký tự, tối đa 100 ký tự)
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="font-bold mb-1">
                    Số điện thoại <span class="text-red-500">*</span>
                </div>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="fa-solid fa-phone-flip"></i>
                    </span>
                    <input class="form-control" formControlName="phoneNumber" name="phone-number" pInputText
                           type="text">
                </div>
                <div *ngIf="registerForm.controls['phoneNumber'].hasError('required') && registerForm.controls['phoneNumber'].touched"
                     class="text-red-500 mt-1 ml-1">
                    Vui lòng nhập số điện thoại
                </div>
                <div *ngIf="(
                        registerForm.controls['phoneNumber'].hasError('pattern') ||
                        registerForm.controls['phoneNumber'].hasError('minlength') ||
                        registerForm.controls['phoneNumber'].hasError('maxlength')
                        )
                        && registerForm.controls['phoneNumber'].touched"
                     class="text-red-500 mt-1 ml-1">
                    Số điện thoại không hợp lệ
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="font-bold mb-1">
                    Email <span class="text-red-500">*</span>
                </div>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon">
                        <i class="fa fa-at"></i>
                    </span>
                    <input class="form-control" formControlName="email" name="email" pInputText type="email">
                </div>
                <div *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].touched"
                     class="text-red-500 mt-1 ml-1">
                    Vui lòng nhập email
                </div>
                <div *ngIf="(
                        registerForm.controls['email'].hasError('email') ||
                        registerForm.controls['email'].hasError('minlength') ||
                        registerForm.controls['email'].hasError('maxlength')
                        )
                        && registerForm.controls['email'].touched"
                     class="text-red-500 mt-1 ml-1">
                    Email không hợp lệ
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="font-bold mb-1">
                    Mật khẩu <span class="text-red-500">*</span>
                </div>
                <div class="p-inputgroup">
                    <p-password [inputStyle]="{'width':'100%'}" [style]="{'width':'100%'}" [toggleMask]="true"
                                class="form-control"
                                formControlName="password" mediumLabel="Trung bình" promptLabel=" " strongLabel="Mạnh"
                                strongRegex="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{8,100}$"
                                weakLabel="Yếu">
                        <ng-template pTemplate="header">
                            <h6>Nhập mật khẩu</h6>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <p-divider></p-divider>
                            <p class="mt-2 font-bold">Yêu cầu</p>
                            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                <li>Tối thiểu 1 ký tự đặc biệt</li>
                                <li>Tối thiểu 1 ký tự chữ thường</li>
                                <li>Tối thiểu 1 ký tự chữ hoa</li>
                                <li>Tối thiểu 1 ký tự số</li>
                                <li>Độ dài tối thiểu 8, tối đa 100 ký tự</li>
                            </ul>
                        </ng-template>
                    </p-password>
                    <span class="p-inputgroup-addon">
                        <i class="fa fa-key"></i>
                    </span>
                </div>
                <div *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched"
                     class="text-red-500 mt-1 ml-1">
                    Vui lòng nhập mật khẩu
                </div>
                <div *ngIf="(
                        registerForm.controls['password'].hasError('pattern') ||
                        registerForm.controls['password'].hasError('maxlength')
                        )
                        && registerForm.controls['password'].touched"
                     class="text-red-500 mt-1 ml-1">
                    Mật khẩu không hợp lệ
                </div>
            </div>
            <div class="col-12 mt-2">
                <button class="btn-register" label="Đăng ký" pButton type="submit"></button>
                <div [hidden]="!isSubmitted" class="mt-1">
                    <p-progressBar [style]="{ height: '3px' }" mode="indeterminate"></p-progressBar>
                </div>
            </div>
            <div align="center" class="col-12 mt-2">
                <span>Đã có tài khoản?
                    <a class="btn-register font-bold" icon="pi pi-microsoft" routerLink="/dang-nhap">Đăng nhập ngay</a>
                </span>
            </div>
        </div>
    </p-panel>
</form>
<form (ngSubmit)="onVerify()" *ngIf="step == 2" [formGroup]="verifyForm" class="form-center">
    <p-panel class="xl:col-4 lg:col-6 md:col-6 col-12 panel">
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
                <!-- <a routerLink="/home"><p-avatar image="../../../assets/medias/imgs/logo-huce.png" size="large"
                            shape="square" /></a> -->
                <span class="font-bold text-4xl ml-2">Xác thực</span>
            </div>
        </ng-template>
        <div class="grid">
            <div class="col-12">
                <span class="text-red-500 font-bold">Kiểm tra mã xác thực được gửi về email của bạn</span>
                <div class="mt-2">
                    <div class="font-bold">
                        Mã xác thực
                    </div>
                    <div class="text-center mt-2">
                        <input class="form-control text-center font-bold text-3xl" formControlName="code" maxlength="6"
                               name="code" pInputText type="text">
                    </div>
                    <div *ngIf="verifyForm.controls['code'].hasError('required') && verifyForm.controls['code'].touched"
                         class="text-red-500 mt-1 ml-1">
                        Vui lòng nhập mã xác thực
                    </div>
                </div>
            </div>
            <div class="col-6 mt-2">
                <button (click)="step = 1" class="btn-register p-button-outlined" label="Quay lại"
                        pButton type="button">
                </button>
            </div>
            <div class="col-6 mt-2">
                <button class="btn-register" label="Kiểm tra" pButton type="submit"></button>
            </div>
            <div class="col-12 text-center mt-1">
                <p class="font-semibold">Chưa nhận được mã? <a (click)="onRegister()" class="cursor-pointer">Gửi lại</a>
                </p>
            </div>
            <div [hidden]="!isSubmitted" class="col-12">
                <p-progressBar [style]="{ height: '3px' }" mode="indeterminate"></p-progressBar>
            </div>
        </div>
    </p-panel>
</form>
