<form (ngSubmit)="onRegister()" [formGroup]="registerForm" class="form-center">
    <p-panel class="xl:col-4 lg:col-6 md:col-6 col-12 panel">
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
                <span class="font-bold text-4xl ml-2">
                    <i class="fa-sharp fa-solid fa-shield-cat mr-2 fa-xl text-primary"></i>
                    Đăng ký
                </span>
            </div>
        </ng-template>
        <div class="grid">
            <div class="col-12">
                <div class="col-6 font-bold mb-1">
                    Họ và tên <span class="text-red-500">*</span>
                </div>
                <div class="p-inputgroup col-12">
                    <span class="p-inputgroup-addon">
                        <i class="fa-solid fa-address-card"></i>                   
                    </span>
                    <input pInputText type="text" formControlName="name" class="form-control" name="name">
                </div>
                <div class="text-red-500 ml-3"
                    *ngIf="registerForm.controls['name'].hasError('required') && registerForm.controls['name'].dirty">
                    Vui lòng nhập họ tên
                </div>
                <div class="text-red-500 ml-3"
                    *ngIf="registerForm.controls['name'].hasError('pattern') && registerForm.controls['name'].dirty">
                    Họ tên không hợp lệ
                </div>
            </div>
            <div class="col-12">
                <div class="col-6 font-bold mb-1">
                    Số điện thoại <span class="text-red-500">*</span>
                </div>
                <div class="p-inputgroup col-12">
                    <span class="p-inputgroup-addon">
                        <i class="fa-solid fa-phone-flip"></i>                    
                    </span>
                    <input pInputText type="text" formControlName="phoneNumber" class="form-control"
                    name="phone-number">
                </div>
                <div class="text-red-500 ml-3"
                    *ngIf="registerForm.controls['phoneNumber'].hasError('required') && registerForm.controls['phoneNumber'].dirty">
                    Vui lòng nhập số điện thoại
                </div>
                <div class="text-red-500 ml-3"
                    *ngIf="registerForm.controls['phoneNumber'].hasError('pattern') && registerForm.controls['phoneNumber'].dirty">
                    Số điện thoại không hợp lệ
                </div>
            </div>
            <div class="col-12">
                <div class="col-6 font-bold mb-1">
                    Email <span class="text-red-500">*</span>
                </div>
                <div class="p-inputgroup col-12">
                    <span class="p-inputgroup-addon">
                        <i class="fa fa-at"></i>
                    </span>
                    <input pInputText type="email" formControlName="email" class="form-control" name="email">
                </div>
                <div class="text-red-500 ml-3"
                    *ngIf="registerForm.controls['email'].hasError('required') && registerForm.controls['email'].dirty">
                    Vui lòng nhập email
                </div>
                <div class="text-red-500 ml-3"
                    *ngIf="registerForm.controls['email'].hasError('email') && registerForm.controls['email'].dirty">
                    Email không hợp lệ
                </div>
            </div>
            <div class="col-12">
                <div class="col-6 font-bold mb-1">
                    Mật khẩu <span class="text-red-500">*</span>
                </div>
                <div class="p-inputgroup col-12">
                    <p-password formControlName="password" class="form-control" promptLabel=" " weakLabel="Yếu"
                        mediumLabel="Trung bình" strongLabel="Mạnh" [style]="{'width':'100%'}"
                        [inputStyle]="{'width':'100%'}">
                        <ng-template pTemplate="header">
                            <h6>Nhập mật khẩu</h6>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <p-divider></p-divider>
                            <p class="mt-2 font-bold">Yêu cầu</p>
                            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                <li>Tối thiểu 1 ký tự chữ thường</li>
                                <li>Tối thiểu 1 ký tự chữ hoa</li>
                                <li>Tối thiểu 1 ký tự số</li>
                                <li>Độ dài tối thiểu 8 ký tự</li>
                            </ul>
                        </ng-template>
                    </p-password>
                    <span class="p-inputgroup-addon">
                        <i class="fa fa-key"></i>
                    </span>
                </div>
                <div class="text-red-500 ml-3"
                    *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].dirty">
                    Vui lòng nhập mật khẩu
                </div>
                <div class="text-red-500 ml-3"
                    *ngIf="registerForm.controls['password'].hasError('pattern') && registerForm.controls['password'].dirty">
                    Mật khẩu không hợp lệ
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="col-12">
                    <button pButton label="Đăng ký" type="submit" [disabled]="!registerForm.valid || isSubmitted"
                        class="btn-register">
                    </button>
                </div>
                <div class="col-12 mt-1" [hidden]="!isSubmitted">
                    <p-progressBar mode="indeterminate" [style]="{ height: '3px' }"></p-progressBar>
                </div>
            </div>
            <div class="col-12" [hidden]="!registerNotify">
                <div class="col-12">
                    <p-messages [(value)]="registerMsg" [enableService]="false" [closable]="false"></p-messages>
                </div>
            </div>
            <div class="col-12" align="center">
                <div class="col-12">
                    <span>Đã có tài khoản? <a class="btn-register font-bold" routerLink="/auth/login"
                            icon="pi pi-microsoft">Đăng nhập ngay</a></span>
                </div>
            </div>
        </div>
    </p-panel>
</form>