<form (ngSubmit)="onLogin()" [formGroup]="loginForm" class="form-center">
    <p-panel class="xl:col-4 lg:col-6 md:col-6 sm:col-8 col-12 panel">
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
                <span class="font-bold text-4xl ml-2">          
                    <i class="fa-sharp fa-solid fa-shield-dog mr-2 fa-xl text-primary"></i>
                    Đăng nhập
                </span>
            </div>
        </ng-template>
        <div class="grid">
            <div class="col-12">
                <div class="col-6 font-bold mb-1">
                    Email
                </div>
                <div class="p-inputgroup col-12">
                    <span class="p-inputgroup-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input pInputText type="text" formControlName="email" class="form-control" name="email">
                </div>
                <div class="col-6"
                    [hidden]="loginForm.controls['email'].valid || !loginForm.controls['email'].dirty"
                    class="text-red-500 ml-3">
                    Vui lòng nhập email
                </div>
            </div>
            <div class="col-12">
                <div class="col-6 font-bold mb-1">
                    Mật khẩu
                </div>
                <div class="p-inputgroup col-12">
                    <span class="p-inputgroup-addon">
                        <i class="fa fa-lock"></i>
                    </span>
                    <input pInputText type="password" formControlName="password" class="form-control" name="password">
                </div>
                <div class="col-6"
                    [hidden]="loginForm.controls['password'].valid || !loginForm.controls['password'].dirty"
                    class="text-red-500 ml-3">
                    Vui lòng nhập mật khẩu
                </div>
            </div>
            <div class="col-12 mt-3">
                <div class="col-12">
                    <button pButton label="Đăng nhập" type="submit" [disabled]="!loginForm.valid || isSubmitted"
                        class="btn-login">
                    </button>
                </div>
                <div class="col-12 mt-1" [hidden]="!isSubmitted">
                    <p-progressBar mode="indeterminate" [style]="{ height: '3px' }"></p-progressBar>
                </div>
            </div>
            <div class="col-12" [hidden]="!loginError">
                <div class="col-12">
                    <p-messages [(value)]="loginMsg" [enableService]="false" [closable]="false"></p-messages>
                </div>
            </div>
            <p-divider align="center" type="solid" class="col-12">
                <b>Hoặc</b>
            </p-divider>
            <div class="col-12">
                <div class="col-12">
                    <a routerLink="/auth/register">
                        <button pButton label="Đăng ký tài khoản mới" type="button"
                            class="btn-login p-button-secondary">
                        </button>
                    </a>
                </div>
            </div>
            <div class="col-12" align="center">
                <div class="col-12">
                    <a class="font-bold" routerLink="/auth/forgot-password">Quên mật khẩu?</a>
                </div>
            </div>
        </div>
    </p-panel>
</form>