<p-menubar>
    <ng-template pTemplate="start">
        <a class="mx-3" routerLink=""><img class="mr-2" height="60"
                                           src="../../../../assets/medias/imgs/logo-site-removebg.png"/></a>
    </ng-template>
    <ng-template pTemplate="end">
        <a class="p-button-primary mr-3" routerLink="">
            <p-button icon="fa fa-xmark"
                      styleClass="p-button-rounded p-button-primary p-button-text p-button-lg"></p-button>
        </a>
    </ng-template>
</p-menubar>
