<div class="card">
    <p-panel header="Công cụ" [toggleable]="true">
        <div class="grid my-3 mx-auto">
            <div class="lg:col-3 md:col-6 col-12">
                <div class="flex flex-column gap-2">
                    <label for="object">Đối tượng <span class="text-red-500 font-bold">*</span></label>
                    <p-dropdown [options]="objectStatistic" [(ngModel)]="objectStatisticSelected" styleClass="mat-form-field"
                        [showClear]="true" optionLabel="label" optionValue="value" placeholder="--Chọn--" id="object" (onChange)="clearData()">
                    </p-dropdown>
                </div> 
            </div>
            <div class="lg:col-3 md:col-6 col-12">
                <div class="flex flex-column gap-2">
                    <label for="year">Năm <span class="text-red-500 font-bold">*</span></label>
                    <p-calendar [(ngModel)]="year" view="year" placeholder="--Chọn--" dataType="string" [showClear]="true" id="year"
                        dateFormat="yy" inputId="yearPicker" styleClass="mat-form-field"></p-calendar>
                </div> 
            </div>
            <div class="lg:col-3 md:col-6 col-12">
                <div class="flex flex-column gap-2">
                    <label for="month">Tháng</label>
                    <p-dropdown [options]="monthNames" [(ngModel)]="month" styleClass="mat-form-field" [showClear]="true" id="month"
                        optionLabel="label" optionValue="value" placeholder="--Chọn tháng--"></p-dropdown>
                </div> 
            </div>
            <div class="lg:col-3 md:col-6 col-12">
                <div class="flex flex-column gap-2">
                    <label for="button"><br></label>
                    <button id="button" pButton label="Xem thông tin" class="w-full" (click)="onStatistic()"></button>
                </div> 
            </div>
        </div>
    </p-panel>
    <div *ngIf="year" class="card mt-3">
        <p-chart type="bar" [data]="statisticData" [options]="options"></p-chart>
    </div>
</div>