<div class="card">
    <p-panel header="Công cụ" [toggleable]="true">
        <div class="grid my-3 mx-auto">
            <div class="lg:col-3 md:col-6 col-12">
                <p-dropdown [options]="objectStatistic" [(ngModel)]="objectStatisticSelected" styleClass="mat-form-field border-red-500"
                    [showClear]="true" optionLabel="label" optionValue="value" placeholder="--Chọn đối tượng--">
                </p-dropdown>
            </div>
            <div class="lg:col-3 md:col-6 col-12">
                <p-calendar [(ngModel)]="year" view="year" placeholder="--Chọn năm--" dataType="string" [showClear]="true"
                    dateFormat="yy" inputId="yearPicker" styleClass="mat-form-field border-1 border-round border-red-500"></p-calendar>
            </div>
            <div class="lg:col-3 md:col-6 col-12">
                <p-dropdown [options]="monthNames" [(ngModel)]="month" styleClass="mat-form-field" [showClear]="true"
                    optionLabel="label" optionValue="value" placeholder="--Chọn tháng--"></p-dropdown>
            </div>
            <div class="lg:col-3 md:col-6 col-12">
                <button pButton label="Xem thông tin" class="w-full" (click)="onStatistic()"></button>
            </div>
        </div>
    </p-panel>
    <div *ngIf="objectStatisticSelected" class="card mt-3">
        <p-chart type="bar" [data]="statisticData" [options]="options"></p-chart>
    </div>
</div>