<div class="card">
    <p-dialog *ngIf="visibleCreateModal" header="Thêm chi phí sinh hoạt" [(visible)]="visibleCreateModal" [modal]="true"
        styleClass="xl:w-6 lg:w-8 md:w-8 w-11" [draggable]="false" [resizable]="false">
        <app-living-cost-create (resultAction)="onReceiveResult($event, 1)"></app-living-cost-create>
    </p-dialog>
    <p-dialog *ngIf="visibleUpdateModal" header="Chỉnh sửa chi phí sinh hoạt" [(visible)]="visibleUpdateModal" [modal]="true"
        styleClass="xl:w-6 lg:w-8 md:w-8 w-11" [draggable]="false" [resizable]="false">
        <app-living-cost-update (resultAction)="onReceiveResult($event, 2)" [idLivingCost]="idLivingCostUpdate"></app-living-cost-update>
    </p-dialog>
    <p-panel header="Công cụ" [toggleable]="true">
        <button pButton icon="fa fa-plus" label="Thêm mới" (click)="onShowCreateModal()"></button>
        <div class="card grid mt-3">
            <div class="lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="log-from">Từ ngày</label>
                    <p-calendar id="log-from" [showIcon]="true" [readonlyInput]="true" dateFormat="dd/mm/yy" styleClass="mat-form-field" dataType="string" [(ngModel)]="key.fromDate"></p-calendar>
                </div>
            </div>
            <div class="lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="log-to">Đến ngày</label>
                    <p-calendar id="log-to" [showIcon]="true" [readonlyInput]="true" dateFormat="dd/mm/yy" styleClass="mat-form-field" dataType="string" [(ngModel)]="key.toDate"></p-calendar>
                </div>
            </div>
            <div class="col-12">
                <button pButton icon="fa fa-search" label="Tìm kiếm" (click)="getLivingCosts()"></button>
            </div>
        </div>
    </p-panel>
    <p-table #table [value]="livingCosts" [tableStyle]="{'min-width': '60rem'}" styleClass="p-datatable-gridlines mt-3"
        selectionMode="single" [paginator]="false">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Lịch sử kiểm tra
                <p-button icon="fa fa-refresh" (onClick)="onRefresh()"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="">
                <th class="col-3">Tên chi chi phí</th>
                <th class="col-2">Giá trị </th>
                <th class="col-1">Ngày</th>
                <th class="col-5">Ghi chú</th>
                <th class="col-1">Trạng thái</th>
                <th class=""></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-cost>
            <tr>
                <td>{{cost.name}}</td>
                <td>{{cost.cost | currency: ' ' }} VNĐ</td>
                <td>{{cost.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{cost.note}}</td>
                <td>
                    <p-tag [value]="livingCostService.getStatus(cost.status)"
                            [severity]="livingCostService.getStatusBadge(cost.status)"></p-tag>
                </td>
                <td>
                    <p-button #btn type="button" icon="fa fa-solid fa-sliders" (click)="menu.toggle($event)"></p-button>
                    <p-tieredMenu #menu [model]="cost.menuItems" [popup]="true" appendTo="body" class="p-0"
                        styleClass="menucus"></p-tieredMenu>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="fa fa-plus" styleClass="p-button-text" (click)="onShowCreateModal()"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
        </ng-template>
    </p-table>
    <p-paginator [rows]="limit" [showCurrentPageReport]="false" [totalRecords]="totalElements" [first]="first"
            [rowsPerPageOptions]="[1, 5, 10, 25]" [style]="{'margin-top': '1rem'}"
            (onPageChange)="onPageChange($event)"></p-paginator>
</div>