<p-galleria [value]="images" [showItemNavigators]="true" [showThumbnails]="false" [showIndicators]="true"
    [showIndicatorsOnItem]="false" [responsiveOptions]="responsiveOptions" [autoPlay]="true" [circular]="true"
    [containerStyle]="{'width': '100%', 'max-height': '750px', 'min-height': '700px'}">
    <ng-template pTemplate="item" class="relative" let-item>
        <img [src]="item.itemImageSrc"
            style="width: 100%; display: block; max-height: 750px; min-height: 700px; object-fit: cover;" />
    </ng-template>
    <ng-template pTemplate="caption" let-item>
        <div class="mb-1 ml-1">
            <span class="title">{{ item.title }}</span>
            -
            <span class="description">{{ item.description }}</span>
        </div>
        <a href="{{ item.url }}"><button pButton label="XEM THÊM" class="btn-more ml-1"></button></a>
    </ng-template>
</p-galleria>
<div class="container mt-8">
    <p-fieldset [toggleable]="true">
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2 px-2">
                <span class="font-bold lg:text-xl md:text-md">Nhận nuôi thú cưng - HUCE Pet</span>
            </div>
        </ng-template>
        <div class="grid">
            <div class="xl:col-9 lg:col-9 md:col-9 sm:col-12 col-12">
                <p class="m-0 text-md">
                    Chúng tôi là một nhóm trẻ gồm tình nguyện viên Việt Nam và một số bạn nước ngoài, cùng hoạt động vì
                    tình yêu chó mèo.
                    Tôn chỉ hoạt động của chúng tôi là không từ bỏ nỗ lực với bất kỳ con vật nào, dù bé có ốm yếu hay
                    tàn tật tới đâu, bởi mỗi thú cưng đều cần có cơ hội hi vọng vào một tương lai tốt đẹp.
                    Chúng tôi cố gắng chăm sóc tốt nhất có thể, phần nào bù đắp lại những tổn thương cho các bé được cứu
                    hộ về dù là hoang, lạc, bị bỏ rơi hay bạo hành.
                    Ngoài ra, chúng tôi cũng luôn nỗ lực tìm mái ấm yêu thương các bé trọn đời.
                    Và cuối cùng, chúng tôi giúp nâng cao nhận thức về trách nhiệm của chủ nuôi thông qua mạng xã hội và
                    các hoạt động thiện nguyện.
                    <br>
                    Là một trong những trạm cứu hộ thú cưng ít ỏi tại Hà Nội, hoạt động từ năm 2015 đến nay, nhóm đã góp
                    phần cứu giúp trên 4.000 ca chó mèo bị bỏ rơi, hoang lạc, bị bạo hành, đồng thời tìm mái ấm mới cho
                    hàng trăm bé.
                </p>
                <button pButton label="VỀ CHÚNG TÔI" class="mt-3" routerLink="/intro"></button>
            </div>
            <div class="xl:col-3 lg:col-3 md:col-3 sm:col-8 col-8 mx-auto">
                <img src="../../../../assets/medias/imgs/logo-site-removebg.png" alt="" class="w-full">
            </div>
        </div>
    </p-fieldset>
    <div class="grid mt-5 action">
        <div class="xl:col-4 lg:col-4 md:col-7 sm:col-8 col-9 mx-auto">
            <p-card header="ỦNG HỘ">
                <ng-template pTemplate="header">
                    <img alt="ỦNG HỘ" src="../../../../assets/medias/imgs/action-1.jpg" style="height:350px"
                        class="border-circle border-3 border-primary-300 p-4 bg-cyan-100" />
                </ng-template>
                <p class="m-0 text-overflow-ellipsis text-card">
                    Giúp duy trì hoạt động của HUCE Pet qua hình thức quyên góp tiền hoặc vật phẩm.
                </p>
                <ng-template pTemplate="footer">
                    <p-button label="XEM THÊM" icon="fa fa-check"></p-button>
                </ng-template>
            </p-card>
        </div>
        <div class="xl:col-4 lg:col-4 md:col-7 sm:col-8 col-9 mx-auto">
            <p-card header="TÌNH NGUYỆN">
                <ng-template pTemplate="header" class="bg-cyan-100">
                    <img alt="TÌNH NGUYỆN" src="../../../../assets/medias/imgs/action-2.jpg" style="height:350px"
                        class="border-circle border-3 border-primary-300 p-4 bg-cyan-100" />
                </ng-template>
                <p class="m-0 text-overflow-ellipsis text-card p-0">
                    Hành động để thay đổi cuộc sống của chó, mèo và thú cưng khác.
                </p>
                <ng-template pTemplate="footer">
                    <p-button label="XEM THÊM" icon="fa fa-check"></p-button>
                </ng-template>
            </p-card>
        </div>
        <div class="xl:col-4 lg:col-4 md:col-7 sm:col-8 col-9 mx-auto">
            <p-card header="NHẬN NUÔI">
                <ng-template pTemplate="header">
                    <img alt="NHẬN NUÔI" src="../../../../assets/medias/imgs/action-3.jpg" style="height:350px"
                        class="border-circle border-3 border-primary-300 p-4 bg-cyan-100" />
                </ng-template>
                <p class="m-0 text-overflow-ellipsis text-card">
                    Hãy nhận nuôi, cưu mang, đừng xua đuổi và yêu thương loài động vật bị bỏ rơi.
                </p>
                <ng-template pTemplate="footer">
                    <p-button label="XEM THÊM" icon="fa fa-check"></p-button>
                </ng-template>
            </p-card>
        </div>
    </div>
</div>
<div class="w-full mt-3 mx-0 statistic" style="min-height: 300px;" *ngIf="statisticCases">
    <div class="grid mx-auto">
        <div class="xl:col-3 lg:col-3 md:col-6 sm:col-12 col-12 z-1">
            <div class="justify-center items-center">
                <i class="fa-solid fa-house-chimney-medical fa-3x text-primary xl:p-3 lg:p-3 p-2"></i>                
                <p class="xl:text-5xl lg:text-5xl md:text-2xl sm:text-2xl text-2xl font-bold my-2">{{statisticCases.total}}</p>
                <p class="xl:text-2xl lg:text-2xl md:text-base sm:text-sm text-sm my-2">CA CỨU HỘ</p>
            </div>
        </div>
        <div class="xl:col-3 lg:col-3 md:col-6 sm:col-12 col-12 z-1">
            <div class="justify-center items-center">
                <i class="fa-solid fa-person-circle-plus fa-3x text-primary xl:p-3 lg:p-3 p-2"></i>                
                <p class="xl:text-5xl lg:text-5xl md:text-2xl sm:text-2xl text-2xl font-bold my-2">{{statisticCases.adopted}}</p>
                <p class="xl:text-2xl lg:text-2xl md:text-base sm:text-sm text-sm my-2">ĐÃ CÓ CHỦ MỚI</p>
            </div>
        </div>
        <div class="xl:col-3 lg:col-3 md:col-6 sm:col-12 col-12 z-1">
            <div class="justify-center items-center">
                <i class="fa-solid fa-heart fa-3x text-primary xl:p-3 lg:p-3 p-2"></i>
                <p class="xl:text-5xl lg:text-5xl md:text-2xl sm:text-2xl text-2xl font-bold my-2">{{statisticCases.wait}}</p>
                <p class="xl:text-2xl lg:text-2xl md:text-base sm:text-sm text-sm my-2">ĐANG TÌM CHỦ</p>
            </div>
        </div>
        <div class="xl:col-3 lg:col-3 md:col-6 sm:col-12 col-12 z-1">
            <div class="justify-center items-center">
                <i class="xl:fa-3x lg:fa-3x md:fa-2x sm:fa-xl fa-3x fa-solid fa-shield-dog text-primary xl:p-3 lg:p-3 p-2"></i>                
                <p class="xl:text-5xl lg:text-5xl md:text-2xl sm:text-2xl text-2xl font-bold my-2">{{statisticCases.healing}}</p>
                <p class="xl:text-2xl lg:text-2xl md:text-base sm:text-sm text-sm my-2 mb-0">CHƯA SẴN SÀNG TÌM CHỦ</p>
            </div>
        </div>       
    </div>
</div>
<div class="container">
    <div class="mt-5 panel" align="center">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="flex align-items-center">
                    <h3 class="my-1 mr-2 font-bold">TÌM MÁI ẤM</h3>
                    <i class="fa-solid fa-paw fa-rotate-by fa-xl text-primary" style="--fa-rotate-angle: 30deg;"></i>
                </div>
            </ng-template>
            <p-carousel [value]="pets" [numVisible]="4" [numScroll]="1" [circular]="true"
                [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">
                <ng-template let-pet pTemplate="item">
                    <div class="mx-1">
                        <app-card-pet 
                        [id]="pet.id"
                        [age]="this.petService.getAge(pet.age)"
                        [breed]="pet.breed"
                        [vaccin]="this.petService.getVaccin(pet.vaccin)"
                        [image]="pet.image"
                        [gender]="this.petService.getGender(pet.gender)"
                        [name]="pet.name"
                        ></app-card-pet>
                    </div>
                </ng-template>
            </p-carousel>
            <button pButton label="NHẬN NUÔI" routerLink="/adopt" class="mt-3"></button>
        </p-panel>
    </div>
    <div class="mt-5 panel" align="center">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="flex align-items-center">
                    <h3 class="my-1 mr-2 font-bold">TIN TỨC</h3>
                    <i class="fa-solid fa-paw fa-rotate-by fa-xl text-primary" style="--fa-rotate-angle: 30deg;"></i>
                </div>
            </ng-template>
            <p-carousel [value]="news" [numVisible]="3" [numScroll]="3" [circular]="true"
                [responsiveOptions]="responsiveOptions" [autoplayInterval]="30000000">
                <ng-template let-news pTemplate="item">
                    <div class="mx-1">
                        <app-card-news [news]="news"></app-card-news>
                    </div>
                </ng-template>
            </p-carousel>
            <button pButton label="XEM THÊM" routerLink="/blog" class="mt-3"></button>
        </p-panel>
    </div>
</div>
<app-card-footer [title]="'BẠN ĐÃ SẴN SÀNG GIÚP ĐỠ?'" [action]="'ỦNG HỘ NGAY'"
    [actionLink]="'/donate'"></app-card-footer>