
<p-galleria [value]="images" [showItemNavigators]="true" 
[showThumbnails]="false" [showIndicators]="true" 
[showIndicatorsOnItem]="true" [responsiveOptions]="responsiveOptions" [autoPlay]="true"
[containerStyle]="{'width': '100%', 'max-height': '700px'}">
    <ng-template pTemplate="item" class="relative" let-item>
        <img [src]="item.itemImageSrc" style="width: 100%; display: block; max-height: 700px;"/>
        <div class="absolute top-0 right-50">
            <p class="title">{{item.title}}</p>
            <p class="description">{{item.description}}</p>
            <p-button label="XEM THÊM"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
            <img [src]="item.thumbnailImageSrc" style="display: block;" />
        </div>
    </ng-template>
</p-galleria>
<div class="container">
</div>