.title, .description {
    color: white;
}

.title {
    font-size: 2em;
    font-weight: 700;
}

.description {
    font-size: 1.5em;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 1.5em;
    }

    .description {
        font-size: 1.2em;
    }
}

@media screen and (max-width: 480px) {
    .title {
        font-size: 1.2em;
    }

    .description {
        font-size: 1em;
    }
}

.btn-more {
    font-size: 1em;
}

@media screen and (max-width: 768px) {
    .btn-more {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 480px) {
    .btn-more {
        font-size: 0.6em;
    }
}

.text-card {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
}


