<div class="container mt-5">
    <div class="grid mb-3 mx-auto">
        <div class="md:col-4 col-12">
            <p-dropdown [options]="monthNames" [(ngModel)]="month" styleClass="mat-form-field" [showClear]="true"
                optionLabel="label" optionValue="value" placeholder="--Chọn tháng--"></p-dropdown>
        </div>
        <div class="md:col-4 col-12">
            <p-calendar [(ngModel)]="year" view="year" placeholder="--Chọn năm--" dataType="string" [showClear]="true"
                dateFormat="yy" inputId="yearPicker" styleClass="mat-form-field"></p-calendar>
        </div>
        <div class="md:col-4 col-12">
            <button pButton label="Xem thông tin ủng hộ" class="w-full" (click)="onSearchDonations()"></button>
        </div>
    </div>
    <p-table *ngIf="donates != null && donates.length > 0" #table [value]="donates"
        [tableStyle]="{'min-width': '60rem'}" styleClass="p-datatable-gridlines my-3" selectionMode="single"
        [paginator]="true" [rows]="2">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Thông tin ủng hộ
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="">
                <th class="col-2">Người ủng hộ</th>
                <th class="col-2">Nguồn nhận</th>
                <th class="col-1">Thời gian</th>
                <th class="col-2">Hình thức</th>
                <th class="col-3">Nội dung</th>
                <th class="col-2">Giá trị</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-donate>
            <tr>
                <td>{{donate.remitter}}</td>
                <td>{{donate.payee}}</td>
                <td>{{donate.date | date:'dd/MM/yyyy'}}</td>
                <td>{{donationService.getType(donate.type)}}</td>
                <td>{{donate.detail}}</td>
                <td>{{donate.amount | currency: ' ' }} ₫</td>
            </tr>
        </ng-template>
    </p-table>
</div>
<div class="w-full mt-5 mx-0 donate-other" style="min-height: 300px;">
    <div class="grid mx-auto">
        <div class="col-12 z-1 mb-3">
            <p class="text-center font-bold lg:text-3xl text-2xl">ỦNG HỘ BẰNG PHƯƠNG THỨC KHÁC</p>
        </div>
        <div class="xl:col-4 lg:col-4 md:col-4 sm:col-12 col-12 z-1">
            <div class="justify-center items-center">
                <i class="fa-solid fa-shield-heart fa-3x text-primary xl:p-3 lg:p-3 p-2"></i>                
                <p class="xl:text-2xl text-2xl my-2">TÃ BỈM</p>
            </div>
        </div>
        <div class="xl:col-4 lg:col-4 md:col-4 sm:col-12 col-12 z-1">
            <div class="justify-center items-center">
                <i class="fa-solid fa-shirt fa-3x text-primary xl:p-3 lg:p-3 p-2"></i>                
                <p class="xl:text-2xl text-2xl my-2">QUẦN ÁO</p>
            </div>
        </div>
        <div class="xl:col-4 lg:col-4 md:col-4 sm:col-12 col-12 z-1">
            <div class="justify-center items-center">
                <i class="fa-solid fa-bowl-rice fa-3x text-primary xl:p-3 lg:p-3 p-2"></i>
                <p class="xl:text-2xl text-2xl my-2">THỨC ĂN</p>
            </div>
        </div>      
        <div class="col-12 z-1">
            <button pButton class="font-bold" routerLink="/lien-he">LIÊN HỆ HUCE PET</button>
        </div>
    </div>
</div>