<div class="container mt-5">
    <div class="card">
        <p-tabView styleClass="tabview-custom">
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="fa fa-address-book mr-2"></i>
                    <span>Thông tin liên hệ</span>
                </ng-template>
                <div *ngIf="contacts && socials" class="grid">
                    <p class="font-bold text-3xl col-12 pb-0">Thông tin liên hệ</p>
                    <div class="md:col-4 sm:col-12 col-12 text-lg">
                        <i class="fa-solid fa-map-marker-alt text-primary mr-2"></i>
                        <span class="font-semibold">
                            {{ contacts[2].value }}
                        </span>
                    </div>
                    <div class="md:col-4 sm:col-12 col-12 text-lg">
                        <i class="fa-solid fa-envelope text-primary mr-2"></i>
                        <a class="font-semibold" href="mailto:{{contacts[1].value}}">
                            {{ contacts[1].value }}
                        </a>
                    </div>
                    <div class="md:col-4 sm:col-12 col-12 text-lg">
                        <i class="fa-solid fa-phone text-primary mr-2"></i>
                        <a class="font-semibold" href="tel:{{contacts[0].value}}">
                            {{ contacts[0].value }}
                        </a>
                    </div>
                    <div class="md:col-4 sm:col-12 col-12 text-lg">
                        <i class="fa fa-facebook text-primary mr-2"></i>
                        <a class="font-semibold" href="{{socials[0].value}}" target="_blank">
                            HUCE Pet
                        </a>
                    </div>
                    <div class="md:col-4 sm:col-12 col-12 text-lg">
                        <i class="fa fa-instagram text-primary mr-2"></i>
                        <a class="font-semibold" href="{{socials[1].value}}" target="_blank">
                            huce.pet
                        </a>
                    </div>
                    <div class="md:col-4 sm:col-12 col-12 text-lg">
                        <i class="fa fa-twitter text-primary mr-2"></i>
                        <a class="font-semibold" href="{{socials[2].value}}" target="_blank">
                            huce.pet
                        </a>
                    </div>
                </div>
                <p-divider></p-divider>
                <div *ngIf="banks" class="grid mt-2 w-full text-lg">
                    <div class="col-12">
                        <p class="font-bold text-3xl">Thông tin ủng hộ</p>
                        <p>Chi phí và vật dụng sẽ được chia đều cho các bé đang điều trị và phục vụ xây dựng nhà chung
                            để các bé sinh hoạt</p>
                    </div>
                    <div *ngFor="let bank of banks" class="xl:col-3 lg:col-3 md:col-6 sm:col-12 col-12">
                        <div class="font-semibold"><i [ngClass]="bank.logo"
                                                      class="text-primary mr-1"></i> {{ bank.name }}
                            <br> {{ bank.accountNumber }} <br> {{ bank.owner }}
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel>
                <ng-template pTemplate="header">
                    <i class="fa fa-envelope mr-2"></i>
                    <span>Hòm thư góp ý</span>
                </ng-template>
                <form [formGroup]="formFeedback">
                    <div class="grid text-lg">
                        <div class="col-12">
                            <p class="font-bold text-3xl">Hòm thư góp ý</p>
                            <p>Hãy để lại lời nhắn cho chúng tôi</p>
                        </div>
                        <!-- <div class="col-6" align="right">
                            <img src="../../../../assets/medias/imgs/donate-1.png" alt="" class="w-25">
                        </div> -->
                        <div class="xl:col-6 lg:col-6 md:col-6 sm:col-12 col-12">
                            <label for="fullName">Họ và tên <span class="text-red-500">*</span></label>
                            <input class="w-full p-2 border-primary-500 mt-1" formControlName="fullName" id="fullName" pInputText
                                   type="text">
                            <div
                                [hidden]="!formFeedback.controls['fullName'].hasError('required') || !formFeedback.controls['fullName'].touched"
                                class="text-red-500 mt-2 ml-1">
                                Vui lòng nhập họ tên
                            </div>
                            <div
                                [hidden]="!formFeedback.controls['fullName'].hasError('minlength') || !formFeedback.controls['fullName'].touched"
                                class="text-red-500 mt-2 ml-1">
                                Độ dài thông tin không hợp lệ (tối thuểu 2 ký tự)
                            </div>
                            <div
                                [hidden]="!formFeedback.controls['fullName'].hasError('maxlength') || !formFeedback.controls['fullName'].touched"
                                class="text-red-500 mt-2 ml-1">
                                Độ dài thông tin không hợp lệ (tối đa 100 ký tự)
                            </div>
                        </div>
                        <div class="xl:col-6 lg:col-6 md:col-6 sm:col-12 col-12">
                            <label for="email">Email <span class="text-red-500">*</span></label>
                            <input class="w-full p-2 border-primary-500 mt-1" formControlName="email" id="email" pInputText
                                   type="text">
                            <div
                                [hidden]="!formFeedback.controls['email'].hasError('required') || !formFeedback.controls['email'].touched"
                                class="text-red-500 mt-2 ml-1">
                                Vui lòng nhập email
                            </div>
                            <div
                                [hidden]="!formFeedback.controls['email'].hasError('email') || !formFeedback.controls['email'].touched"
                                class="text-red-500 mt-2 ml-1">
                                Email không hợp lệ
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="message">Lời nhắn <span class="text-red-500">*</span></label>
                            <textarea class="w-full p-2 border-primary-500 mt-1" formControlName="message" id="message" pInputTextarea
                                      rows="5"></textarea>
                            <div
                                [hidden]="!formFeedback.controls['message'].invalid || !formFeedback.controls['message'].touched"
                                class="text-red-500 mt-2 ml-1">
                                Vui lòng nhập lời nhắn (tối thiểu 20 ký tự)
                            </div>
                        </div>
                        <div align="center" class="col-12">
                            <button (click)="onFeedback($event)" class="font-bold" pButton>Gửi tin nhắn</button>
                        </div>
                    </div>
                </form>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>
<div class="w-full my-5 mx-0 donate-other" style="min-height: 300px;">
    <div class="grid mx-auto">
        <div class="col-12 z-1 mb-3">
            <p class="text-center font-bold lg:text-3xl text-2xl">ỦNG HỘ BẰNG PHƯƠNG THỨC KHÁC</p>
        </div>
        <div class="xl:col-4 lg:col-4 md:col-4 sm:col-12 col-12 z-1">
            <div class="justify-center items-center">
                <i class="fa-solid fa-shield-heart fa-3x text-primary xl:p-3 lg:p-3 p-2"></i>
                <p class="xl:text-2xl text-2xl my-2">TÃ BỈM</p>
            </div>
        </div>
        <div class="xl:col-4 lg:col-4 md:col-4 sm:col-12 col-12 z-1">
            <div class="justify-center items-center">
                <i class="fa-solid fa-shirt fa-3x text-primary xl:p-3 lg:p-3 p-2"></i>
                <p class="xl:text-2xl text-2xl my-2">QUẦN ÁO</p>
            </div>
        </div>
        <div class="xl:col-4 lg:col-4 md:col-4 sm:col-12 col-12 z-1">
            <div class="justify-center items-center">
                <i class="fa-solid fa-bowl-rice fa-3x text-primary xl:p-3 lg:p-3 p-2"></i>
                <p class="xl:text-2xl text-2xl my-2">THỨC ĂN</p>
            </div>
        </div>
    </div>
</div>
<app-card-footer [actionLink]="'/ung-ho'" [action]="'ỦNG HỘ NGAY'"
                 [title]="'BẠN ĐÃ SẴN SÀNG GIÚP ĐỠ?'"></app-card-footer>
