::ng-deep .mat-form-field {
    width: 100% !important;
}

::ng-deep .mat-form-button {
    width: 75% !important;
}

::ng-deep textarea {
    resize: none;
}

::ng-deep .btn-primary:hover {
    background-color: var(--cyan-500) !important;
    border-color: var(--cyan-500) !important;
}

::ng-deep .btn-active {
    background-color: var(--cyan-500) !important;
    border-color: var(--cyan-500) !important;
}

::ng-deep .html p {
    margin-bottom: 0 !important;
}

@media screen and (max-width: 767px) and (min-width: 555px) {
    ::ng-deep .card-pet {
        padding-right: 2rem !important;
        padding-left: 2rem !important;
    }
}

@media screen and (max-width: 554px) and (min-width: 500px) {
    ::ng-deep .card-pet {
        padding-right: 1.5rem !important;
        padding-left: 1.5rem !important;
    }
}