::ng-deep .mat-form-field {
    width: 100% !important;
}

::ng-deep .mat-form-button {
    width: 75% !important;
}

::ng-deep textarea {
    resize: none;
}

::ng-deep .btn-primary:hover {
    background-color: var(--cyan-500) !important;
    border-color: var(--cyan-500) !important;
}

::ng-deep .btn-active {
    background-color: var(--cyan-500) !important;
    border-color: var(--cyan-500) !important;
}