<div class="position-relative">
    <p-dialog *ngIf="visibleTreatmentModal" [(visible)]="visibleTreatmentModal" [draggable]="false"
              [modal]="true" [resizable]="false" [style]="{ width: '80vw', height: 'fit-content' }">
        <app-treatment-pet [idPet]="idPet" [visiblePrice]="true"></app-treatment-pet>
    </p-dialog>
    <form *ngIf="pet" [formGroup]="form" enctype="multipart/form-data">
        <div class="grid mb-1">
            <div class="col-12 mx-auto">
                <p-image [preview]="true" [src]="pet.image" [style]="{'border-radius':'50%'}" alt="{{pet.name}}"
                         width="250"></p-image>
                <p-dialog *ngIf="visibleUpdateImageModal" [(visible)]="visibleUpdateImageModal"
                          [draggable]="false" [modal]="true"
                          [resizable]="false" [style]="{ width: '60vw', height: 'fit-content' }" header="Cập nhật hình ảnh">
                    <p-fileUpload (uploadHandler)="onUploadImage($event)" [customUpload]="true" [maxFileSize]="100000000" [showCancelButton]="false"
                                  [showUploadButton]="true" accept="image/**" chooseLabel="Chọn hình ảnh"
                                  invalidFileSizeMessageDetail="Kích thước file quá lớn" invalidFileSizeMessageSummary="Lỗi kích thước"
                                  invalidFileTypeMessageDetail="Chỉ chấp nhận file có định dạng hình ảnh: .jpg .jpge .png .gif"
                                  invalidFileTypeMessageSummary="Lỗi định dạng"
                                  name="petImage"
                                  uploadLabel="Tải">
                    </p-fileUpload>
                </p-dialog>
                <button (click)="onShowUpdateImageModal()" *ngIf="pet && !isNotAvailableForUpdate()" class="ml-3" icon="fa fa-upload"
                        label="Cập nhật hình ảnh" pButton></button>
                <button (click)="visibleTreatmentModal = true" class="p-button-outlined ml-3" icon="fa fa-photo" label="Xem thông tin điều trị"
                        pButton></button>
                <p *ngIf="pet && isNotAvailableForUpdate()" class="mt-2"><b>Người nhận nuôi:</b>
                    {{ pet.infoAdoptedBy }}</p>
            </div>
            <div class="xl:col-4 lg:col-4 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-name">Tên thú cưng <span class="text-red-500 font-bold">*</span></label>
                    <input formControlName="petName" id="pet-name" pInputText/>
                </div>
                <div [hidden]="!form.controls['petName'].hasError('required') || !form.controls['petName'].touched"
                     class="text-red-500 mt-2 ml-1">
                    Vui lòng nhập tên
                </div>
                <div
                    [hidden]="(!form.controls['petName'].hasError('minlength') && !form.controls['petName'].hasError('maxlength')) || !form.controls['petName'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Độ dài tên từ 2 đến 50 ký tự
                </div>
            </div>
            <div class="xl:col-2 lg:col-4 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="intake-date">Ngày tiếp nhận <span class="text-red-500 font-bold">*</span></label>
                    <p-calendar [maxDate]="maxDate" [readonlyInput]="true" [showIcon]="true" dataType="string"
                                dateFormat="dd/mm/yy" formControlName="intakeDate" id="intake-date"
                                styleClass="mat-form-field"></p-calendar>
                </div>
                <div [hidden]="form.controls['intakeDate'].valid || !form.controls['intakeDate'].touched"
                     class="text-red-500 mt-2 ml-1">
                    Vui lòng chọn ngày tiếp nhận
                </div>
            </div>
            <div class="xl:col-2 lg:col-4 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-type">Loại <span class="text-red-500 font-bold">*</span></label>
                    <p-dropdown [options]="petService.optionType()" [showClear]="true" emptyMessage="Không có dữ liệu"
                                formControlName="petType" id="pet-type" optionLabel="label" optionValue="value"
                                placeholder="--Chọn--" styleClass="mat-form-field"></p-dropdown>
                </div>
                <div [hidden]="form.controls['petType'].valid || !form.controls['petType'].touched"
                     class="text-red-500 mt-2 ml-1">
                    Vui lòng chọn loại
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-breed">Giống <span class="text-red-500 font-bold">*</span></label>
                    <p-autoComplete (completeMethod)="onFilterBreed($event)" [dropdown]="true"
                                    [suggestions]="filteredBreeds" field="label" formControlName="petBreed"
                                    id="pet-breed" styleClass="mat-form-field"></p-autoComplete>
                </div>
                <div [hidden]="form.controls['petBreed'].valid || !form.controls['petBreed'].touched"
                     class="text-red-500 mt-2 ml-1">
                    Vui lòng điền giống
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-color">Màu <span class="text-red-500 font-bold">*</span></label>
                    <p-autoComplete (completeMethod)="onFilterColor($event)" [dropdown]="true"
                                    [suggestions]="filteredColors" field="label" formControlName="petColor"
                                    id="pet-color" styleClass="mat-form-field"></p-autoComplete>
                </div>
                <div [hidden]="form.controls['petColor'].valid || !form.controls['petColor'].touched"
                     class="text-red-500 mt-2 ml-1">
                    Vui lòng điền màu
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-age">Tuổi <span class="text-red-500 font-bold">*</span></label>
                    <p-dropdown [options]="petService.optionAge()" [showClear]="true" emptyMessage="Không có dữ liệu"
                                formControlName="petAge" id="pet-age" optionLabel="label" optionValue="value"
                                placeholder="--Chọn--" styleClass="mat-form-field"></p-dropdown>
                </div>
                <div [hidden]="form.controls['petAge'].valid || !form.controls['petAge'].touched"
                     class="text-red-500 mt-2 ml-1">
                    Vui lòng chọn tuổi
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-gender">Giới tính <span class="text-red-500 font-bold">*</span></label>
                    <p-dropdown [options]="petService.optionGender()" [showClear]="true" emptyMessage="Không có dữ liệu"
                                formControlName="petGender" id="pet-gender" optionLabel="label" optionValue="value"
                                placeholder="--Chọn--" styleClass="mat-form-field"></p-dropdown>
                </div>
                <div [hidden]="form.controls['petGender'].valid || !form.controls['petGender'].touched"
                     class="text-red-500 mt-2 ml-1">
                    Vui lòng chọn giới tính
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-status">Trạng thái <span class="text-red-500 font-bold">*</span></label>
                    <p-dropdown [options]="petService.optionStatusModify()" [showClear]="true" emptyMessage="Không có dữ liệu"
                                formControlName="petStatus" id="pet-status" optionLabel="label" optionValue="value"
                                placeholder="--Chọn--" styleClass="mat-form-field"></p-dropdown>
                </div>
                <div [hidden]="form.controls['petStatus'].valid || !form.controls['petStatus'].touched"
                     class="text-red-500 mt-2 ml-1">
                    Vui lòng chọn trạng thái
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-weight">Cân nặng (kg) <span class="text-red-500 font-bold">*</span></label>
                    <p-inputNumber [maxFractionDigits]="2" formControlName="petWeight" id="pet-weight"
                                   styleClass="mat-form-field"></p-inputNumber>
                </div>
                <div [hidden]="form.controls['petWeight'].valid || !form.controls['petWeight'].touched"
                     class="text-red-500 mt-2 ml-1">
                    Vui lòng nhập cân nặng (lớn hơn 0)
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-vaccine">Tiêm phòng tổng hợp</label>
                    <p-dropdown [options]="petService.optionMoreInfor()" [showClear]="true" emptyMessage="Không có dữ liệu"
                                formControlName="petVaccine" id="pet-vaccine" optionLabel="label" optionValue="value"
                                placeholder="--Chọn--" styleClass="mat-form-field"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-rabies">Tiêm phòng dại</label>
                    <p-dropdown [options]="petService.optionMoreInfor()" [showClear]="true" emptyMessage="Không có dữ liệu"
                                formControlName="petRabies" id="pet-rabies" optionLabel="label" optionValue="value"
                                placeholder="--Chọn--" styleClass="mat-form-field"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-sterilization">Triệt sản</label>
                    <p-dropdown [options]="petService.optionMoreInfor()" [showClear]="true"
                                emptyMessage="Không có dữ liệu" formControlName="petSterilization" id="pet-sterilization"
                                optionLabel="label"
                                optionValue="value" placeholder="--Chọn--" styleClass="mat-form-field"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-diet">Chế độ ăn riêng</label>
                    <p-dropdown [options]="petService.optionMoreInfor()" [showClear]="true" emptyMessage="Không có dữ liệu"
                                formControlName="petDiet" id="pet-diet" optionLabel="label" optionValue="value"
                                placeholder="--Chọn--" styleClass="mat-form-field"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-toilet">Đi vệ sinh đúng chỗ</label>
                    <p-dropdown [options]="petService.optionMoreInfor()" [showClear]="true" emptyMessage="Không có dữ liệu"
                                formControlName="petToilet" id="pet-toilet" optionLabel="label" optionValue="value"
                                placeholder="--Chọn--" styleClass="mat-form-field"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-friendlyToHuman">Thân thiện với người</label>
                    <p-dropdown [options]="petService.optionMoreInfor()" [showClear]="true"
                                emptyMessage="Không có dữ liệu" formControlName="petFriendlyToHuman" id="pet-friendlyToHuman"
                                optionLabel="label"
                                optionValue="value" placeholder="--Chọn--" styleClass="mat-form-field"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-friendlyToCats">Thân thiện với mèo</label>
                    <p-dropdown [options]="petService.optionMoreInfor()" [showClear]="true"
                                emptyMessage="Không có dữ liệu" formControlName="petFriendlyToCats" id="pet-friendlyToCats"
                                optionLabel="label"
                                optionValue="value" placeholder="--Chọn--" styleClass="mat-form-field"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-friendlyToDogs">Thân thiện với chó</label>
                    <p-dropdown [options]="petService.optionMoreInfor()" [showClear]="true"
                                emptyMessage="Không có dữ liệu" formControlName="petFriendlyToDogs" id="pet-friendlyToDogs"
                                optionLabel="label"
                                optionValue="value" placeholder="--Chọn--" styleClass="mat-form-field"></p-dropdown>
                </div>
            </div>
            <div class="col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-description">Mô tả <span class="text-red-500 font-bold">*</span></label>
                    <textarea [rows]="5" formControlName="petDescription" id="pet-description"
                              pInputTextarea></textarea>
                </div>
                <div [hidden]="form.controls['petDescription'].valid || !form.controls['petDescription'].touched"
                     class="text-red-500 mt-2 ml-1">
                    Vui lòng điền mô tả
                </div>
            </div>
            <div class="col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-note">Ghi chú</label>
                    <textarea [rows]="5" formControlName="petNote" id="pet-note" pInputTextarea></textarea>
                </div>
            </div>
        </div>
        <div *ngIf="pet && !isNotAvailableForUpdate()" align="center" class="mt-3">
            <p-button (onClick)="onInitForm()" [disabled]="!form.dirty" icon="fa fa-refresh" label="Hoàn tác"
                      styleClass="p-button-outlined mr-3"></p-button>
            <p-button (onClick)="onSavePet($event)" icon="fa fa-save" label="Lưu thay đổi"></p-button>
        </div>
    </form>
</div>
