<footer class="new_footer_area">
    <div class="new_footer_top">
        <div class="container">
            <div *ngIf="introductions && contacts && socials" class="grid">
                <div class="lg:col-4 md:col-12 sm:col-12 col-12 mt-3">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s"
                         style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18 mb-0">Về chúng tôi</h3>
                        <p-divider></p-divider>
                        <p [innerHTML]="introductions[1].value"></p>
                    </div>
                </div>
                <div class="lg:col-3 md:col-4 sm:col-12 col-12 mt-3">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s"
                         style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18 mb-0">Thông tin</h3>
                        <p-divider></p-divider>
                        <ul class="f_list">
                            <li>
                                <a href="tel:{{contacts[0].value}}">
                                    <i class="fa fa-phone mr-2"></i>
                                    <span [innerHTML]="contacts[0].value"></span>
                                </a>
                            </li>
                            <li>
                                <a href="mailto:{{contacts[1].value}}">
                                    <i class="fa fa-envelope mr-2"></i>
                                    <span [innerHTML]="contacts[1].value"></span>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.google.com/maps" target="_blank">
                                    <i class="fa fa-map-marker mr-2"></i>
                                    <span [innerHTML]="contacts[2].value"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="lg:col-2 md:col-4 sm:col-12 col-12 mt-3">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s"
                         style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18 mb-0">Liên kết</h3>
                        <p-divider></p-divider>
                        <ul class="f_list">
                            <li><a routerLink="/" target="_blank">Trang chủ</a></li>
                            <li><a routerLink="/cuu-tro" target="_blank">Nhận nuôi</a> / <a routerLink="/ung-ho"
                                                                                            target="_blank">Ủng hộ</a>
                            </li>
                            <li><a routerLink="/tin-tuc" target="_blank">Tin tức</a> / <a routerLink="/tin-tuc"
                                                                                          target="_blank">Sự kiện</a>
                            </li>
                            <li><a routerLink="/lien-he" target="_blank">Liên hệ</a> / <a routerLink="/gioi-thieu"
                                                                                          target="_blank">Giới thiệu</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="lg:col-3 md:col-4 sm:col-12 col-12 mt-3">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s"
                         style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18 mb-0">Mạng xã hội</h3>
                        <p-divider></p-divider>
                        <div class="f_social_icon">
                            <a [href]="socials[0].value" class="fa fa-facebook" target="_blank"></a>
                            <a [href]="socials[1].value" class="fa fa-instagram" target="_blank"></a>
                            <a [href]="socials[2].value" class="fa fa-twitter" target="_blank"></a>
                            <a [href]="socials[3].value" class="fa-brands fa-discord" target="_blank"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom ml-2">
            <div class="container">
                <div class="grid align-items-center">
                    <div class="col-lg-6 col-sm-7">
                        <p class="f_400">© HUCE Pet. 2024 All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <!-- <div class="footer_bg_one"></div> -->
            <!-- <div class="footer_bg_two"></div> -->
            <div class="footer_bg_three"></div>
            <div class="footer_bg_four"></div>
        </div>
    </div>
</footer>
