<footer class="new_footer_area">
    <div class="new_footer_top">
        <div class="container">
            <div class="grid">
                <div class="lg:col-4 md:col-12 sm:col-12 col-12 mt-3">
                    <div class="f_widget company_widget wow fadeInLeft" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18 mb-0">Về chúng tôi</h3>
                        <p-divider></p-divider>
                        <p class="mb-0">Tổ chức phi lợi nhuận, hoạt động vì tình yêu thương chó và mèo.</p>
                        <p>
                            🐾 Bước vào một thế giới nơi của những chiếc đuôi và trái tim kết nối. 
                            <b>"HUCE Pet"</b> không chỉ là một cái tên; đó là một cam kết. 
                            Với chúng tôi, mỗi cuộc nhận nuôi là một chương trong câu chuyện tình yêu đang chờ được viết. 
                            Khám phá gia đình bốn chân của chúng tôi và cùng nhau, hãy làm đầy những ngôi nhà với tiếng cười, 
                            sự ấm áp, hạnh phúc và tiếng chân của các bé.
                        </p>
                    </div>
                </div>
                <div class="lg:col-3 md:col-4 sm:col-12 col-12 mt-3">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18 mb-0">Thông tin</h3>
                        <p-divider></p-divider>
                        <ul class="f_list">
                            <li>
                                <a href="#" class="grid">
                                    <div class="col-1">
                                        <i class="fa fa-map-marker"></i> 
                                    </div>
                                    <div class="col-11">Cầu Giấy, Hà Nội</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="grid">
                                    <div class="col-1">
                                        <i class="fa fa-phone"></i> 
                                    </div>
                                    <div class="col-11">0987654xxx</div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="grid">
                                    <div class="col-1">
                                        <i class="fa fa-envelope"></i> 
                                    </div>
                                    <div class="col-11">hucepet@gmail.com</div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="lg:col-2 md:col-4 sm:col-12 col-12 mt-3">
                    <div class="f_widget about-widget pl_70 wow fadeInLeft" data-wow-delay="0.6s" style="visibility: visible; animation-delay: 0.6s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18 mb-0">Liên kết</h3>
                        <p-divider></p-divider>
                        <ul class="f_list">
                            <li><a routerLink="/">Trang chủ</a></li>
                            <li><a routerLink="/adopt">Nhận nuôi</a> / <a routerLink="/donate">Ủng hộ</a></li>
                            <li><a routerLink="/support">Hỗ trợ</a> / <a routerLink="/intro">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="lg:col-3 md:col-4 sm:col-12 col-12 mt-3">
                    <div class="f_widget social-widget pl_70 wow fadeInLeft" data-wow-delay="0.8s" style="visibility: visible; animation-delay: 0.8s; animation-name: fadeInLeft;">
                        <h3 class="f-title f_600 t_color f_size_18 mb-0">Mạng xã hội</h3>
                        <p-divider></p-divider>
                        <div class="f_social_icon">
                            <a href="#" class="fa fa-facebook"></a>
                            <a href="#" class="fa fa-instagram"></a>
                            <a href="#" class="fa fa-google"></a>
                            <a href="#" class="fa fa-twitter"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom ml-2">
            <div class="container">
                <div class="grid align-items-center">
                    <div class="col-lg-6 col-sm-7">
                        <p class="f_400">© HUCE Pet. 2024 All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bg">
            <!-- <div class="footer_bg_one"></div> -->
            <!-- <div class="footer_bg_two"></div> -->
            <div class="footer_bg_three"></div>
            <div class="footer_bg_four"></div>
        </div>
    </div>
</footer>