<div class="card">
    <p-dialog *ngIf="visibleCreateModal" [(visible)]="visibleCreateModal" [draggable]="false" [modal]="true"
              [resizable]="false" [style]="{ width: '90vw' }" header="Thêm tin tức">
        <app-new-media-create (resultAction)="onReceiveResult($event, 1)"
                              [categories]="categories"></app-new-media-create>
    </p-dialog>
    <p-dialog *ngIf="visibleUpdateModal" [(visible)]="visibleUpdateModal" [draggable]="false" [modal]="true"
              [resizable]="false" [style]="{ width: '90vw' }" header="Chỉnh sửa tin tức">
        <app-new-media-update (resultAction)="onReceiveResult($event, 2)" [categories]="categories"
                              [idNews]="idNewsUpdate"></app-new-media-update>
    </p-dialog>
    <p-panel [toggleable]="true" header="Công cụ">
        <button (click)="onShowCreateModal()" icon="fa fa-plus" label="Thêm mới" pButton></button>
        <div class="card grid mt-3">
            <div class="xl:col-8 lg:col-12 md:col-12 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="news-title">Tiêu đề</label>
                    <input [(ngModel)]="key.title" appendIcon="fa fa-search" class="mat-form-field" id="news-title"
                           pInputText>
                </div>
            </div>
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="news-status">Trạng thái</label>
                    <p-dropdown [(ngModel)]="key.status" [options]="newsService.optionStatus()" [showClear]="true"
                                emptyMessage="Không có dữ liệu"
                                id="news-status" optionLabel="label" optionValue="value"
                                placeholder="--Tất cả--"
                                styleClass="mat-form-field"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="category">Danh mục</label>
                    <p-dropdown [(ngModel)]="key.categoryId" [filter]="true" [options]="categories" [showClear]="true"
                                emptyMessage="Không có dữ liệu"
                                filterBy="name" filterPlaceholder="Tên danh mục" id="category"
                                optionLabel="name" optionValue="id" placeholder="--Tất cả--"
                                styleClass="mat-form-field">
                        <ng-template let-category pTemplate="item">
                            <div class="flex align-items-center">
                                <div>{{ category.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="news-from">Từ ngày</label>
                    <p-calendar [(ngModel)]="key.fromDateTime" [readonlyInput]="true" [showClear]="true"
                                [showIcon]="true" dataType="string" dateFormat="dd/mm/yy" id="news-from"
                                styleClass="mat-form-field"></p-calendar>
                </div>
            </div>
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="news-to">Đến ngày</label>
                    <p-calendar [(ngModel)]="key.toDateTime" [readonlyInput]="true" [showClear]="true"
                                [showIcon]="true" dataType="string" dateFormat="dd/mm/yy" id="news-to"
                                styleClass="mat-form-field"></p-calendar>
                </div>
            </div>
            <div class="col-12">
                <button (click)="onSearch()" icon="fa fa-search" label="Tìm kiếm" pButton></button>
            </div>
        </div>
    </p-panel>
    <p-table #table [paginator]="false" [tableStyle]="{'min-width': '60rem'}" [value]="news"
             selectionMode="single" styleClass="p-datatable-gridlines mt-3">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Đơn nhận nuôi
                <p-button (onClick)="onRefresh()" icon="fa fa-refresh"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="">
                <th class="col-1">Hình ảnh</th>
                <th class="col-7">Tiêu đề</th>
                <th class="col-2">Danh mục</th>
                <th class="col-1">Thời gian tạo</th>
                <th class="col-1">Trạng thái</th>
                <th class=""></th>
            </tr>
        </ng-template>
        <ng-template let-news pTemplate="body">
            <tr>
                <td><img [alt]="news.title" [src]="news.image" class="shadow-4" height="60" width="60"/></td>
                <td>{{ news.title }}</td>
                <td>{{ news.categoryName }}</td>
                <td>{{ news.createdAt | date:'HH:mm - dd/MM/yyyy' }}</td>
                <td>
                    <p-tag [severity]="newsService.getStatusBadge(news.status)"
                           [value]="newsService.getStatus(news.status)"></p-tag>
                </td>
                <td>
                    <p-button #btn (click)="menu.toggle($event)" icon="fa fa-solid fa-sliders" type="button"></p-button>
                    <p-tieredMenu #menu [model]="news.menuItems" [popup]="true" appendTo="body" class="p-0"
                                  styleClass="menucus"></p-tieredMenu>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button (onClick)="onShowCreateModal()" icon="fa fa-plus" styleClass="p-button-text"
                      type="button"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
        </ng-template>
    </p-table>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rowsPerPageOptions]="[1, 5, 10, 25]" [rows]="limit"
                 [showCurrentPageReport]="false" [style]="{'margin-top': '1rem'}"
                 [totalRecords]="totalElements"></p-paginator>
</div>
