<div class="card">
    <p-confirmDialog></p-confirmDialog>
    <p-dialog *ngIf="visibleCreateModal" header="Thêm tin tức" [(visible)]="visibleCreateModal" [modal]="true"
        [style]="{ width: '95vw', height: '100vh' }" [draggable]="false" [resizable]="false">
        <app-new-media-create (resultAction)="receiveResult($event, 1)" [categories]="categories"></app-new-media-create>
    </p-dialog>
    <p-dialog *ngIf="visibleUpdateModal" header="Chỉnh sửa tin tức" [(visible)]="visibleUpdateModal" [modal]="true"
        [style]="{ width: '95vw', height: '100vh' }" [draggable]="false" [resizable]="false">
        <app-new-media-update (resultAction)="receiveResult($event, 2)" [idNews]="idNewsUpdate" [categories]="categories"></app-new-media-update>
    </p-dialog>
    <p-panel header="Công cụ" [toggleable]="true">
        <button pButton icon="fa fa-plus" label="Thêm mới" (click)="showCreateModal()"></button>
        <div class="card grid mt-3">
            <div class="xl:col-8 lg:col-12 md:col-12 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="news-title">Tiêu đề</label>
                    <input pInputText appendIcon="fa fa-search" class="mat-form-field" [(ngModel)]="key.title" id="news-title">
                </div>
            </div>
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="news-status">Trạng thái</label>
                    <p-dropdown [options]="newsService.optionStatus()" id="news-status" optionLabel="label" optionValue="value"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Tất cả--" [(ngModel)]="key.status"
                        emptyMessage="Không có dữ liệu"></p-dropdown>
                </div>            
            </div>
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="category">Danh mục</label>
                    <p-dropdown [options]="categories" optionLabel="name" optionValue="id" [filter]="true" filterBy="name" 
                    filterPlaceholder="Tên danh mục" emptyMessage="Không có dữ liệu" id="category"
                    [showClear]="true" placeholder="--Tất cả--" styleClass="mat-form-field" [(ngModel)]="key.categoryId">
                        <ng-template let-category pTemplate="item">
                            <div class="flex align-items-center">
                                <div>{{ category.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>            
            </div>
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="news-from">Từ ngày</label>
                    <p-calendar [showClear]="true" id="news-from"
                    [showIcon]="true" dateFormat="dd/mm/yy" styleClass="mat-form-field" dataType="string" [(ngModel)]="key.fromDateTime"></p-calendar>
                </div>
            </div>
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="news-to">Đến ngày</label>
                    <p-calendar [showClear]="true" id="news-to"
                    [showIcon]="true" dateFormat="dd/mm/yy" styleClass="mat-form-field" dataType="string" [(ngModel)]="key.toDateTime"></p-calendar>
                </div>
            </div>
            <div class="col-12">
                <button pButton icon="fa fa-search" label="Tìm kiếm" (click)="getNews()"></button>
            </div>
        </div>
    </p-panel>
    <p-table #table [value]="news" [tableStyle]="{'min-width': '60rem'}" styleClass="p-datatable-gridlines mt-3"
    selectionMode="single" [paginator]="false">
    <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
            Đơn nhận nuôi
            <p-button icon="fa fa-refresh" (onClick)="refresh()"></p-button>
        </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr class="">
            <th class="col-1">Hình ảnh</th>
            <th class="col-7">Tiêu đề</th>
            <th class="col-2">Danh mục</th>
            <th class="col-1">Thời gian tạo</th>
            <th class="col-1">Trạng thái</th>
            <th class=""></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-news>
        <tr>
            <td><img [src]="news.image" [alt]="news.title" width="60" class="shadow-4" height="60" /></td>
            <td>{{news.title}}</td>
            <td>{{news.categoryName}}</td>
            <td>{{news.createdAt | date:'HH:mm - dd/MM/yyyy'}}</td>
            <td>
                <p-tag [value]="newsService.getStatus(news.status)"
                        [severity]="newsService.getStatusBadge(news.status)"></p-tag>
            </td>
            <td>
                <p-button #btn type="button" icon="fa fa-solid fa-sliders" (click)="menu.toggle($event)"></p-button>
                <p-tieredMenu #menu [model]="news.menuItems" [popup]="true" appendTo="body" class="p-0"
                    styleClass="menucus"></p-tieredMenu>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="fa fa-plus" styleClass="p-button-text"></p-button>
    </ng-template>
    <ng-template pTemplate="paginatorright">
        <p-button type="button" icon="fa fa-cloud" styleClass="p-button-text"></p-button>
    </ng-template>
</p-table>
</div>