<div class="container mt-5 mb-5">
    <p-fieldset [toggleable]="true">
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2 px-2">
                <span class="font-bold lg:text-2xl text-xl">HUCE Pet</span>
            </div>
        </ng-template>
        <div class="grid">
            <div class="xl:col-6 lg:col-6 md:col-6 sm:col-12 col-12">
                <p class="m-0 text-lg line-height-3">
                    Chúng tôi là một nhóm trẻ gồm tình nguyện viên Việt Nam và một số bạn nước ngoài, cùng hoạt động vì
                    tình yêu chó mèo.
                    <br>
                    <br>
                    Tôn chỉ hoạt động của chúng tôi là không từ bỏ nỗ lực với bất kỳ con vật nào, dù bé có ốm yếu hay
                    tàn tật tới đâu, bởi mỗi thú cưng đều cần có cơ hội hi vọng vào một tương lai tốt đẹp.
                    Chúng tôi cố gắng chăm sóc tốt nhất có thể, phần nào bù đắp lại những tổn thương cho các bé được cứu
                    hộ về dù là hoang, lạc, bị bỏ rơi hay bạo hành.
                    Ngoài ra, chúng tôi cũng luôn nỗ lực tìm mái ấm yêu thương các bé trọn đời.
                    Và cuối cùng, chúng tôi giúp nâng cao nhận thức về trách nhiệm của chủ nuôi thông qua mạng xã hội và
                    các hoạt động thiện nguyện.
                    <br>
                    <br>
                    Là một trong những trạm cứu hộ thú cưng ít ỏi tại Hà Nội, hoạt động từ năm 2015 đến nay, nhóm đã góp
                    phần cứu giúp trên 4.000 ca chó mèo bị bỏ rơi, hoang lạc, bị bạo hành, đồng thời tìm mái ấm mới cho
                    hàng trăm bé.
                </p>
            </div>
            <div class="xl:col-6 lg:col-6 md:col-6 sm:col-12 col-12" style="height: fit-content;">
                <img src="../../../../assets/medias/imgs/intro.png" alt="" class="w-full">
            </div>
            <div class="col-12">
                <div class="grid">
                    <p class="lg:col-2 md:col-2 sm:col-3 col-4 text-2xl font-semibold text-primary">
                        Tầm nhìn
                    </p>
                    <p-divider layout="vertical" styleClass="lg:col-1 md:col-1 sm:col-2 col-2"></p-divider>
                    <p class="lg:col-9 md:col-9 sm:col-12 col-12 text-lg">
                        Chúng tôi luôn nỗ lực tìm kiếm những cơ hội mới để cứu giúp thú cưng, đồng thời tạo ra những
                        cơ hội tốt đẹp cho các bé có một cuộc sống tốt đẹp hơn.
                    </p>
                </div>
            </div>
            <div class="col-12">
                <div class="grid">
                    <p class="lg:col-2 md:col-2 sm:col-3 col-4 text-2xl font-semibold text-primary">
                        Sứ mệnh
                    </p>
                    <p-divider layout="vertical" styleClass="lg:col-1 md:col-1 sm:col-2 col-2"></p-divider>
                    <p class="lg:col-9 md:col-9 sm:col-12 col-12 text-lg">
                        Sẵn sàng là ngọn cờ dẫn đầu, lan tỏa tinh thần giúp đỡ động vật, cổ vũ - hỗ trợ các nhóm nhỏ hơn cùng phát triển và đi đúng hướng trên con đường cứu trợ chó mèo!
                    </p>
                </div>
            </div>
            <div class="col-12">
                <p class="m-0 text-lg line-height-4">
                    <br>
                    <span class="font-bold">HUCE Pet</span> cần sự giúp đỡ của bạn để có thể tiếp tục hoạt động và cứu
                    giúp thêm nhiều bé thú cưng hơn nữa.
                    <br>
                    <a class="font-bold" routerLink="/ung-ho">Hãy ủng hộ chúng tôi ngay hôm nay!</a>
                </p>
            </div>
        </div>
    </p-fieldset>
</div>
<app-card-footer [title]="'BẠN ĐÃ SẴN SÀNG GIÚP ĐỠ?'" [action]="'ỦNG HỘ NGAY'" [actionLink]="'/ung-ho'"></app-card-footer>