<form (ngSubmit)="onCheckExist()" *ngIf="step == 1" [formGroup]="forgotForm" class="form-center">
    <p-panel class="xl:col-4 lg:col-6 md:col-6 sm:col-8 col-12 panel">
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
                <span class="font-bold text-4xl ml-2">
                    <i class="fa-sharp fa-solid fa-user-shield mr-2 fa-md text-primary"></i>
                    Quên mật khẩu
                </span>
            </div>
        </ng-template>
        <div class="grid">
            <div class="col-12">
                <div class="mb-1">
                    Vui lòng nhập email hoặc số di động để tìm kiếm tài khoản của bạn
                </div>
                <div class="p-inputgroup mt-2">
                    <span class="p-inputgroup-addon">
                        <i class="fa fa-user"></i>
                    </span>
                    <input class="form-control" formControlName="account" name="account" pInputText type="text">
                </div>
                <div [hidden]="forgotForm.controls['account'].valid || !forgotForm.controls['account'].touched"
                     class="text-red-500 mt-1 ml-1">
                    Vui lòng nhập thông tin
                </div>
            </div>
            <div class="col-6 mt-2">
                <button class="btn-forgot p-button-outlined" label="Huỷ" pButton routerLink="/dang-nhap"
                        type="button">
                </button>
            </div>
            <div class="col-6 mt-2">
                <button class="btn-forgot" label="Tìm tài khoản" pButton type="submit">
                </button>
            </div>
        </div>
    </p-panel>
</form>
<form (ngSubmit)="onVerify()" *ngIf="step == 2" [formGroup]="verifyForm" class="form-center">
    <p-panel class="xl:col-4 lg:col-6 md:col-6 sm:col-8 col-12 panel">
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
                <span class="font-bold text-4xl ml-2">
                    <i class="fa-sharp fa-solid fa-user-shield mr-2 fa-md text-primary"></i>
                    Xác thực
                </span>
            </div>
        </ng-template>
        <div class="grid">
            <div class="col-12">
                <span class="text-red-500 font-bold">Kiểm tra mã xác thực được gửi về email của bạn</span>
                <div class="mt-2">
                    <div class="font-bold">
                        Mã xác thực
                    </div>
                    <div class="text-center mt-2">
                        <input class="form-control text-center font-bold text-3xl" formControlName="code" maxlength="6"
                               name="code" pInputText type="text">
                    </div>
                    <div *ngIf="verifyForm.controls['code'].hasError('required') && verifyForm.controls['code'].touched"
                         class="text-red-500 mt-1 ml-1">
                        Vui lòng nhập mã xác thực
                    </div>
                </div>
            </div>
            <div class="col-6 mt-2">
                <button (click)="step = 1" class="btn-forgot p-button-outlined" label="Quay lại"
                        pButton type="button">
                </button>
            </div>
            <div class="col-6 mt-2">
                <button class="btn-forgot" label="Kiểm tra" pButton type="submit">
                </button>
            </div>
            <div class="col-12 text-center mt-1">
                <p class="font-semibold">Chưa nhận được mã? <a (click)="onCheckExist()" class="cursor-pointer">Gửi
                    lại</a></p>
            </div>
        </div>
    </p-panel>
</form>
<form (ngSubmit)="onResetPassword()" *ngIf="step == 3" [formGroup]="resetPasswordForm" class="form-center">
    <p-panel class="xl:col-4 lg:col-6 md:col-6 sm:col-8 col-12 panel">
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2">
                <span class="font-bold text-4xl ml-2">
                    <i class="fa-sharp fa-solid fa-user-shield mr-2 fa-md text-primary"></i>
                    Đặt lại mật khẩu
                </span>
            </div>
        </ng-template>
        <div class="grid">
            <div class="col-12">
                <div class="font-bold mb-1">
                    Mật khẩu <span class="text-red-500">*</span>
                </div>
                <div class="p-inputgroup">
                    <p-password [inputStyle]="{'width':'100%'}" [style]="{'width':'100%'}" [toggleMask]="true" class="form-control"
                                formControlName="password"
                                mediumLabel="Trung bình" promptLabel=" " strongLabel="Mạnh"
                                strongRegex="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[\W_])[A-Za-z\d\W_]{8,100}$"
                                weakLabel="Yếu">
                        <ng-template pTemplate="header">
                            <h6>Nhập mật khẩu</h6>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <p-divider></p-divider>
                            <p class="mt-2 font-bold">Yêu cầu</p>
                            <ul class="pl-2 ml-2 mt-0" style="line-height: 1.5">
                                <li>Tối thiểu 1 ký tự đặc biệt</li>
                                <li>Tối thiểu 1 ký tự chữ thường</li>
                                <li>Tối thiểu 1 ký tự chữ hoa</li>
                                <li>Tối thiểu 1 ký tự số</li>
                                <li>Độ dài tối thiểu 8, tối đa 100 ký tự</li>
                            </ul>
                        </ng-template>
                    </p-password>
                    <span class="p-inputgroup-addon">
                        <i class="fa fa-key"></i>
                    </span>
                </div>
                <div *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched"
                     class="text-red-500 mt-1 ml-1">
                    Vui lòng nhập mật khẩu
                </div>
                <div *ngIf="(
                        resetPasswordForm.controls['password'].hasError('pattern') ||
                        resetPasswordForm.controls['password'].hasError('maxlength')
                        )
                        && resetPasswordForm.controls['password'].dirty"
                     class="text-red-500 mt-1 ml-1">
                    Mật khẩu không hợp lệ
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="font-bold mb-1">
                    Nhập lại mật khẩu <span class="text-red-500">*</span>
                </div>
                <div class="p-inputgroup">
                    <input class="form-control" formControlName="confirmPassword" name="confirmPassword" pInputText
                           type="password">
                </div>
                <div *ngIf="resetPasswordForm.controls['confirmPassword'].hasError('required') && resetPasswordForm.controls['confirmPassword'].touched"
                     class="text-red-500 mt-1 ml-1">
                    Vui lòng nhập lại mật khẩu
                </div>
                <div *ngIf="!resetPasswordForm.controls['confirmPassword'].hasError('required') &&
                    resetPasswordForm.hasError('passwordMismatch') && resetPasswordForm.controls['confirmPassword'].dirty"
                     class="text-red-500 mt-1 ml-1">
                    Mật khẩu không khớp
                </div>
            </div>
            <div class="col-12 mt-2">
                <button class="btn-forgot" label="Lưu" pButton type="submit">
                </button>
            </div>
        </div>
    </p-panel>
</form>
