<div class="card">
    <p-dialog *ngIf="visibleUpdateModal" header="Chỉnh sửa danh mục tin tức" [(visible)]="visibleUpdateModal" 
        [modal]="true" [style]="{}" [draggable]="false" [resizable]="false">
        <form [formGroup]="formUpdate">
            <div class="card grid mt-3">
                <div class="col-12">
                    <div class="flex flex-column gap-2">
                        <label for="name">Tên danh mục <span class="text-red-500">*</span></label>
                        <input pInputText type="text" formControlName="name" id="name">
                    </div>
                    <div [hidden]="formUpdate.controls['name'].valid || !formUpdate.controls['name'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Vui lòng điền tên danh mục
                    </div>            
                </div>
                <div class="col-12">
                    <div class="flex flex-column gap-2">
                        <label for="description">Mô tả <span class="text-red-500">*</span></label>
                        <textarea pInputTextarea type="text" formControlName="description" id="description" rows="5"></textarea>
                    </div>
                    <div [hidden]="formUpdate.controls['description'].valid || !formUpdate.controls['description'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Vui lòng điền mô tả danh mục
                    </div>          
                </div>
                <div class="col-12 mt-5 grid justify-content-center" align="center">
                    <div class="col-6">
                        <button pButton label="Lưu" class="mat-form-button" (click)="onUpdateNewsCategory($event)"></button>
                    </div>
                </div>
            </div>
        </form>
    </p-dialog>
    <p-panel header="Công cụ" [toggleable]="true" styleClass="mb-3">
        <form [formGroup]="formAdd">
            <div class="card grid">
                <div *ngIf="isAdd" class="col-12">
                    <div class="flex flex-column gap-2">
                        <label for="name">Tên danh mục <span class="text-red-500">*</span></label>
                        <input pInputText type="text" formControlName="name" id="name">
                    </div>
                    <div [hidden]="formAdd.controls['name'].valid || !formAdd.controls['name'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Vui lòng điền tên danh mục
                    </div>            
                </div>
                <div *ngIf="isAdd" class="col-12">
                    <div class="flex flex-column gap-2">
                        <label for="description">Mô tả <span class="text-red-500">*</span></label>
                        <textarea pInputTextarea type="text" formControlName="description" id="description"></textarea>
                    </div>
                    <div [hidden]="formAdd.controls['description'].valid || !formAdd.controls['description'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Vui lòng điền mô tả danh mục
                    </div>          
                </div>
                <div class="col-12">
                    <button pButton icon="fa fa-plus" label="Thêm mới" (click)="onCreateNewsCategory()"></button>
                    <button *ngIf="isAdd" pButton icon="fa fa-close" class="ml-3 p-button-outlined" label="Hủy" (click)="isAdd = false"></button>
                </div>
            </div>
        </form>
    </p-panel>
    <p-table #table [value]="categories" [tableStyle]="{'min-width': '60rem'}" styleClass="p-datatable-gridlines"
        selectionMode="single"  [paginator]="true" [rows]="5" [rowsPerPageOptions]="[1,5,10,20]" dataKey="id"
        [globalFilterFields]="['name']">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Danh mục tin tức
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="">
                <th class="col-3">Tên danh mục</th>
                <th class="col-9">Mô tả</th>
                <th></th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="name"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="description"></p-columnFilter>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
        <tr>
            <td>{{category.name}}</td>
            <td>{{category.description}}</td>
            <td>
                <div>
                    <p-button #btn type="button" icon="fa fa-solid fa-sliders" (click)="menu.toggle($event)"></p-button>
                    <p-tieredMenu #menu [model]="category.menuItems" [popup]="true" appendTo="body" class="p-0"
                        styleClass="menucus"></p-tieredMenu>
                </div>
            </td>
        </tr>
        </ng-template>
    </p-table>
</div>