<div class="position-relative">
    <form [formGroup]="form" enctype="multipart/form-data">
        <div class="grid">
            <div class="col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-image">Hình ảnh <span class="text-red-500 font-bold">*</span></label>
                    <p-fileUpload name="petImage" chooseLabel="Chọn hình ảnh" accept="image/**" [maxFileSize]="100000000" [customUpload]="true"
                        [showUploadButton]="false" [showCancelButton]="false" id="pet-image"
                        invalidFileSizeMessageSummary="Lỗi kích thước" invalidFileSizeMessageDetail="Kích thước file quá lớn"
                        invalidFileTypeMessageSummary="Lỗi định dạng" invalidFileTypeMessageDetail="Chỉ chấp nhận file có định dạng hình ảnh: .jpg .jpge .png .gif" 
                        (onSelect)="onImagePicked($event)">
                        <ng-template pTemplate="file">
                                <div *ngIf="form.controls['petImage'].value">
                                    <div class="p-fileupload-row grid">
                                        <div class="lg:col-3 md:col-6 sm:col-12 col-12"><img [src]="form.controls['petImage'].value.objectURL" width="50"/></div>
                                        <div class="lg:col-3 md:col-6 sm:col-12 col-12">{{form.controls['petImage'].value.name}}</div>
                                        <div class="lg:col-3 md:col-6 sm:col-12 col-12">{{form.controls['petImage'].value.size}} bytes</div>
                                        <div class="lg:col-3 md:col-6 sm:col-12 col-12"><button type="button" icon="fa fa-close" pButton (click)="onRemovePetImage()"></button></div>
                                    </div>
                                </div>
                        </ng-template>
                    </p-fileUpload>
                </div>
                <div [hidden]="form.controls['petImage'].valid || !form.controls['petImage'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng tải hình ảnh
                </div>
            </div>
            <div class="xl:col-4 lg:col-4 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-name">Tên thú cưng <span class="text-red-500 font-bold">*</span></label>
                    <input pInputText formControlName="petName" id="pet-name"/>
                </div>
                <div [hidden]="!form.controls['petName'].hasError('required') || !form.controls['petName'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng nhập tên
                </div>
                <div [hidden]="(!form.controls['petName'].hasError('minlength') && !form.controls['petName'].hasError('maxlength')) || !form.controls['petName'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Độ dài tên từ 2 đến 50 ký tự
                </div>
            </div>
            <div class="xl:col-2 lg:col-4 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="intake-date">Ngày tiếp nhận <span class="text-red-500 font-bold">*</span></label>
                    <p-calendar formControlName="intakeDate" id="intake-date" [maxDate]="maxDate"
                    [showIcon]="true" dateFormat="dd/mm/yy" styleClass="mat-form-field" dataType="string" 
                    [readonlyInput]="true" [showButtonBar]="true"></p-calendar>
                </div>
                <div [hidden]="form.controls['intakeDate'].valid || !form.controls['intakeDate'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng chọn ngày tiếp nhận
                </div>
            </div>
            <div class="xl:col-2 lg:col-4 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-type">Loại <span class="text-red-500 font-bold">*</span></label>
                    <p-dropdown formControlName="petType" [options]="petService.optionType()" id="pet-type" 
                        optionLabel="label" optionValue="value"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu"></p-dropdown>
                </div>
                <div [hidden]="form.controls['petType'].valid || !form.controls['petType'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng chọn loại
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-breed">Giống <span class="text-red-500 font-bold">*</span></label>
                    <p-autoComplete formControlName="petBreed" [suggestions]="filteredBreeds"
                        (completeMethod)="onFilterBreed($event)" field="label" styleClass="mat-form-field"
                        [dropdown]="true" id="pet-breed"></p-autoComplete>
                </div>
                <div [hidden]="form.controls['petBreed'].valid || !form.controls['petBreed'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng điền giống
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-color">Màu <span class="text-red-500 font-bold">*</span></label>
                    <p-autoComplete formControlName="petColor" [suggestions]="filteredColors"
                        (completeMethod)="onFilterColor($event)" field="label" styleClass="mat-form-field"
                        [dropdown]="true" id="pet-color"></p-autoComplete>
                </div>
                <div [hidden]="form.controls['petColor'].valid || !form.controls['petColor'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng điền màu
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-age">Tuổi <span class="text-red-500 font-bold">*</span></label>
                    <p-dropdown formControlName="petAge" [options]="petService.optionAge()" 
                        id="pet-age" optionLabel="label" optionValue="value"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu"></p-dropdown>
                </div>
                <div [hidden]="form.controls['petAge'].valid || !form.controls['petAge'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng chọn tuổi
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-gender">Giới tính <span class="text-red-500 font-bold">*</span></label>
                    <p-dropdown formControlName="petGender" [options]="petService.optionGender()" 
                        id="pet-gender" optionLabel="label" optionValue="value"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu"></p-dropdown>
                </div>
                <div [hidden]="form.controls['petGender'].valid || !form.controls['petGender'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng chọn giới tính 
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-status">Trạng thái <span class="text-red-500 font-bold">*</span></label>
                    <p-dropdown formControlName="petStatus" [options]="petService.optionStatusModify()" 
                        id="pet-status" optionLabel="label" optionValue="value"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu"></p-dropdown>
                </div>
                <div [hidden]="form.controls['petStatus'].valid || !form.controls['petStatus'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng chọn trạng thái 
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-weight">Cân nặng (kg) <span class="text-red-500 font-bold">*</span></label>
                    <p-inputNumber formControlName="petWeight" id="pet-weight" [maxFractionDigits]="2" styleClass="mat-form-field"></p-inputNumber>
                </div>
                <div [hidden]="form.controls['petWeight'].valid || !form.controls['petWeight'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng nhập cân nặng (lớn hơn 0)
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-vaccine">Tiêm phòng tổng hợp</label>
                    <p-dropdown formControlName="petVaccine" [options]="petService.optionMoreInfor()" 
                        id="pet-vaccine" optionLabel="label" optionValue="value"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-rabies">Tiêm phòng dại</label>
                    <p-dropdown formControlName="petRabies" [options]="petService.optionMoreInfor()" 
                        id="pet-rabies" optionLabel="label" optionValue="value"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-sterilization">Triệt sản</label>
                    <p-dropdown formControlName="petSterilization" [options]="petService.optionMoreInfor()" 
                        id="pet-sterilization" optionValue="value"
                        optionLabel="label" styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-diet">Chế độ ăn riêng</label>
                    <p-dropdown formControlName="petDiet" [options]="petService.optionMoreInfor()" 
                        id="pet-diet" optionLabel="label" optionValue="value"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-toilet">Đi vệ sinh đúng chỗ</label>
                    <p-dropdown formControlName="petToilet" [options]="petService.optionMoreInfor()" 
                        id="pet-toilet" optionLabel="label" optionValue="value"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-friendlyToHuman">Thân thiện với người</label>
                    <p-dropdown formControlName="petFriendlyToHuman" [options]="petService.optionMoreInfor()" 
                        id="pet-friendlyToHuman" optionValue="value"
                        optionLabel="label" styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-friendlyToCats">Thân thiện với mèo</label>
                    <p-dropdown formControlName="petFriendlyToCats" [options]="petService.optionMoreInfor()" 
                        id="pet-friendlyToCats" optionValue="value"
                        optionLabel="label" styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu"></p-dropdown>
                </div>
            </div>
            <div class="xl:col-2 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-friendlyToDogs">Thân thiện với chó</label>
                    <p-dropdown formControlName="petFriendlyToDogs" [options]="petService.optionMoreInfor()" 
                        id="pet-friendlyToDogs" optionValue="value"
                        optionLabel="label" styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                        emptyMessage="Không có dữ liệu"></p-dropdown>
                </div>
            </div>
            <div class="col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-description">Mô tả <span class="text-red-500 font-bold">*</span></label>
                    <textarea formControlName="petDescription" pInputTextarea id="pet-description" [rows]="5"></textarea> 
                </div>
                <div [hidden]="form.controls['petDescription'].valid || !form.controls['petDescription'].touched"
                    class="text-red-500 mt-2 ml-1">
                    Vui lòng điền mô tả
                </div>
            </div>
            <div class="col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet-note">Ghi chú</label>
                    <textarea formControlName="petNote" pInputTextarea id="pet-note" [rows]="5"></textarea>
                </div>
            </div>
        </div>
        <div class="mt-3" align="center">
            <p-button label="Làm mới" icon="fa fa-refresh" styleClass="p-button-outlined mr-3" [disabled]="!form.dirty" (onClick)="form.reset()"></p-button>
            <p-button label="Lưu thông tin" icon="fa fa-save" (onClick)="onSavePet()"></p-button>
        </div>
    </form>
</div>