<p-panel header="Thông tin thú cưng" styleClass="my-3">
    <div *ngIf="pet" class="grid">
        <div class="xl:col-3 lg:col-3 md:col-6 col-8 mx-auto">
            <img alt="{{pet.name}}"
                 class="w-full mt-2" src="{{pet.image}}" style="border-radius: 10px; max-height: 600px;">
        </div>
        <div class="xl:col-2 lg:col-2 md:col-6 col-12 mx-auto">
            <p class="text-3xl font-semibold mb-3">{{ pet.name }}</p>
            <p-divider type="dashed"></p-divider>
            <p><b>Mã:</b> {{ pet.code }}</p>
            <p-divider type="dashed"></p-divider>
            <p><b>Giống:</b> {{ pet.breed }}</p>
            <p-divider type="dashed"></p-divider>
            <p><b>Màu lông:</b> {{ pet.color }}</p>
            <p-divider type="dashed"></p-divider>
            <p><b>Tuổi:</b> {{ this.petService.getAge(pet.age) }}</p>
            <p-divider type="dashed"></p-divider>
            <p><b>Cân nặng:</b> {{ pet.weight }} kg</p>
            <p-divider type="dashed"></p-divider>
            <p><b>Giới tính:</b> {{ this.petService.getGender(pet.gender) }}</p>
            <p-divider type="dashed"></p-divider>
        </div>
        <div class="xl:col-7 lg:col-7 md:col-12 col-12 mx-auto">
            <p class="text-3xl font-semibold mb-3">Thông tin</p>
            <p-divider></p-divider>
            <div class="grid mt-1">
                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                    <p>
                        <p-badge [severity]="petService.getBadgeSeverity(pet.sterilization)"
                                 value="{{petService.getBadgeValue(pet.sterilization)}}"></p-badge>
                        Triệt sản
                    </p>
                </div>
                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                    <p>
                        <p-badge [severity]="petService.getBadgeSeverity(pet.friendlyToHuman)"
                                 value="{{petService.getBadgeValue(pet.friendlyToHuman)}}"></p-badge>
                        Thân thiện với người
                    </p>
                </div>
                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                    <p>
                        <p-badge [severity]="petService.getBadgeSeverity(pet.diet)"
                                 value="{{petService.getBadgeValue(pet.diet)}}"></p-badge>
                        Chế độ ăn riêng
                    </p>
                </div>
                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                    <p>
                        <p-badge [severity]="petService.getBadgeSeverity(pet.rabies)"
                                 value="{{petService.getBadgeValue(pet.rabies)}}"></p-badge>
                        Tiêm dại
                    </p>
                </div>
                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                    <p>
                        <p-badge [severity]="petService.getBadgeSeverity(pet.friendlyToDogs)"
                                 value="{{petService.getBadgeValue(pet.friendlyToDogs)}}"></p-badge>
                        Thân thiện với chó
                    </p>
                </div>
                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                    <p>
                        <p-badge [severity]="petService.getBadgeSeverity(pet.toilet)"
                                 value="{{petService.getBadgeValue(pet.toilet)}}"></p-badge>
                        Đi vệ sinh đúng chỗ
                    </p>
                </div>
                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                    <p>
                        <p-badge [severity]="petService.getBadgeSeverity(pet.vaccine)"
                                 value="{{petService.getBadgeValue(pet.vaccine)}}"></p-badge>
                        Tiêm phòng bệnh
                    </p>
                </div>
                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                    <p>
                        <p-badge [severity]="petService.getBadgeSeverity(pet.friendlyToCats)"
                                 value="{{petService.getBadgeValue(pet.friendlyToCats)}}"></p-badge>
                        Thân thiện với mèo
                    </p>
                </div>
                <div class="col-12">
                    <p><span class="font-semibold">Mô tả: </span>
                        <span>
                        {{ pet.description }}
                        </span>
                    </p>
                </div>
                <div *ngIf="visibleNote" class="col-12">
                    <p><span class="font-semibold">Ghi chú: </span>
                        <span *ngIf="pet.note; else showDots">
                        {{ pet.note }}
                        </span>
                        <ng-template #showDots>
                            <span>...</span>
                        </ng-template>
                    </p>
                </div>
            </div>
        </div>
    </div>
</p-panel>
