<div class="card">
    <p-dialog *ngIf="visibleCreateModal" [(visible)]="visibleCreateModal" [draggable]="false" [modal]="true"
              [resizable]="false" header="Thêm thông tin ủng hộ" styleClass="lg:w-6 md:w-8 w-11">
        <app-donation-create (resultAction)="onReceiveResult($event, 1)"></app-donation-create>
    </p-dialog>
    <p-dialog *ngIf="visibleUpdateModal" [(visible)]="visibleUpdateModal" [draggable]="false"
              [modal]="true"
              [resizable]="false" header="Chỉnh sửa thông tin ủng hộ" styleClass="lg:w-6 md:w-8 w-11">
        <app-donation-update (resultAction)="onReceiveResult($event, 2)"
                             [idDonation]="idDonationUpdate"></app-donation-update>
    </p-dialog>
    <p-panel [toggleable]="true" header="Công cụ">
        <button (click)="onShowCreateModal()" icon="fa fa-plus" label="Thêm mới" pButton></button>
        <div class="card grid mt-3">
            <div class="xl:col-3 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="donate-remitter">Người ủng hộ</label>
                    <input [(ngModel)]="key.remitter" appendIcon="fa fa-search" class="mat-form-field" id="donate-remitter"
                           pInputText>
                </div>
            </div>
            <div class="xl:col-3 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="donate-payee">Nguồn nhận</label>
                    <input [(ngModel)]="key.payee" appendIcon="fa fa-search" class="mat-form-field" id="donate-payee"
                           pInputText>
                </div>
            </div>
            <div class="xl:col-3 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="donate-from">Từ ngày</label>
                    <p-calendar [(ngModel)]="key.fromDate" [showClear]="true"
                                [showIcon]="true" dataType="string" dateFormat="dd/mm/yy" id="donate-from"
                                styleClass="mat-form-field"></p-calendar>
                </div>
            </div>
            <div class="xl:col-3 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="donate-to">Đến ngày</label>
                    <p-calendar [(ngModel)]="key.toDate" [showClear]="true"
                                [showIcon]="true" dataType="string" dateFormat="dd/mm/yy" id="donate-to"
                                styleClass="mat-form-field"></p-calendar>
                </div>
            </div>
            <div class="col-12">
                <button (click)="onSearch()" icon="fa fa-search" label="Tìm kiếm" pButton></button>
            </div>
        </div>
    </p-panel>
    <p-table #table [paginator]="false" [tableStyle]="{'min-width': '60rem'}" [value]="donates"
             selectionMode="single" styleClass="p-datatable-gridlines mt-3">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Thông tin ủng hộ
                <p-button (onClick)="onRefresh()" icon="fa fa-refresh"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="">
                <th class="col-2">Người ủng hộ</th>
                <th class="col-2">Nguồn nhận</th>
                <th class="col-1">Thời gian</th>
                <th class="col-1">Hình thức</th>
                <th class="col-4">Nội dung</th>
                <th class="col-2">Giá trị</th>
                <th class=""></th>
            </tr>
        </ng-template>
        <ng-template let-donate pTemplate="body">
            <tr>
                <td>{{ donate.remitter }}</td>
                <td>{{ donate.payee }}</td>
                <td>{{ donate.date | date:'dd/MM/yyyy' }}</td>
                <td>{{ donationService.getType(donate.type) }}</td>
                <td>{{ donate.detail }}</td>
                <td>{{ donate.amount | currency: ' ' }} ₫</td>
                <td>
                    <p-button #btn (click)="menu.toggle($event)" icon="fa fa-solid fa-sliders" type="button"></p-button>
                    <p-tieredMenu #menu [model]="donate.menuItems" [popup]="true" appendTo="body" class="p-0"
                                  styleClass="menucus"></p-tieredMenu>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="limit" [showCurrentPageReport]="false"
                 [style]="{'margin-top': '1rem'}"
                 [totalRecords]="totalElements"></p-paginator>
</div>
