<div class="card">
    <p-panel header="Công cụ" [toggleable]="true">
        <div class="card grid mt-3">
            <div class="xl:col-3 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="name">Họ và tên</label>
                    <input pInputText type="text" id="name" [(ngModel)]="key.name">
                </div>            
            </div>
            <div class="xl:col-3 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="phone">Số điện thoại</label>
                    <input pInputText type="text" id="phone" [(ngModel)]="key.phoneNumber">
                </div>
            </div>
            <div class="xl:col-3 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="email">Email</label>
                    <input pInputText type="text" id="email" [(ngModel)]="key.email">
                </div>
            </div>
            <div class="xl:col-3 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="status">Trạng thái</label>
                    <p-dropdown [options]="userService.optionStatus()" id="status" optionLabel="label" optionValue="value"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Tất cả--"
                        emptyMessage="Không có dữ liệu" [(ngModel)]="key.isActivated"></p-dropdown>
                </div>
            </div>
            <div class="col-12">
                <button pButton icon="fa fa-search" label="Tìm kiếm" (click)="getUsers()"></button>
            </div>
        </div>
    </p-panel>
    <p-table #table [value]="users" [tableStyle]="{'min-width': '60rem'}" styleClass="p-datatable-gridlines mt-3"
        selectionMode="single" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[1, 5, 10, 20]">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Tài khoản người dùng
                <p-button icon="fa fa-refresh" (onClick)="onRefresh()"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="">
                <th class="col-4">Họ và tên</th>
                <th class="col-3">Số điện thoại</th>
                <th class="col-3">Email</th>
                <th class="col-2">Trạng thái</th>
                <th class=""></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.phoneNumber}}</td>
                <td>{{user.email}}</td>
                <td>{{userService.getStatus(user.isActivated)}}</td>
                <td>
                    <button pButton [icon]="getIconStatus(user.isActivated)" [ngClass]="userService.isActivated(user.isActivated)" (click)="onConfirmUpdateStatus($event, user)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
        </ng-template>
        <ng-template pTemplate="paginatorright">
        </ng-template>
    </p-table>
</div>