<div *ngIf="contacts" class="top-bar">
    <div class="ml-3 inline info mb-2">
        <div>
            <a class="mr-3" href="tel:{{contacts[0].value}}">
                <i class="fa fa-phone mx-2"></i>
                <span>{{contacts[0].value}}</span>
            </a>
            <a class="mr-3" href="mailto:{{contacts[1].value}}">
                <i class="fa fa-envelope mx-2"></i>
                <span>{{contacts[1].value}}</span>
            </a>
            <a class="mr-3" href="https://www.google.com/maps" target="_blank">
                <i class="fa fa-map mx-2"></i>
                <span class="mr-3">{{contacts[2].value}}</span>
            </a>
        </div>
    </div>
    <div class="mr-4 inline locate mb-1">
        <a href="/">
            <img src="../../../../assets/medias/imgs/flag-vietnam.png" height="24" width="24" class="mr-1"/>
        </a>
    </div>
</div>
