<div class="top-bar">
    <div class="ml-3 inline info mb-2">
        <a class="mr-3" href="/">
            <i class="fa fa-map mx-2"></i>
            <span class="mr-3">Đồng Tâm, Hai Bà Trưng, Hà Nội</span>
        </a>
        <a class="mr-3" href="/">
            <i class="fa fa-envelope mx-2"></i>
            <span class="mr-3">hucepet@gmail.com</span>
        </a>
        <a class="mr-3" href="/">
            <i class="fa fa-phone mx-2"></i>
            <span>0987654xxx</span>
        </a>
    </div>
    <div class="mr-4 inline locate mb-1">
        <a href="/">
            <img src="../../../../assets/medias/imgs/flag-vietnam.png" height="24" width="24" class="mr-1"/>
        </a>
    </div>
</div>