<div *ngIf="pet" class="container mt-5 mb-5 card">
    <p-toast></p-toast>
    <div class="grid">
        <div class="lg:col-7 md:col-8 sm:col-12 col-12">
            <p-dialog *ngIf="visibleCreateModal" header="Đăng ký nhận nuôi" [(visible)]="visibleCreateModal" [modal]="true"
                [style]="{ width: '90vw', height: '100vh' }" [draggable]="false" [resizable]="true">
                <p-panel header="Thông tin cá nhân">
                    <p>Người nhận nuôi: <b>{{userInfo.name}}</b></p>
                    <p>Email liên hệ: <b>{{userInfo.email}}</b></p>
                    <p>Số điện thoại: <b>{{userInfo.phoneNumber}}</b></p>
                    <p class="font-bold font-italic text-red-500">Nếu thông tin của bạn đã thay đổi, hãy cập nhật lại trong mục Tài khoản để HUCE Pet có thể liên hệ với bạn cùng làm việc cho các bước tiếp theo</p>
                    <form [formGroup]="formAdopt">
                        <div class="grid">
                            <div class="xl:col-4 lg:col-4 md:col-4 sm:col-12 col-12">
                                <div class="flex flex-column gap-2">
                                <label for="adopt-province">Tỉnh/thành phố <span class="text-red-500 font-bold">*</span></label>
                                <p-dropdown [options]="provinces" optionLabel="name" optionValue="id"
                                    styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                                    emptyMessage="Không có dữ liệu" formControlName="province" (onChange)="getDistricts()" (onClear)="districts = []; wards = []"></p-dropdown>
                                </div>
                                <div class="col-6"
                                [hidden]="formAdopt.controls['province'].valid || !formAdopt.controls['province'].dirty"
                                class="text-red-500 mt-2 ml-1">
                                Vui lòng chọn tỉnh/thành phố 
                                </div>
                            </div>
                            <div class="xl:col-4 lg:col-4 md:col-4 sm:col-12 col-12">
                                <div class="flex flex-column gap-2">
                                <label for="pet-district">Quận/huyện/thị xã <span class="text-red-500 font-bold">*</span></label>
                                <p-dropdown [options]="districts" id="pet-district" optionLabel="name" optionValue="id"
                                    styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                                    emptyMessage="Không có dữ liệu" (onChange)="getWards()" formControlName="district" (onClear)="wards = []"></p-dropdown>
                                </div>
                                <div class="col-6"
                                [hidden]="formAdopt.controls['district'].valid || !formAdopt.controls['district'].dirty"
                                class="text-red-500 mt-2 ml-1">
                                Vui lòng chọn quận/huyện/thị xã 
                                </div>
                            </div>
                            <div class="xl:col-4 lg:col-4 md:col-4 sm:col-12 col-12">
                                <div class="flex flex-column gap-2">
                                <label for="pet-ward">Xã/phường/thị trấn <span class="text-red-500 font-bold">*</span></label>
                                <p-dropdown [options]="wards" id="pet-ward" optionLabel="name" optionValue="id"
                                    styleClass="mat-form-field" [showClear]="true" placeholder="--Chọn--"
                                    emptyMessage="Không có dữ liệu" formControlName="ward"></p-dropdown>
                                </div>
                                <div class="col-6"
                                [hidden]="formAdopt.controls['ward'].valid || !formAdopt.controls['ward'].dirty"
                                class="text-red-500 mt-2 ml-1">
                                Vui lòng chọn xã/phường/thị trấn 
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="flex flex-column gap-2">
                                <label for="address">Số nhà, tên đường <span class="text-red-500 font-bold">*</span></label>
                                <input pInputText id="address" styleClass="mat-form-field" formControlName="address"/>
                                </div>
                                <div class="col-6"
                                [hidden]="formAdopt.controls['address'].valid || !formAdopt.controls['address'].dirty"
                                class="text-red-500 mt-2 ml-1">
                                    Vui lòng nhập thông tin số nhà, tên đường
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="flex flex-column gap-2">
                                <label for="reason">Lý do nhận nuôi <span class="text-red-500 font-bold">*</span></label>
                                <input pInputText id="reason" styleClass="mat-form-field" formControlName="reason"/>
                                </div>
                                <div class="col-6"
                                [hidden]="formAdopt.controls['reason'].valid || !formAdopt.controls['reason'].dirty"
                                class="text-red-500 mt-2 ml-1">
                                    Vui lòng nhập lý do nhận nuôi
                                </div>
                            </div>
                            <div class="col-12">
                                <p-checkbox formControlName="confirm" [binary]="true" inputId="confirm"></p-checkbox>
                                <label for="confirm" class="ml-2 font-bold">Tôi xác nhận đã đủ hành vi, điều kiện và hoàn toàn chịu mọi trách viện cho việc nhận nuôi thú cưng</label>
                            </div>
                        </div>
                    </form>
                </p-panel>
                <br>
                <p-panel header="Thông tin thú cưng">
                    <div class="grid">
                        <div class="xl:col-3 lg:col-3 md:col-12 col-12 mx-auto">
                            <p class="text-3xl font-semibold">{{pet.name}}</p>
                            <p-divider type="dashed"></p-divider>
                            <p><b>Mã:</b> {{pet.code}}</p>
                            <p-divider type="dashed"></p-divider>
                            <p><b>Giống:</b> {{pet.breed}}</p>
                            <p-divider type="dashed"></p-divider>
                            <p><b>Màu lông:</b> {{pet.color}}</p>
                            <p-divider type="dashed"></p-divider>
                            <p><b>Tuổi:</b> {{this.petService.getAge(pet.age)}}</p>
                            <p-divider type="dashed"></p-divider>
                            <p><b>Cân nặng:</b> {{pet.weight}} kg</p>
                            <p-divider type="dashed"></p-divider>
                            <p><b>Giới tính:</b> {{this.petService.getGender(pet.gender)}}</p>
                            <p-divider type="dashed"></p-divider>
                        </div>
                        <div class="xl:col-9 lg:col-9 md:col-12 col-12 mx-auto">
                            <p class="text-3xl font-semibold mb-1">Thông tin</p>
                            <p-divider></p-divider>
                            <div class="grid mt-1">
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(pet.sterilization)}}" [severity]="petService.getBadgeSeverity(pet.sterilization)"></p-badge> Triệt sản</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(pet.friendlyToHuman)}}" [severity]="petService.getBadgeSeverity(pet.friendlyToHuman)"></p-badge> Thân thiện với người</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(pet.diet)}}" [severity]="petService.getBadgeSeverity(pet.diet)"></p-badge> Chế độ ăn riêng</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(pet.rabies)}}" [severity]="petService.getBadgeSeverity(pet.rabies)"></p-badge> Tiêm dại</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(pet.friendlyToDogs)}}" [severity]="petService.getBadgeSeverity(pet.friendlyToDogs)"></p-badge> Thân thiện với chó</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(pet.toilet)}}" [severity]="petService.getBadgeSeverity(pet.toilet)"></p-badge> Đi vệ sinh đúng chỗ</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(pet.vaccine)}}" [severity]="petService.getBadgeSeverity(pet.vaccine)"></p-badge> Tiêm phòng bệnh</p>
                                </div>
                                <div class="lg:col-3 md:col-6 sm:col-12 col-12">
                                    <p><p-badge value="{{petService.getBadgeValue(pet.friendlyToCats)}}" [severity]="petService.getBadgeSeverity(pet.friendlyToCats)"></p-badge> Thân thiện với mèo</p>
                                </div>
                                <div class="col-12">
                                    <p class="text-3xl font-semibold mb-1">Mô tả</p>
                                    <p-divider></p-divider>
                                    <p class="mt-1">{{pet.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-panel>
                <div class="col-12 mt-3" align="center">
                    <p class="font-bold font-italic text-red-500">Khi nhấn nút 'ĐĂNG KÝ', bạn đồng ý rằng bạn đã xem xét, đảm bảo đủ điều kiện và trách nhiệm cần thiết cho việc chăm sóc và nuôi thú cưng</p>
                    <p-button label="ĐĂNG KÝ" styleClass="mat-form-button" [disabled]="!formAdopt.valid || !formAdopt.dirty" (onClick)="onRegisterAdopt()"></p-button>
                </div>
            </p-dialog>
        </div>
    </div>
    <div class="grid">
        <div class="md:col-5 sm:col-12 mt-3 mx-auto">
            <img src="{{pet.image}}" alt="{{pet.name}}" class="w-full" style="border-radius: 10px; max-height: 600px;">
        </div>
        <div class="md:col-7 col-12 p-3 mx-auto">
            <p class="text-3xl font-semibold">{{pet.name}}</p>
            <p-divider type="dashed"></p-divider>
            <p><b>Mã:</b> {{pet.code}}</p>
            <p-divider type="dashed"></p-divider>
            <p><b>Giống:</b> {{pet.breed}}</p>
            <p-divider type="dashed"></p-divider>
            <p><b>Màu lông:</b> {{pet.color}}</p>
            <p-divider type="dashed"></p-divider>
            <p><b>Tuổi:</b> {{this.petService.getAge(pet.age)}}</p>
            <p-divider type="dashed"></p-divider>
            <p><b>Cân nặng:</b> {{pet.weight}} kg</p>
            <p-divider type="dashed"></p-divider>
            <p><b>Giới tính:</b> {{this.petService.getGender(pet.gender)}}</p>
            <p-divider type="dashed"></p-divider>
            <button *ngIf="petService.isAvailable(pet.status)" pButton label="NHẬN NUÔI" class="mt-3 mr-3" (click)="showCreateModal()"></button>
            <button pButton label="BẠN CÓ CÂU HỎI?" routerLink="/lien-he" class="mt-3 bg-cyan-500 border-cyan-500"></button>
        </div>
        <div class="col-12">
            <p class="text-3xl font-semibold mb-1">Thông tin</p>
            <p-divider></p-divider>
            <div class="grid mt-1">
                <div class="lg:col-3 md:col-6 sm:col-6 col-6">
                    <p><p-badge value="{{petService.getBadgeValue(pet.sterilization)}}" [severity]="petService.getBadgeSeverity(pet.sterilization)"></p-badge> Triệt sản</p>
                </div>
                <div class="lg:col-3 md:col-6 sm:col-6 col-6">
                    <p><p-badge value="{{petService.getBadgeValue(pet.friendlyToHuman)}}" [severity]="petService.getBadgeSeverity(pet.friendlyToHuman)"></p-badge> Thân thiện với người</p>
                </div>
                <div class="lg:col-3 md:col-6 sm:col-6 col-6">
                    <p><p-badge value="{{petService.getBadgeValue(pet.diet)}}" [severity]="petService.getBadgeSeverity(pet.diet)"></p-badge> Chế độ ăn riêng</p>
                </div>
                <div class="lg:col-3 md:col-6 sm:col-6 col-6">
                    <p><p-badge value="{{petService.getBadgeValue(pet.rabies)}}" [severity]="petService.getBadgeSeverity(pet.rabies)"></p-badge> Tiêm dại</p>
                </div>
                <div class="lg:col-3 md:col-6 sm:col-6 col-6">
                    <p><p-badge value="{{petService.getBadgeValue(pet.friendlyToDogs)}}" [severity]="petService.getBadgeSeverity(pet.friendlyToDogs)"></p-badge> Thân thiện với chó</p>
                </div>
                <div class="lg:col-3 md:col-6 sm:col-6 col-6">
                    <p><p-badge value="{{petService.getBadgeValue(pet.toilet)}}" [severity]="petService.getBadgeSeverity(pet.toilet)"></p-badge> Đi vệ sinh đúng chỗ</p>
                </div>
                <div class="lg:col-3 md:col-6 sm:col-6 col-6">
                    <p><p-badge value="{{petService.getBadgeValue(pet.vaccine)}}" [severity]="petService.getBadgeSeverity(pet.vaccine)"></p-badge> Tiêm phòng bệnh</p>
                </div>
                <div class="lg:col-3 md:col-6 sm:col-6 col-6">
                    <p><p-badge value="{{petService.getBadgeValue(pet.friendlyToCats)}}" [severity]="petService.getBadgeSeverity(pet.friendlyToCats)"></p-badge> Thân thiện với mèo</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p class="text-3xl font-semibold mb-1">Mô tả</p>
            <p-divider></p-divider>
            <p class="mt-1">{{pet.description}}</p>
        </div>
    </div>
</div>
<app-card-footer [title]="'BẠN ĐÃ SẴN SÀNG GIÚP ĐỠ?'" [action]="'ỦNG HỘ NGAY'"
    [actionLink]="'/ung-ho'"></app-card-footer>
<div class="container mt-5 mb-5">
    <p-fieldset [toggleable]="true">
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2 px-2">
                <span class="font-bold lg:text-2xl text-xl">Quy trình nhận nuôi</span>
            </div>
        </ng-template>
        <div class="grid">
            <div class="xl:col-8 lg:col-8 md:col-8 sm:col-12 col-12">
                <p class="m-0 text-lg line-height-3">
                    Trước khi quyết định nhận nuôi bé chó hay mèo nào, bạn hãy tự hỏi bản thân rằng mình đã sẵn sàng để
                    chịu trách nhiệm cả đời cho bé chưa, cả về tài chính, nơi ở cũng như tinh thần. Việc nhận nuôi cần
                    được sự đồng thuận lớn từ bản thân bạn cũng như gia đình và những người liên quan. Xin cân nhắc kỹ
                    trước khi liên hệ với HUCE Pet về việc nhận nuôi.
                    <br>
                    Bạn đã sẵn sàng? Hãy thực hiện các bước sau đây nhé:
                    <br>
                    1️⃣ Tìm hiểu về thú cưng bạn muốn nhận nuôi trên trang web của HUCE Pet. <br>
                    2️⃣ Liên hệ với quản trị viên để tìm hiểu thêm về bé. <br>
                    3️⃣ Tham gia phỏng vấn nhận nuôi. <br>
                    4️⃣ Chuẩn bị cơ sở vật chất, ký giấy tờ nhận nuôi và đóng tiền vía để đón bé về. <br>
                    5️⃣ Thường xuyên cập nhật về tình hình của bé, đặc biệt là khi có sự cố để được tư vấn kịp thời.
                    <br>
                    ❗ <b>Lưu ý</b>: <br>
                    - Phần phỏng vấn có thể có nhiều câu hỏi mang tính chất riêng tư, vì vậy mong bạn hãy kiên nhẫn nhé!
                    <br>
                    - Tiền vía mỗi bé sẽ khác nhau tùy thuộc vào tình trạng của bé khi cứu cũng như các dịch vụ y tế
                    (tiêm phòng, triệt sản) đã thực hiện. <br>
                    - Tiền vía dùng để trả các khoản chi về y tế trước đây cho bé, cũng như để hỗ trợ chi phí chăm sóc,
                    nuôi dưỡng các bé khác tại nhà chung. <br>
                    - Trường hợp không nuôi được tiếp cần trả lại cho HUCE Pet, không tự ý đem cho người khác.
                </p>
            </div>
            <div class="xl:col-4 lg:col-4 md:col-4 sm:col-12 col-12" style="height: fit-content;">
                <p-panel iconPos="start">
                    <ng-template pTemplate="header">
                        <div class="flex align-items-center text-center mx-auto">
                            <span class="font-semibold text-2xl">Điều kiện nhận nuôi</span>
                        </div>
                    </ng-template>
                    <p class="font-semibold"><i class="fa fa-paw text-primary mr-1"></i> Tài chính tự chủ và ổn định.</p>
                    <p class="font-semibold"><i class="fa fa-paw text-primary mr-1"></i> Chỗ ở cố định hoặc ít lưu động, ưu
                        tiên ở Hà Nội.</p>
                    <p class="font-semibold"><i class="fa fa-paw text-primary mr-1"></i> Cam kết tiêm phòng và triệt sản.
                    </p>
                </p-panel>
            </div>
        </div>
    </p-fieldset>
    <div *ngIf="pets" class="mt-5 panel">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="flex align-items-center">
                    <h3 class="my-1 mr-2 font-bold">CÁC BÉ KHÁC</h3>
                    <i class="fa-solid fa-paw fa-rotate-by fa-xl text-primary" style="--fa-rotate-angle: 30deg;"></i>
                </div>
            </ng-template>
            <p-carousel [value]="pets" [numVisible]="4" [numScroll]="1" [circular]="true"
                [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">
                <ng-template let-pet pTemplate="item">
                    <div class="mx-1 card-pet">
                        <app-card-pet 
                        [id]="pet.id"
                        [age]="this.petService.getAge(pet.age)"
                        [breed]="pet.breed"
                        [vaccin]="this.petService.getVaccine(pet.vaccine)"
                        [image]="pet.image"
                        [gender]="this.petService.getGender(pet.gender)"
                        [name]="pet.name"
                        ></app-card-pet>
                    </div>
                </ng-template>
            </p-carousel>
            <div class="w-full" align="center">
                <button pButton label="NHẬN NUÔI" routerLink="/cuu-tro" class="mt-3 text-center"></button>
            </div>        
        </p-panel>
    </div>
</div>
<app-card-footer [title]="'BẠN CHƯA ĐỦ ĐIỀU KIỆN MANG BOSS VỀ NHÀ? ỦNG HỘ HUCE PET BẰNG CÁC CÁCH KHÁC NHÉ!'"
    [action]="'TÌM HIỂU NGAY'" [actionLink]="'/ung-ho'"></app-card-footer>