<div *ngIf="pet" class="container mt-5 card">
    <div class="grid">
        <div class="col-5">
            <img src="{{pet.image}}" alt="pet" class="w-full" style="border-radius: 10px;">
        </div>
        <div class="col-7 p-3">
            <p class="text-3xl font-semibold">{{pet.name}}</p>
            <p-divider type="dashed"></p-divider>
            <p><b>Mã:</b> {{pet.code}}</p>
            <p-divider type="dashed"></p-divider>
            <p><b>Giống:</b> {{pet.breed}}</p>
            <p-divider type="dashed"></p-divider>
            <p><b>Tuổi:</b> {{this.petService.getAge(pet.age)}}</p>
            <p-divider type="dashed"></p-divider>
            <p><b>Cân nặng:</b> {{pet.weight}} kg</p>
            <p-divider type="dashed"></p-divider>
            <p><b>Giới tính:</b> {{this.petService.getGender(pet.gender)}}</p>
            <p-divider type="dashed"></p-divider>
            <button pButton label="NHẬN NUÔI" routerLink="/cuu-tro" class="mt-3"></button>
            <button pButton label="BẠN CÓ CÂU HỎI?" routerLink="/lien-he" class="mt-3 ml-3 bg-cyan-500 border-cyan-500"></button>
        </div>
        <div class="col-12">
            <p class="text-3xl font-semibold mb-1">Thông tin</p>
            <p-divider></p-divider>
            <div class="grid mt-1">
                <div class="col-3">
                    <p><p-badge value="{{getBadgeValue(pet.sterilization)}}" [severity]="getBadgeSeverity(pet.sterilization)"></p-badge> Triệt sản</p>
                </div>
                <div class="col-3">
                    <p><p-badge value="{{getBadgeValue(pet.friendlyToHuman)}}" [severity]="getBadgeSeverity(pet.friendlyToHuman)"></p-badge> Thân thiện với người</p>
                </div>
                <div class="col-3">
                    <p><p-badge value="{{getBadgeValue(pet.diet)}}" [severity]="getBadgeSeverity(pet.diet)"></p-badge> Chế độ ăn riêng</p>
                </div>
                <div class="col-3">
                    <p><p-badge value="{{getBadgeValue(pet.rabies)}}" [severity]="getBadgeSeverity(pet.rabies)"></p-badge> Tiêm dại</p>
                </div>
                <div class="col-3">
                    <p><p-badge value="{{getBadgeValue(pet.friendlyToDogs)}}" [severity]="getBadgeSeverity(pet.friendlyToDogs)"></p-badge> Thân thiện với chó</p>
                </div>
                <div class="col-3">
                    <p><p-badge value="{{getBadgeValue(pet.toilet)}}" [severity]="getBadgeSeverity(pet.toilet)"></p-badge> Đi vệ sinh đúng chỗ</p>
                </div>
                <div class="col-3">
                    <p><p-badge value="{{getBadgeValue(pet.vaccin)}}" [severity]="getBadgeSeverity(pet.vaccin)"></p-badge> Tiêm phòng bệnh</p>
                </div>
                <div class="col-3">
                    <p><p-badge value="{{getBadgeValue(pet.friendlyToCats)}}" [severity]="getBadgeSeverity(pet.friendlyToCats)"></p-badge> Thân thiện với mèo</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <p class="text-3xl font-semibold mb-1">Mô tả</p>
            <p-divider></p-divider>
            <p class="mt-1">{{pet.description}}</p>
        </div>
    </div>
</div>
<app-card-footer [title]="'BẠN ĐÃ SẴN SÀNG GIÚP ĐỠ?'" [action]="'ỦNG HỘ NGAY'"
    [actionLink]="'/ung-ho'"></app-card-footer>
<div class="container mt-5">
    <p-fieldset [toggleable]="true">
        <ng-template pTemplate="header">
            <div class="flex align-items-center gap-2 px-2">
                <span class="font-bold lg:text-2xl text-xl">Quy trình nhận nuôi</span>
            </div>
        </ng-template>
        <div class="grid">
            <div class="xl:col-9 lg:col-9 md:col-9 sm:col-12 col-12">
                <p class="m-0 text-md">
                    Trước khi quyết định nhận nuôi bé chó hay mèo nào, bạn hãy tự hỏi bản thân rằng mình đã sẵn sàng để
                    chịu trách nhiệm cả đời cho bé chưa, cả về tài chính, nơi ở cũng như tinh thần. Việc nhận nuôi cần
                    được sự đồng thuận lớn từ bản thân bạn cũng như gia đình và những người liên quan. Xin cân nhắc kỹ
                    trước khi liên hệ với HUCE Pet về việc nhận nuôi.
                    <br>
                    Bạn đã sẵn sàng? Hãy thực hiện các bước sau đây nhé:
                    <br>
                    1️⃣ Tìm hiểu về thú cưng bạn muốn nhận nuôi trên trang web của HUCE Pet. <br>
                    2️⃣ Liên hệ với quản trị viên để tìm hiểu thêm về bé. <br>
                    3️⃣ Tham gia phỏng vấn nhận nuôi. <br>
                    4️⃣ Chuẩn bị cơ sở vật chất, ký giấy tờ nhận nuôi và đóng tiền vía để đón bé về. <br>
                    5️⃣ Thường xuyên cập nhật về tình hình của bé, đặc biệt là khi có sự cố để được tư vấn kịp thời.
                    <br>
                    ❗ <b>Lưu ý</b>: <br>
                    - Phần phỏng vấn có thể có nhiều câu hỏi mang tính chất riêng tư, vì vậy mong bạn hãy kiên nhẫn nhé!
                    <br>
                    - Tiền vía mỗi bé sẽ khác nhau tùy thuộc vào tình trạng của bé khi cứu cũng như các dịch vụ y tế
                    (tiêm phòng, triệt sản) đã thực hiện. <br>
                    - Tiền vía dùng để trả các khoản chi về y tế trước đây cho bé, cũng như để hỗ trợ chi phí chăm sóc,
                    nuôi dưỡng các bé khác tại nhà chung. <br>
                    - Trường hợp không nuôi được tiếp cần trả lại cho HUCE Pet, không tự ý đem cho người khác.
                </p>
            </div>
            <div class="xl:col-3 lg:col-3 md:col-3 sm:col-12 col-12 card bg-cyan-100 p-3" style="height: fit-content;">
                <h4 class="font-semibold">Điều kiện nhận nuôi</h4>
                <p class="font-semibold"><i class="fa fa-paw text-primary mr-1"></i> Tài chính tự chủ và ổn đinh.</p>
                <p class="font-semibold"><i class="fa fa-paw text-primary mr-1"></i> Chỗ ở cố định hoặc ít lưu động, ưu
                    tiên ở Hà Nội.</p>
                <p class="font-semibold"><i class="fa fa-paw text-primary mr-1"></i> Cam kết tiêm phòng và triệt sản.
                </p>
            </div>
        </div>
    </p-fieldset>
    <div *ngIf="pets" class="mt-5 panel">
        <p-panel [toggleable]="true">
            <ng-template pTemplate="header">
                <div class="flex align-items-center">
                    <h3 class="my-1 mr-2 font-bold">CÁC BÉ KHÁC</h3>
                    <i class="fa-solid fa-paw fa-rotate-by fa-xl text-primary" style="--fa-rotate-angle: 30deg;"></i>
                </div>
            </ng-template>
            <p-carousel [value]="pets" [numVisible]="4" [numScroll]="1" [circular]="true"
                [responsiveOptions]="responsiveOptions" [autoplayInterval]="3000">
                <ng-template let-pet pTemplate="item">
                    <div class="mx-1">
                        <app-card-pet 
                        [id]="pet.id"
                        [age]="this.petService.getAge(pet.age)"
                        [breed]="pet.breed"
                        [vaccin]="this.petService.getVaccin(pet.vaccin)"
                        [image]="pet.image"
                        [gender]="this.petService.getGender(pet.gender)"
                        [name]="pet.name"
                        ></app-card-pet>
                    </div>
                </ng-template>
            </p-carousel>
            <div class="w-full" align="center">
                <button pButton label="NHẬN NUÔI" routerLink="/cuu-tro" class="mt-3 text-center"></button>
            </div>        
        </p-panel>
    </div>
</div>
<app-card-footer [title]="'BẠN CHƯA ĐỦ ĐIỀU KIỆN MANG BOSS VỀ NHÀ? ỦNG HỘ HUCE PET BẰNG CÁC CÁCH KHÁC NHÉ!'"
    [action]="'TÌM HIỂU NGAY'" [actionLink]="'/ung-ho'"></app-card-footer>