<div class="card">
    <p-confirmDialog></p-confirmDialog>
    <p-dialog *ngIf="visibleUpdateModal && isManager" header="Chỉnh sửa tài khoản nhận hỗ trợ" [(visible)]="visibleUpdateModal" 
        [modal]="true" [style]="{ width: '90vw' }" [draggable]="false" [resizable]="false">
        <div class="card flex align-items-center gap-2 flex-wrap">
            <p-chip label="fa-solid fa-building-columns"><i class="fa-solid fa-building-columns p-2"></i></p-chip>
            <p-chip label="fa-solid fa-money-check-dollar"><i class="fa-solid fa-money-check-dollar p-2"></i></p-chip>
            <p-chip label="fa-brands fa-paypal"><i class="fa-brands fa-paypal p-2"></i></p-chip>
            <p-chip label="fa-brands fa-cc-paypal"><i class="fa-brands fa-cc-paypal p-2"></i></p-chip>
            <p-chip label="fa-brands fa-cc-visa"><i class="fa-brands fa-cc-visa p-2"></i></p-chip>
            <p-chip label="fa-brands fa-cc-mastercard"><i class="fa-brands fa-cc-mastercard p-2"></i></p-chip>
        </div>
        <form [formGroup]="formUpdate">
            <div class="card grid mt-3">
                <div class="xl:col-3 lg:col-3 md:col-6 sm:col-12 col-12">
                    <div class="flex flex-column gap-2">
                        <label for="name">Tên nguồn nhận <span class="text-red-500">*</span></label>
                        <input pInputText type="text" formControlName="name" id="name">
                    </div>
                    <div class="col-12"
                        [hidden]="formUpdate.controls['name'].valid || !formUpdate.controls['name'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Vui lòng điền tên nguồn nhận
                    </div>            
                </div>
                <div class="xl:col-3 lg:col-3 md:col-6 sm:col-12 col-12">
                    <div class="flex flex-column gap-2">
                        <label for="account-number">Tài khoản <span class="text-red-500">*</span></label>
                        <input pInputText type="text" formControlName="accountNumber" id="account-number">
                    </div>
                    <div class="col-12"
                        [hidden]="formUpdate.controls['accountNumber'].valid || !formUpdate.controls['accountNumber'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Vui lòng điền tài khoản
                    </div>          
                </div>
                <div class="xl:col-3 lg:col-3 md:col-6 sm:col-12 col-12">
                    <div class="flex flex-column gap-2">
                        <label for="owner">Chủ sở hữu <span class="text-red-500">*</span></label>
                        <input pInputText type="text" formControlName="owner" id="owner">
                    </div>
                    <div class="col-12"
                        [hidden]="formUpdate.controls['owner'].valid || !formUpdate.controls['owner'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Vui lòng điền chủ sở hữu
                    </div>       
                </div>
                <div class="xl:col-3 lg:col-3 md:col-6 sm:col-12 col-12">
                    <div class="flex flex-column gap-2">
                        <label for="logo">Biểu tượng <span class="text-red-500">*</span></label>
                        <input pInputText type="text" formControlName="logo" id="logo">
                    </div>
                    <div class="col-12"
                        [hidden]="formUpdate.controls['logo'].valid || !formUpdate.controls['logo'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Vui lòng điền biểu tượng
                    </div>          
                </div>
                <div class="col-12 mt-5 grid justify-content-center" align="center">
                    <div class="md:col-3 col-6">
                        <button pButton label="LƯU" class="mat-form-button" (click)="onUpdateBank()"></button>
                    </div>
                </div>
            </div>
        </form>
    </p-dialog>
    <p-panel *ngIf="isManager" header="Công cụ" [toggleable]="true" styleClass="mb-3">
        <div class="card flex align-items-center gap-2 flex-wrap">
            <p-chip label="fa-solid fa-building-columns"><i class="fa-solid fa-building-columns p-2"></i></p-chip>
            <p-chip label="fa-solid fa-money-check-dollar"><i class="fa-solid fa-money-check-dollar p-2"></i></p-chip>
            <p-chip label="fa-brands fa-paypal"><i class="fa-brands fa-paypal p-2"></i></p-chip>
            <p-chip label="fa-brands fa-cc-paypal"><i class="fa-brands fa-cc-paypal p-2"></i></p-chip>
            <p-chip label="fa-brands fa-cc-visa"><i class="fa-brands fa-cc-visa p-2"></i></p-chip>
            <p-chip label="fa-brands fa-cc-mastercard"><i class="fa-brands fa-cc-mastercard p-2"></i></p-chip>
        </div>
        <form [formGroup]="formAdd">
            <div class="card grid mt-3">
                <div class="xl:col-3 lg:col-3 md:col-6 sm:col-12 col-12">
                    <div class="flex flex-column gap-2">
                        <label for="name">Tên nguồn nhận <span class="text-red-500">*</span></label>
                        <input pInputText type="text" formControlName="name" id="name">
                    </div>
                    <div class="col-12"
                        [hidden]="formAdd.controls['name'].valid || !formAdd.controls['name'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Vui lòng điền tên nguồn nhận
                    </div>            
                </div>
                <div class="xl:col-3 lg:col-3 md:col-6 sm:col-12 col-12">
                    <div class="flex flex-column gap-2">
                        <label for="account-number">Tài khoản <span class="text-red-500">*</span></label>
                        <input pInputText type="text" formControlName="accountNumber" id="account-number">
                    </div>
                    <div class="col-12"
                        [hidden]="formAdd.controls['accountNumber'].valid || !formAdd.controls['accountNumber'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Vui lòng điền tài khoản
                    </div>          
                </div>
                <div class="xl:col-3 lg:col-3 md:col-6 sm:col-12 col-12">
                    <div class="flex flex-column gap-2">
                        <label for="owner">Chủ sở hữu <span class="text-red-500">*</span></label>
                        <input pInputText type="text" formControlName="owner" id="owner">
                    </div>
                    <div class="col-12"
                        [hidden]="formAdd.controls['owner'].valid || !formAdd.controls['owner'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Vui lòng điền chủ sở hữu
                    </div>       
                </div>
                <div class="xl:col-3 lg:col-3 md:col-6 sm:col-12 col-12">
                    <div class="flex flex-column gap-2">
                        <label for="logo">Biểu tượng <span class="text-red-500">*</span></label>
                        <input pInputText type="text" formControlName="logo" id="logo">
                    </div>
                    <div class="col-12"
                        [hidden]="formAdd.controls['logo'].valid || !formAdd.controls['logo'].touched"
                        class="text-red-500 mt-2 ml-1">
                        Vui lòng điền biểu tượng
                    </div>          
                </div>
                <div class="col-12">
                    <button pButton icon="fa fa-plus" label="Thêm mới" (click)="onCreateBank()"></button>
                </div>
            </div>
        </form>
    </p-panel>
    <p-table #table [value]="banks" [tableStyle]="{'min-width': '60rem'}" styleClass="p-datatable-gridlines"
        selectionMode="single" [paginator]="false" [rows]="5">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Tài khoản nhận hỗ trợ
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="">
                <th class="col-3">Tên nguồn nhận</th>
                <th class="col-3">Tài khoản</th>
                <th class="col-3">Chủ sở hữu</th>
                <th class="col-3">Biểu tượng</th>
                <th *ngIf="isManager"></th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="name"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="accountNumber"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="owner"></p-columnFilter>
                </th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bank>
        <tr>
            <td>{{bank.name}}</td>
            <td>{{bank.accountNumber}}</td>
            <td>{{bank.owner}}</td>
            <td><i [ngClass]="bank.logo" class="mr-2"></i> {{bank.logo}}</td>
            <td *ngIf="isManager">
                <div>
                    <p-button #btn type="button" icon="fa fa-solid fa-sliders" (click)="menu.toggle($event)"></p-button>
                    <p-tieredMenu #menu [model]="bank.menuItems" [popup]="true" appendTo="body" class="p-0"
                        styleClass="menucus"></p-tieredMenu>
                </div>
            </td>
        </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="fa fa-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>