<div class="card">
    <p-confirmDialog></p-confirmDialog>
    <p-dialog *ngIf="visibleCreateModal" header="Thêm tài khoản quản trị viên" [(visible)]="visibleCreateModal" [modal]="true"
        [style]="{ }" [draggable]="false" [resizable]="false">
        <app-admin-create (resultAction)="receiveResult($event, 1)"></app-admin-create>
    </p-dialog>
    <p-dialog *ngIf="visibleUpdateModal" header="Chỉnh sửa tài khoản quản trị viên" [(visible)]="visibleUpdateModal" [modal]="true"
        [style]="{ }" [draggable]="false" [resizable]="false">
        <app-admin-update (resultAction)="receiveResult($event, 2)" [idAdmin]="idAdminUpdate"></app-admin-update>
    </p-dialog>
    <p-panel header="Công cụ" [toggleable]="true">
        <button pButton icon="fa fa-plus" label="Thêm mới" (click)="showCreateModal()"></button>
        <div class="card grid mt-3">
            <div class="xl:col-3 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="name">Họ và tên</label>
                    <input pInputText type="text" id="name" [(ngModel)]="search.name">
                </div>            
            </div>
            <div class="xl:col-3 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="phone">Số điện thoại</label>
                    <input pInputText type="text" id="phone" [(ngModel)]="search.phoneNumber">
                </div>
            </div>
            <div class="xl:col-3 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="email">Email</label>
                    <input pInputText type="text" id="email" [(ngModel)]="search.email">
                </div>
            </div>
            <div class="xl:col-3 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="status">Trạng thái</label>
                    <p-dropdown [options]="userService.optionStatus()" id="status" optioLabel="label"
                        styleClass="mat-form-field" [showClear]="true" placeholder="--Tất cả--"
                        emptyMessage="Không có dữ liệu" [(ngModel)]="search.isActivated"></p-dropdown>
                </div>
            </div>
            <div class="col-12">
                <button pButton icon="fa fa-search" label="Tìm kiếm" (click)="getUsers()"></button>
            </div>
        </div>
    </p-panel>
    <p-table #table [value]="admins" [tableStyle]="{'min-width': '60rem'}" styleClass="p-datatable-gridlines mt-3"
        selectionMode="single" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[1, 5, 10, 20]">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Tài khoản quản trị viên
                <p-button icon="fa fa-refresh" (onClick)="refresh()"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="">
                <th class="col-4">Họ và tên</th>
                <th class="col-3">Số điện thoại</th>
                <th class="col-3">Email</th>
                <th class="col-2">Trạng thái</th>
                <th class=""></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-admin>
            <tr>
                <td>{{admin.name}}</td>
                <td>{{admin.phoneNumber}}</td>
                <td>{{admin.email}}</td>
                <td>{{userService.getStatus(admin.isActivated)}}</td>
                <td>
                    <button pButton icon="fa fa-solid fa-edit" [ngClass]="userService.isActivated(admin.isActivated)" (click)="showUpdateModal(admin.id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
        </ng-template>
        <ng-template pTemplate="paginatorright">
            <p-button type="button" icon="fa fa-cloud" styleClass="p-button-text"></p-button>
        </ng-template>
    </p-table>
</div>