<div class="card">
    <p-dialog *ngIf="visibleCreateModal" [(visible)]="visibleCreateModal" [draggable]="false"
              [modal]="true"
              [resizable]="false" header="Thêm thông tin điều trị" styleClass="w-11">
        <app-treatment-create (resultAction)="onReceiveResult($event, 1)" [pets]="petsModified"></app-treatment-create>
    </p-dialog>
    <p-dialog *ngIf="visibleUpdateModal" [(visible)]="visibleUpdateModal" [draggable]="false"
              [modal]="true"
              [resizable]="false" header="Chỉnh thông tin điều trị" styleClass="xl:w-7 lg:w-8 md:w-9 w-11">
        <app-treatment-update (resultAction)="onReceiveResult($event, 2)"
                              [idTreatment]="idTreatmentUpdate"></app-treatment-update>
    </p-dialog>
    <p-panel [toggleable]="true" header="Công cụ">
        <button (click)="onShowCreateModal()" icon="fa fa-plus" label="Thêm mới" pButton></button>
        <div class="card grid mt-3">
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="type">Loại điều trị</label>
                    <p-dropdown [(ngModel)]="key.type" [options]="treatmentService.optionType()" [showClear]="true"
                                emptyMessage="Không có dữ liệu" id="type" optionLabel="label" optionValue="value"
                                placeholder="--Tất cả--" styleClass="mat-form-field">
                    </p-dropdown>
                </div>
            </div>
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="pet">Thú cưng</label>
                    <p-dropdown [(ngModel)]="key.petId" [filter]="true" [options]="pets" [showClear]="true" emptyMessage="Không có dữ liệu"
                                filterBy="code" filterPlaceholder="Mã thú cưng" id="pet"
                                optionLabel="name" optionValue="id" placeholder="--Tất cả--"
                                styleClass="mat-form-field">
                        <ng-template let-pet pTemplate="item">
                            <div class="flex align-items-center">
                                <div>{{ pet.code }} - {{ pet.name }}</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>
            </div>
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="status">Số ngày đi viện</label>
                    <p-dropdown [(ngModel)]="key.daysOfTreatment" [options]="daysOfTreatmentOptions" [showClear]="true"
                                emptyMessage="Không có dữ liệu" id="status" optionLabel="label" optionValue="value"
                                placeholder="--Tất cả--" styleClass="mat-form-field">
                    </p-dropdown>
                </div>
            </div>
            <div class="col-12">
                <button (click)="onSearch()" icon="fa fa-search" label="Tìm kiếm" pButton></button>
            </div>
        </div>
    </p-panel>
    <p-table #table [paginator]="false" [tableStyle]="{'min-width': '60rem'}" [value]="treatments"
             selectionMode="single" styleClass="p-datatable-gridlines mt-3">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Danh sách điều trị
                <p-button (onClick)="onRefresh()" icon="fa fa-refresh"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="">
                <th class="col-2">Thú cưng</th>
                <th class="col-2">Điều trị</th>
                <th class="col-2">Địa chỉ</th>
                <th class="col-1">Nhập viện</th>
                <th class="col-1">Xuất viện</th>
                <th class="col-2">Đơn giá</th>
                <th class="col-1">Số lượng</th>
                <th class="col-1">Trạng thái</th>
                <th class=""></th>

            </tr>
        </ng-template>
        <ng-template let-treatment pTemplate="body">
            <tr>
                <td>{{ treatment.petCode }} - {{ treatment.petName }}</td>
                <td>{{ treatmentService.getType(treatment.type) }} - {{ treatment.name }}</td>
                <td>{{ treatment.location }}</td>
                <td>{{ treatment.startDate | date:'dd/MM/yyyy' }}</td>
                <td>{{ treatment.endDate | date:'dd/MM/yyyy' }}</td>
                <td>{{ treatment.price | currency: ' ' }} ₫</td>
                <td>{{ treatment.quantity }}</td>
                <td>
                    <p-tag [severity]="this.treatmentService.getStatusBadge(treatment.status)"
                           [value]="this.treatmentService.getStatus(treatment.status)"></p-tag>
                </td>
                <td>
                    <p-button #btn (click)="menu.toggle($event)" icon="fa fa-solid fa-sliders" type="button"></p-button>
                    <p-tieredMenu #menu [model]="treatment.menuItems" [popup]="true" appendTo="body" class="p-0"
                                  styleClass="menucus"></p-tieredMenu>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rowsPerPageOptions]="[1, 5, 10, 25]" [rows]="limit"
                 [showCurrentPageReport]="false" [style]="{'margin-top': '1rem'}"
                 [totalRecords]="totalElements"></p-paginator>
</div>
