<div class="card">
    <p-confirmDialog></p-confirmDialog>
    <p-dialog *ngIf="visibleCreateModal" header="Thêm lịch sử kiểm tra đơn nhận nuôi" [(visible)]="visibleCreateModal" [modal]="true"
        [style]="{ width: '90vw', height: '60vh' }" [draggable]="false" [resizable]="false">
        <app-pet-care-log-create (resultAction)="receiveResult($event, 1)"></app-pet-care-log-create>
    </p-dialog>
    <p-dialog *ngIf="visibleUpdateModal" header="Chỉnh sửa lịch sử kiểm tra đơn nhận nuôi" [(visible)]="visibleUpdateModal" [modal]="true"
        [style]="{ width: '90vw', height: '60vh' }" [draggable]="false" [resizable]="false">
        <app-pet-care-log-update (resultAction)="receiveResult($event, 2)" [idLog]="idLogUpdate"></app-pet-care-log-update>
    </p-dialog>
    <p-panel header="Công cụ" [toggleable]="true">
        <button pButton icon="fa fa-plus" label="Thêm mới" (click)="showCreateModal()"></button>
        <div class="card grid mt-3">
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="adoption">Đơn nhận nuôi</label>
                    <p-dropdown [options]="adopts" optionLabel="code" optionValue="id" [filter]="true" filterBy="code" 
                    emptyMessage="Không có dữ liệu" filterPlaceholder="Mã đơn nhận nuôi" id="adoption"
                    [showClear]="true" placeholder="--Tất cả--" styleClass="mat-form-field" [(ngModel)]="key.adoptId">
                        <ng-template let-adopt pTemplate="item">
                            <div class="flex align-items-center">
                                <div>{{ adopt.code }} - [ {{ adopt.petName }} ]</div>
                            </div>
                        </ng-template>
                    </p-dropdown>
                </div>            
            </div>
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="log-from">Từ ngày</label>
                    <p-calendar id="log-from" [showIcon]="true" dateFormat="dd/mm/yy" styleClass="mat-form-field" dataType="string" [(ngModel)]="key.fromDate"></p-calendar>
                </div>
            </div>
            <div class="xl:col-4 lg:col-6 md:col-6 sm:col-12 col-12">
                <div class="flex flex-column gap-2">
                    <label for="log-to">Đến ngày</label>
                    <p-calendar id="log-to" [showIcon]="true" dateFormat="dd/mm/yy" styleClass="mat-form-field" dataType="string" [(ngModel)]="key.toDate"></p-calendar>
                </div>
            </div>
            <div class="col-12">
                <button pButton icon="fa fa-search" label="Tìm kiếm" (click)="getLogs()"></button>
            </div>
        </div>
    </p-panel>
    <p-table #table [value]="logs" [tableStyle]="{'min-width': '60rem'}" styleClass="p-datatable-gridlines mt-3"
        selectionMode="single" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[1, 5, 10, 20]">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                Lịch sử kiểm tra
                <p-button icon="fa fa-refresh" (onClick)="refresh()"></p-button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr class="">
                <th class="col-2">Đơn nhận nuôi</th>
                <th class="col-2" pSortableColumn="petName">Thú cưng <p-sortIcon field="petName"></p-sortIcon></th>
                <th class="col-2" pSortableColumn="date">Ngày kiểm tra <p-sortIcon field="date"></p-sortIcon></th>
                <th class="col-6">Nội dung</th>
                <th class=""></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-log>
            <tr>
                <td>{{log.adoptCode}}</td>
                <td>{{log.petName}}</td>
                <td>{{log.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{log.note}}</td>
                <td>
                    <p-button #btn type="button" icon="fa fa-solid fa-sliders" (click)="menu.toggle($event)"></p-button>
                    <p-tieredMenu #menu [model]="log.menuItems" [popup]="true" appendTo="body" class="p-0"
                        styleClass="menucus"></p-tieredMenu>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft">
            <p-button type="button" icon="fa fa-plus" styleClass="p-button-text" (click)="showCreateModal()"></p-button>
        </ng-template>
        <ng-template pTemplate="paginatorright">
        </ng-template>
    </p-table>
</div>